<div class="product">
    <div class="centeral-content">
        <div></div>
        <div class="product-panel">
            <div class="u36DemiBold_v2 mb16">{{ product.title }}</div>
            <div class="u30DemiBold_v2 mb16">{{ product.price | money }}</div>
            <div class="sale mb16">
                <div class="u20DemiBold_v2">€2.699,00 NOW</div>
                <div class="u17DemiBold_v2">with Green travel sale</div>
            </div>
            <div class="sale_acc mb16">
                <div class="u14Light_v2">And get €169 Accessories for <span class="u20DemiBold_v2">Free</span></div>
                <div class="accs">
                    <div class="acc">
                        <img src=""/>
                        <span class="u11Medium_v2"></span>
                    </div>
                </div>
                <div class="u11Light_v2">*Not available with leasing</div>
            </div>
        </div>
    </div>
</div>

<script>
    const r = '{{ settings.sale_accessories_ids | split }}'

    console.log(r)
</script>