<div class="product">
    <div class="centeral-content">
        <div></div>
        <div class="product-panel">
            <div class="u36DemiBold_v2">{{ product.title }}</div>
            <div class="u36DemiBold_v2">{{ product.price | money }}</div>
        </div>
    </div>
</div>