<div class="size-and-specs" {{ hide_balabalabala }}>
  <div class="centeral-content">
    <div class="item">
      <div class="u36DemiBold_v2"><img class="down lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20413.svg?v=1688982520" alt=""/> Size Guide and Fit</div>
      <div class="content sizes">
        <div class="texts">
          <div class="text u11DemiBold_v2">
            <div>Recomm. rider height</div>
            <div>A. Adjustable seat range</div>
            <div>B. Handlebar grips height</div>
            <div>C. Seat tube length</div>
            <div>D. Wheelbase</div>
            <div>E. Overall length</div>
            <div>F. Wheel diameter</div>
            <div>G. Top tube length (effective)</div>
            <div>H. Head tube length</div>
            <div>I. Headset height</div>
          </div>
          <div class="text">
            <div>165-190 cm</div>
            <div>140 mm</div>
            <div>1085-1115 mm</div>
            <div>485 mm</div>
            <div>1205 mm</div>
            <div>1935 mm</div>
            <div>730 mm</div>
            <div>633 mm</div>
            <div>144 mm</div>
            <div>90-120 mm</div>
          </div>
        </div>
        <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20240108-181634.png?v=1704709013" alt="">
      </div>
    </div>
    <div class="item __pf __pf_lUQL6LKn">
      <div class="u36DemiBold_v2"><img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20413.svg?v=1688982520" alt=""/>Specs</div>
      <div class="content">
        <div
          data-section-id="pf-f457"
          data-pf-type="Section"
          class="sc-fmciRz bheIgq pf-637_">
          <div style="--cw:1280px" class="sc-gjNHFA gwWIgj">
            <div
              class="sc-ezbkAF A-dmbO pf-643_ pf-r pf-c-cm pf-r-eh"
              style="--s-xs:15px;justify-content:unset;"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:1.5;--c-sm:0.75;--c-md:0.75;--c-lg:0.75">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-644_">
                  <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-645_"><img
                      class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon2-1649931441565.png?v=1649931443"
                      width="2560"
                      height="1829" /></div>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:1.5;--c-sm:0.75;--c-md:0.75;--c-lg:0.75">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-646_">
                  <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-647_"><img
                  class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/cpsc_logo-1662445677565.svg?v=1662445680"
                      width="40"
                      height="44" /></div>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:1.5;--c-sm:0.75;--c-md:0.75;--c-lg:0.75">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-648_">
                  <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-649_"><img
                    class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon1png-1649931441566.png?v=1649931446"
                      width="540"
                      height="546" /></div>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-650_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-651_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-652_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-654_">Smart Functions</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-655_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-656_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-657_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-659_">Smartbar features</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-660_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-662_">Voice control, fingerprint start, LED dot - matrix display, haptic interaction, bluetooth music, built-in navigation, OTA upgrade</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-663_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-664_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-666_">Connectivity</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-667_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-669_">eSIM with 4G, Bluetooth, GPS</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-670_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-671_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-673_">IoT sensors</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-674_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-676_">Accelerometer, gyroscope, torque sensor</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-677_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-678_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-679_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-681_">App</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-682_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-684_">iOS &amp; Android</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-678_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-679_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-681_">Connect Service</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-682_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-684_">1 year included*</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-685_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-686_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-687_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-689_">Power</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-690_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-691_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-692_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-694_">Motor</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-695_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-697_">Mid-Drive Motor (Bafang), 36V 250W, 95Nm</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-698_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-699_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-701_">Speed modes</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-702_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-704_">Pedal, Eco, Comfort, Sport, Turbo</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-705_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-706_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-708_">Top speed (assisted)</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-709_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-711_">25 km/h</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-712_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-713_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-714_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-716_">Range</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-717_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-719_">Up to 120 km</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-720_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-721_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-723_">Removable battery</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-724_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-726_">529.2 Wh, 21700 Samsung Li-ion</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-727_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-728_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-729_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-731_">General</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-732_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-733_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-734_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-736_">Weight</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-737_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-739_">Fusion: From 23 kg <br>Fusion CVT: From 24 kg</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-740_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-741_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-743_">Load-bearing capacity</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-744_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-746_">Total max load 150 kg</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-747_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-748_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-750_">Sizes&nbsp;</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-751_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-753_">One size, suitable for 160-190 cm</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-754_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-755_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-756_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-758_">Body material</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-759_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-761_">Carbon fiber (frame)</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-762_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-763_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-765_">Fork</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-766_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-768_">SR Suntour suspension fork with 100 mm travel</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-769_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-770_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-772_">Seat Post</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-773_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-775_">Fusion: Aluminum seat post <br>Fusion CVT: SR Suntour NCX Suspension</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-776_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-777_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-778_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-780_">Transmission</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-781_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-783_">Fusion: Shimano CUES U6000 1X10 Speed <br>Fusion CVT: Enviolo Heavy Duty (Ratio 380%)</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-784_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-785_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-787_">Drivetrain</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-788_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-790_">Fusion: KMC e10 Turbo <br>Fusion CVT: Gates CDX carbon belt</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-791_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-792_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-794_">Brakes</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-795_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-797_">Fusion: TEKTRO HD-M280 disc brakes <br>Fusion CVT: Magura MT4 eSTOP disc brakes</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-776_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-777_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-778_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-780_">Integrated lights</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-781_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-783_">StVZO headlight</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-784_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-785_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-787_">Wheels</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-788_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-790_">28 Inch</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-791_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-792_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-794_">Tires</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-795_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-797_">Schwalbe Big Apple 55-622(28X2.15)</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-803_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-804_">
                  <p class="sc-jtXEFf jydWoQ pf-808_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-810_ u11Light_v2">*This service will be automatically activated once the bike is activated and bound to your account. We provide free access in the first year, with the following terms to be renewed by subscription to this service. A code will be sent to your email which can be used to renew the service in our App.</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.size-and-specs .u36DemiBold_v2').click(function () {
        $(this)
            .siblings('.size-and-specs .content')
            .slideToggle()
            .parent()
            .siblings()
            .find('.size-and-specs .content')
            .slideUp();
        $(this).children('img').toggleClass('down');
        $(this)
            .parent()
            .siblings()
            .find('.size-and-specs .u36DemiBold_v2')
            .children('img')
            .addClass('down');
    });
</script>