<div data-section-id="pf-68d8" id="mind-service" data-pf-type="Section" class="sc-fmciRz bheIgq pf-60_"><div class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-61_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-62_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-63_"><div id="section6">
    <!--<div class="u42DemiBold">Peace of Mind Services</div>-->
    <div class="boxs">
      <div id="storepoint-container" data-tags="de" data-map-id="162f21804990ff"></div>
      <div class="texts">
        <div class="text">
          <div class="u30DemiBold">After-sales service, Worldwide</div>
          <div class="u17Light_v2">We have over 20 authorized repair shops across major cities in Germany to provide reliable after-sales service for our e-bikes. Our repair partners are experts in their field and have been carefully selected and trained to provide you with quality products and services.<br><br> Simply visit one of our authorized repair shops for repairs or maintenance. We’re committed to ensuring that you have a positive experience with our e-bikes.</div>
          <a class="my-button my-button-black" href="/pages/find-a-dealer">Find a Store</a>
        </div>
      </div>
		<div class="texts">
		  <div class="text">
			<div class="u30DemiBold">14-Day Free Return</div>
			<div class="u17Light_v2"> Free return of unused products within 14 days of delivery.</div>
			<a class="u20DemiBold" href="/pages/care">Learn more</a>
		  </div>
		  <div class="text">
			<div class="u30DemiBold">2-Year Warranty</div>
			<div class="u17Light_v2"> All Urtopia bikes are covered under our 2-year Limited Warranty for the owner against all manufacturing defects.</div>
			<a class="u20DemiBold" href="/pages/care">Learn more</a>
		  </div>
		</div>
	   <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230213-untitled-5440.jpg?v=1678012461">
    </div>
  </div>


<style>
#section6 {
  max-width: 1280px;
  margin: auto;
}

#section6 .u42DemiBold {
  margin: 60px auto;
  text-align: center;
}

#section6 .boxs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, minmax(500px, auto));
    background-color: #f7f8fa;
}

#section6 .boxs .texts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;

}


#section6 .boxs .texts .text {
  max-width: 400px;
}

#section6 .boxs .u17Light_v2 {
  margin: 30px 0 10px 0;
}

#section6 .boxs .texts .u20DemiBold {
    text-decoration: underline;
}

  #section6 .boxs .my-button {
	margin-top: 20px;
  }


#mind-service {
    padding: 0;
    border: none;
    background-color: #fff;
    border-radius: 0;
    margin-top: 80px;
}


@media (max-width: 767px) {
    #mind-service {
        padding: 0 15px;
        margin-top: 40px;
    }

  #section6 .boxs {
    display: flex;
    flex-direction: column;
  }

  #section6 .u42DemiBold {
    margin-bottom: 10%;
    text-align: left;
    font-size: 24px;
	    margin-top: 0;
  }

  #section6 .boxs .u17Light_v2 {
    font-size: 15px;
  }

  #section6 .boxs .texts {
    padding: 10% 15px;
  }

  #section6 .boxs .texts .text + .text {
    margin-top: 15%;
  }

  #section6 .boxs .texts .u30DemiBold {
    font-size: 24px;
  }

  #section6 .boxs .texts .text .u17Light {
    font-size: 15px;
    margin-top: 15px;
  }

  #section6 .boxs .texts .u20DemiBold {
    font-size: 14px;
  }

  #section6 .boxs > *:nth-child(3) {
    order: 2;
  }

  #section6 .boxs > *:nth-child(4) {
    order: 1;
  }
}
</style>

<style>
  #storepoint-tag-dropdown,
  #storepoint-search,
  #storepoint-panel {
	 display:none!important;
  }
  
  #storepoint-map,
  #storepoint-container,
  #storepoint-map canvas {
	width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    border: none;
  }
  
  @media (max-width: 767px) {
	#storepoint-container {
	  min-height: calc(100vw - 30px);
   }
  }
</style>

<script>
  (function(){
		var a=document.createElement("script");
		a.type="text/javascript";
		a.defer=!0;
		a.src="https://cdn.storepoint.co/api/v1/js/162f21804990ff.js";
		var b=document.getElementsByTagName("script")[0];
		b.parentNode.insertBefore(a,b);}());
</script></div></div></div></div></div></div>