<div class="product">
    <div class="centeral-content">
        <div></div>
        <div class="product-panel">
            <div class="u36DemiBold_v2">{{ product.title }}</div>
            <div class="u30DemiBold_v2">{{ product.price | money }}</div>
            <div class="sale">
                <div></div>
                <div class="u17DemiBold_v2">with Green travel sale</div>
            </div>
        </div>
    </div>
</div>