<div class="size-and-specs">
  <div class="centeral-content">
    <div class="item">
      <div class="u36DemiBold_v2"><img class="down" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20413.svg?v=1688982520" alt=""/> Size Guide</div>
      <div class="content sizes">
        <div class="texts">
          <div class="text u11DemiBold_v2">
            <div style="color: #fff;">sss</div>
            <div>Recomm. rider height</div>
            <div>A. Standover height</div>
            <div>B. Adjustable seat range</div>
            <div>C. Handlebar grips height</div>
            <div>D. Seat tube length</div>
            <div>E. Wheelbase</div>
            <div>F. Overall length</div>
            <div>G. Wheel diameter</div>
            <div>H. Top tube length (effective)</div>
            <div>I. Head tube length</div>
            <div>J. Headset height</div>
          </div>
          <div class="text">
            <div class="u17DemiBold_v2">Medium</div>
            <div>170-185 cm</div>
            <div>800 mm</div>
            <div>60 mm</div>
            <div>1010 mm</div>
            <div>460 mm</div>
            <div>1080 mm</div>
            <div>1810 mm</div>
            <div>690 mm</div>
            <div>580 mm</div>
            <div>170 mm</div>
            <div>100 mm</div>
          </div>
          <div class="text">
            <div class="u17DemiBold_v2">Large</div>
            <div>180-195 cm</div>
            <div>840 mm</div>
            <div>60 mm</div>
            <div>1020 mm</div>
            <div>500 mm</div>
            <div>1120 mm</div>
            <div>1850 mm</div>
            <div>690 mm</div>
            <div>610 mm</div>
            <div>180 mm</div>
            <div>100 mm</div>
          </div>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230413-101607.jpg?v=1681352192" alt="">
      </div>
    </div>
    <div class="item __pf __pf_lUQL6LKn">
      <div class="u36DemiBold_v2"><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20413.svg?v=1688982520" alt=""/>Specs</div>
      <div class="content">
        <div
          data-section-id="pf-f457"
          data-pf-type="Section"
          class="sc-fmciRz bheIgq pf-637_">
          <div style="--cw:1280px" class="sc-gjNHFA gwWIgj">
            <div
              class="sc-ezbkAF A-dmbO pf-643_ pf-r pf-c-cm pf-r-eh"
              style="--s-xs:15px;justify-content:unset;"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:0.5;--c-sm:0.5;--c-md:0.5;--c-lg:0.5">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-644_">
                  <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-645_"><img
                      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon2-1649931441565.png?v=1649931443"
                      srcSet="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon2-1649931441565.png?v=1649931443 1536w"
                      width="2560"
                      height="1829" /></div>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:0.5;--c-sm:0.5;--c-md:0.5;--c-lg:0.5">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-646_">
                  <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-647_"><img
                      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/cpsc_logo-1662445677565.svg?v=1662445680"
                      width="40"
                      height="44" /></div>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:0.5;--c-sm:0.5;--c-md:0.5;--c-lg:0.5">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-648_">
                  <div data-pf-type="Image" class="sc-jgrJph bzUUvT pf-649_"><img
                      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon1png-1649931441566.png?v=1649931446"
                      srcSet="https://cdn.shopify.com/s/files/1/0583/5810/4213/t/63/assets/icon1png-1649931441566.png?v=1649931446 1536w"
                      width="540"
                      height="546" /></div>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-650_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-651_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-652_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-654_">Smart</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-655_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-656_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-657_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-659_">Smartbar features</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-660_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-662_">Voice control, fingerprint unlock, LED dot-matrix display</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-663_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-664_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-666_">Connectivity</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-667_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-669_">eSIM with 4G, Bluetooth &amp; WiFi</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-670_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-671_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-673_">IoT sensors</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-674_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-676_">accelerometer, gyroscope &amp; torque</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-677_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-678_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-679_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-681_">App</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-682_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-684_">iOS &amp; Android</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-678_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-679_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-681_">Digital Service</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-682_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-684_">1 year included*</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-685_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-686_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-687_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-689_">Power</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-690_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-691_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-692_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-694_">Motor</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-695_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-697_">Carbon 1: 36V 250W(rated), 35 N.m <br>Carbon 1s: 36V 250W(rated), 45 N.m </span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-698_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-699_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-701_">Speed modes</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-702_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-704_">Pedal, Eco, Comfort, Sport, Turbo&nbsp;</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-705_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-706_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-708_">Top speed (assisted)</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-709_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-711_">20 mph</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-712_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-713_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-714_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-716_">Range</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-717_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-719_">40～100 km</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-720_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-721_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-723_">Removable battery</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-724_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-726_">9.8 Ah 352.8 Wh Samsung Li-ion, 2.5-hr quick charge</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-727_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-728_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-729_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-731_">General</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-732_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-733_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-734_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-736_">Weight</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-737_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-739_">Carbon 1: &nbsp;&nbsp;15 kg<br>Carbon 1s: &nbsp;&nbsp;15.8 kg</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-740_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-741_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-743_">Load-bearing capacity</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-744_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-746_">Max. 110 kg.</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-747_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-748_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-750_">Sizes&nbsp;</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-751_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-753_">Medium, Large (see Size Guide)</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-754_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-755_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-756_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-758_">Body material</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-759_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-761_">Carbon fiber (frame, fork, handlebar, seatpost)</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-762_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-763_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-765_">Brakes</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-766_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-768_">Front &amp; rear dual-piston hydraulic disc</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-769_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-770_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-772_">Gearing</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-773_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-775_">Carbon 1: Gates Carbon Drive™ CDN™ belt(up to 30,000km)<br><br>Carbon 1s: Shimano 7-Speed Rear Drivetrain with ALIVIO Rear Derailleur</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-776_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-777_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-778_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-780_">Integrated lights</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-781_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-783_">StVZO headlight; Advanced Rear Early-indication System (ARES)</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-784_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-785_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-787_">Wheels</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-788_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-790_">700C (ISO 622 mm BSD), inner rim 19 mm</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-791_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-792_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-794_">Tires</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-795_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-797_">Kenda Kwest 700x35C (35 mm / 1.4”) (30~45 mm compatible)</span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-798_ pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-799_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-800_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-802_">What’s in the Box</span>
                  </h3>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-803_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-804_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-805_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-807_">Urtopia Carbon one</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-808_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-810_">Front Wheel, Frame, Seatpost, saddle, Pedals</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-811_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-812_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-814_">Removable battery</span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-815_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-817_">Battery, Charger, Battery key</span>
                  </p>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-818_">
                  <h3 data-pf-type="Heading" class="sc-cTAqQK eHolsa pf-819_">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-821_">Frame (accessory) bag
                    </span>
                  </h3>
                  <p class="sc-jtXEFf jydWoQ pf-822_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-824_">4mm Allen wrench, 15mm combination wrench, front-wheel quick-release device
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="sc-ezbkAF A-dmbO pf-803_ without-padding-bt pf-r pf-r-eh"
              style="--s-xs:15px;--s-lg:5px"
              data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12">
                <div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-804_">
                  <p class="sc-jtXEFf jydWoQ pf-808_" data-pf-type="Paragraph">
                    <span data-pf-type="Text" class="sc-jKTccl dCeBIC pf-810_ u11Light_v2" style="font-size: 12px;color: #999;line-height: 1.5em;">*This service will be automatically activated once the bike is activated and bound to your account. We provide free access in the first year, with the following terms to be renewed by subscription to this service. A code will be sent to your email which can be used to renew the service in our App.</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.size-and-specs .u36DemiBold_v2').click(function () {
        $(this)
            .siblings('.size-and-specs .content')
            .slideToggle()
            .parent()
            .siblings()
            .find('.size-and-specs .content')
            .slideUp();
        $(this).children('img').toggleClass('down');
        $(this)
            .parent()
            .siblings()
            .find('.size-and-specs .u36DemiBold_v2')
            .children('img')
            .addClass('down');
    });
</script>