
{% if template %}
    {% case template | json %}
        {% when 'index' %}
        {% when 'product.pf-b10ddb73' %}
        {% when 'product.pf-d095440b' %}
        {% when 'page.pf-3b2bc3c4' %}
        {% when 'page.jobrad' %}
        {% when 'page.pf-59c57289' %}    
        {% else %}
            <script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1.14.2-TweenMax.js?v=1663912518"></script>
            <script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2.0.3-ScrollMagic.min.js?v=1663912592"></script>
            <script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2.0.3-animation.gsap.js?v=1663912682"></script>
            <script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2.0.3-debug.addIndicators.js?v=1663912891"></script>
    {% endcase %}
{% else %}
{% endif %}



<script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1.9.1-jquery.min.js?v=1663911504"></script>
<script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/8-swiper-bundle.min.js?v=1663912984"></script>
<script>
// 普通页面清掉这两个参数
window.sessionStorage.checkout_email = ''
window.sessionStorage.checkout_email_local = ''
    // 当前页面id
const current_page_id = '{{ template }}'
console.log('current_page_id:', current_page_id);

// 立即执行
(w => {
    const falg = w.sessionStorage.carbon_one_a_b_test_flag

    // carbon 车 A/B TEST ,出现50% 的概率
    if (!falg) {
        w.sessionStorage.carbon_one_a_b_test_flag = Math.round(Math.random()) === 11 ? 'B' : 'A'
    }    
})(window);

// isSendBeacon 是否使用 sendBeacon api 保证页面退出时提交后端数据
function fetchBuried (name = '', type = '', data = {}, isSendBeacon = false) {
    
    const body = {
        module: "website-de",
        trace_name: `${name}-de`,
        trace_type: `${type}-${document.body.clientWidth > 768 ? 'pc' : 'mb'}` + (window.__SHOPIFY_CLI_ENV__ ? ':test' : ''),
        extras: data
    }

    return isSendBeacon ? navigator.sendBeacon('https://api.newurtopia.com/third_part/traces', JSON.stringify(body)) : fetch("https://api.newurtopia.com/third_part/traces", {
        method: "POST",
        body: JSON.stringify(body),
        headers: {
            "Content-Type": "application/json",
        },
    })
}

// 查询url 参数
function getSearchValues () {
    const search = {}

    // 页面url
    const url = new URL(location.href)

    for (const [k, v] of url.searchParams.entries()) {
        search[k] = v
    }

    return search
}


function debounce(fn, wait) {
    // 自由变量，debounce执行完成被释放，time也不会被释放
    let time;
    // 返回一个闭包，接受参数
    return function (...args) {
        // 保存闭包被调用时的this
        const this_ = this;
        // 清除上一次的定时器
        if (time) {
            clearTimeout(time);
        };
        // 不再是直接执行fn，在内部传递参数
        time = setTimeout(function () {
            // 通过apply修改fn的this
            fn.apply(this_, args);
        }, wait);
    }
};

function throttle(method, delay, duration){
    var timer=null;
    var begin=new Date();    
    return function(){                
        var context=this, args=arguments;
        var current=new Date();        
        clearTimeout(timer);
        if(current-begin>=duration){
            method.apply(context,args);
            begin=current;
        }else{
            timer=setTimeout(function(){
                method.apply(context,args);
            },delay);
        }
    }
}


 // 视频播放
 function showVideoDialog (src = '') {
    console.log('src', src)
    if (!src) {
        return
    }
    const template = `<div class="video-box">
        <iframe
            width="${document.body.clientWidth > 768 ? 840 : document.body.clientWidth * 0.84 }"
            height="${document.body.clientWidth > 768 ? 472 : 'auto'}"
            src="${src}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        ></iframe>
        <span class="close" onclick="closeMiniDialog()">x</span>
    </div>`
    showMiniDialog(template)
 }

    function showMiniDialog(html = '') {
        const mini_dialog = $('body .mini-dialog')

        if (mini_dialog.length) {
            return setTimeout(showMiniDialog, 5000, html)
        }
        

        // $('body .mini-dialog').remove()
        setTimeout(() => {
            $("body").append(`<div class="mini-dialog" style="display: flex;">${html}</div>`)
        })
    }
    
    function closeMiniDialog() {
        // console.log(a === document.querySelector('body .mini-dialog'))
        $('body .mini-dialog').remove()
    }  

class MyStorage {
    constructor(props) {
      this.props = props || {};
      this.source = this.props.source || window.localStorage;
      this.initrun();
    }
    initrun() {
      /*
       * set 存储方法
       * @ param {string} key 键
       * @ param {string} value 值，存储的值可能是数组/对象，不能直接存储，需要转换 json.stringify
       * @ param {string} expired 过期时间，以分钟为单位
       * @ 由@it·平头哥联盟-首席填坑官∙苏南 分享
       */
      const reg = new RegExp('__expires__');
      let data = this.source;
      let list = Object.keys(data);
      if (list.length > 0) {
        list.map((key, v) => {
          if (!reg.test(key)) {
            let now = Date.now();
            let expires = data[`${key}__expires__`] || Date.now() + 1;
            if (now >= expires) {
              this.remove(key);
            }
          }
          return key;
        });
      }
    }

    set(key, value, expired = 3) {
      /*
      * set 存储方法
      * @ param {string} key 键
      * @ param {string} value 值，
      * @ param {string} expired 过期时间，以分钟为单位，非必须
      * @ 由@it·平头哥联盟-首席填坑官∙苏南 分享
      */
      let source = this.source;
      source[key] = JSON.stringify(value);
      if (expired){
      source[`${key}__expires__`] = Date.now() + 1000 * 60 * 60 * 24 * expired
      };
      return value;
     }

    get(key) {
      /*
      * get 获取方法
      * @ param {string} key 键
      * @ param {string} expired 存储时为非必须字段，所以有可能取不到，默认为 date.now+1
      * @ 由@it·平头哥联盟-首席填坑官∙苏南 分享
      */
      const source = this.source,
      expired = source[`${key}__expires__`]||Date.now()+1;
      const now = Date.now();
      
      if ( now >= expired ) {
      this.remove(key);
      return;
      }
      const value = source[key] ? JSON.parse(source[key]) : source[key];
      return value;
     }

    remove(key) {
      const data = this.source,
      value = data[key];
      delete data[key];
      delete data[`${key}__expires__`];
      return value;
     }
  }
/*! lozad.js - v1.0.8 - 2017-10-13
* https://github.com/ApoorvSaxena/lozad.js
* Copyright (c) 2017 Apoorv Saxena; Licensed MIT */
!function(t, e) {
    "object" == typeof exports && "undefined" != typeof module ? module.exports = e() : "function" == typeof define && define.amd ? define(e) : t.lozad = e()
}(this, function() {
    "use strict";
    function t(t) {
        t.setAttribute("data-loaded", !0)
    }
    var e = Object.assign || function(t) {
        for (var e = 1; e < arguments.length; e++) {
            var r = arguments[e];
            for (var o in r)
                Object.prototype.hasOwnProperty.call(r, o) && (t[o] = r[o])
        }
        return t
    }
      , r = {
        rootMargin: "0px",
        threshold: 0,
        load: function(t) {
            t.getAttribute("data-src") && (t.src = t.getAttribute("data-src")),
            t.getAttribute("data-srcset") && (t.srcset = t.getAttribute("data-srcset")),
            t.getAttribute("data-background-image") && (t.style.backgroundImage = "url(" + t.getAttribute("data-background-image") + ")")
        }
    }
      , o = function(t) {
        return "true" === t.getAttribute("data-loaded")
    }
      , n = function(e) {
        return function(r, n) {
            r.forEach(function(r) {
                r.intersectionRatio > 0 && (n.unobserve(r.target),
                o(r.target) || (e(r.target),
                t(r.target)))
            })
        }
    };
    return function() {
        var a = arguments.length > 0 && void 0 !== arguments[0] ? arguments[0] : ".lozad"
          , i = arguments.length > 1 && void 0 !== arguments[1] ? arguments[1] : {}
          , u = e({}, r, i)
          , d = u.rootMargin
          , c = u.threshold
          , s = u.load
          , g = void 0;
        return window.IntersectionObserver && (g = new IntersectionObserver(n(s),{
            rootMargin: d,
            threshold: c
        })),
        {
            observe: function() {
                for (var e = document.querySelectorAll(a), r = 0; r < e.length; r++)
                    o(e[r]) || (g ? g.observe(e[r]) : (s(e[r]),
                    t(e[r])))
            },
            triggerLoad: function(e) {
                o(e) || (s(e),
                t(e))
            }
        }
    }
});

/*! lazysizes - v5.3.2 */

!function(e){var t=function(u,D,f){"use strict";var k,H;if(function(){var e;var t={lazyClass:"lazyload",loadedClass:"lazyloaded",loadingClass:"lazyloading",preloadClass:"lazypreload",errorClass:"lazyerror",autosizesClass:"lazyautosizes",fastLoadedClass:"ls-is-cached",iframeLoadMode:0,srcAttr:"data-src",srcsetAttr:"data-srcset",sizesAttr:"data-sizes",minSize:40,customMedia:{},init:true,expFactor:1.5,hFac:.8,loadMode:2,loadHidden:true,ricTimeout:0,throttleDelay:125};H=u.lazySizesConfig||u.lazysizesConfig||{};for(e in t){if(!(e in H)){H[e]=t[e]}}}(),!D||!D.getElementsByClassName){return{init:function(){},cfg:H,noSupport:true}}var O=D.documentElement,i=u.HTMLPictureElement,P="addEventListener",$="getAttribute",q=u[P].bind(u),I=u.setTimeout,U=u.requestAnimationFrame||I,o=u.requestIdleCallback,j=/^picture$/i,r=["load","error","lazyincluded","_lazyloaded"],a={},G=Array.prototype.forEach,J=function(e,t){if(!a[t]){a[t]=new RegExp("(\\s|^)"+t+"(\\s|$)")}return a[t].test(e[$]("class")||"")&&a [t]},K=function(e,t){if(!J(e,t)){e.setAttribute("class",(e[$]("class")||"").trim()+" "+t)}},Q=function(e,t){var a;if(a=J(e,t)){e.setAttribute("class",(e[$]("class")||"").replace(a," "))}},V=function(t,a,e){var i=e?P:"removeEventListener";if(e){V(t,a)}r.forEach(function(e){t[i](e,a)})},X=function(e,t,a,i,r){var n=D.createEvent("Event");if(!a){a={}}a.instance=k;n.initEvent(t,!i,!r);n.detail=a;e.dispatchEvent(n);return n},Y=function(e,t){var a;if(!i&&(a=u.picturefill||H.pf)){if(t&&t.src&&!e[$]("srcset")){e.setAttribute("srcset",t.src)}a({reevaluate:true,elements:[e]})}else if(t&&t.src ){e.src=t.src}},Z=function(e,t){return(getComputedStyle(e,null)||{})[t]},s=function(e,t,a){a=a||e.offsetWidth;while(a
<H.minSize&&t&&!e._lazysizesWidth){a= t.offsetWidth;t=t.parentNode}return a},ee=function(){var a,i;var t=[];var r=[];var n=t;var s=function(){var e=n;n= t.length?r:t;a=true;i= false;while(e.length){e.shift()()}a=false};var e=function(e,t){if(a&&!t){e.apply(this,arguments)}else{n.push(e);if(!i){i= true;(D.hidden?I:U)(s)}}};e._lsFlush=s;return e}(),te=function(a,e){return e?function(){ee(a)}:function(){var e=this;var t=arguments;ee(function(){a.apply(e,t)})}},ae= function(e){var a;var i=0;var r=H.throttleDelay;var n=H.ricTimeout;var t=function(){a= false;i=f.now();e()};var s=o&&n>
    49?function(){o(t,{timeout:n});if(n!==H.ricTimeout){n=H.ricTimeout}}:te(function(){I(t)},true);return function(e){var t;if(e=e===true){n=33}if(a){return}a=true;t=r-(f.now()-i);if(t
    <0){t= 0}if(e||t <9){s()}else{I(s,t)}}},ie=function(e){var t,a;var i=99;var r=function(){t=null;e()};var n=function(){var e=f.now()-a;if(e<i){I(n,i-e)}else{(o||r)(r)}};return function(){a=f.now();if(!t){t= I(n,i)}}},e=function(){var v,m,c,h,e;var y,z,g,p,C,b,A;var n=/^img$/i;var d=/^iframe$/i;var E="onscroll" in u&&!/(gle|ing)bot/.test(navigator.userAgent);var _=0;var w=0;var M=0;var N=-1;var L=function(e){M--;if(!e||M <0||!e.target){M=0}};var x=function(e){if(A==null){A=Z(D.body,"visibility")=="hidden"}return A||!(Z(e.parentNode,"visibility")=="hidden"&&Z (e,"visibility")=="hidden")};var W=function(e,t){var a;var i=e;var r=x(e);g-=t;b+=t;p-=t;C+=t;while(r&&(i=i.offsetParent)&&i !=D.body&&i !=O){r=(Z(i,"opacity")||1)>0;if(r&&Z (i,"overflow")!="visible"){a=i.getBoundingClientRect();r=C>a.left&&p<a.right&&b>
        a.top-1&&g
        <a.bottom+1}}return r};var t=function(){var e,t,a,i,r,n,s,o,l,u,f,c;var d=k.elements;if((h= H.loadMode)&&M <8&&(e=d.length)){t=0;N++;for(;t<e;t++){if(!d[t]||d[t]._lazyRace){continue}if(!E||k.prematureUnveil&&k.prematureUnveil(d[t])){R(d[t]);continue}if(!(o= d[t][$]("data-expand" ))||!(n=o*1)){n= w}if(!u){u=!H.expand||H.expand <1?O.clientHeight>500&&O.clientWidth >500?500:370:H.expand;k._defEx=u;f=u*H.expFactor;c=H.hFac;A=null;if(w<f&&M <1&&N >2&&h >2&&!D.hidden){w=f;N=0}else if(h>1&&N >1&&M<6){w= u}else{w=_}}if(l!== n){y=innerWidth+n*c;z= innerHeight+n;s=n*-1;l= n}a=d[t].getBoundingClientRect();if((b= a.bottom)>
            =s&&(g=a.top)<=z&&(C= a.right)>=s*c&&(p=a.left)<=y&&(b||C||p||g)&&(H.loadHidden||x(d[t]))&&(m&&M <3&&!o&&(h<3||N <4)||W(d[t],n))){R(d[t]);r=true;if(M>9){break}}else if(!r&&m&&!i&&M<4&&N <4&&h >2&&(v[0]||H.preloadAfterLoad)&&(v[0]||!o&&(b||C||p||g||d[t][$](H.sizesAttr)!="auto"))){i=v[0]||d[t]}}if(i&&!r){R(i)}}};var a=ae(t);var S=function(e){var t=e.target;if(t._lazyCache){delete t._lazyCache;return}L(e);K(t,H.loadedClass);Q(t,H.loadingClass);V(t,B);X(t,"lazyloaded")};var i=te(S);var B=function(e){i({target:e.target})};var T=function(e,t){var a=e.getAttribute("data-load-mode")||H.iframeLoadMode;if(a==0){e.contentWindow.location.replace(t)}else if(a==1){e.src=t}};var F=function(e){var t;var a=e[$](H.srcsetAttr);if(t=H.customMedia[e[$]("data-media")||e[$]("media")]){e.setAttribute("media",t)}if(a){e.setAttribute("srcset",a)}};var s=te(function(t,e,a,i,r){var n,s,o,l,u,f;if(!(u=X(t,"lazybeforeunveil",e)).defaultPrevented){if(i){if(a){K(t,H.autosizesClass)}else{t.setAttribute("sizes",i)}}s=t[$](H.srcsetAttr);n=t[$](H.srcAttr);if(r){o=t.parentNode;l=o&&j.test (o.nodeName||"")}f=e.firesLoad||"src"in t&&(s||n||l);u={target:t};K(t,H.loadingClass);if(f){clearTimeout(c);c=I(L,2500);V(t,B,true)}if(l){G.call(o.getElementsByTagName("source"),F)}if(s){t.setAttribute("srcset",s)}else if(n&&!l){if(d.test(t.nodeName)){T(t,n)}else{t.src=n}}if(r&&(s||l)){Y(t,{src:n})}}if(t._lazyRace){delete t._lazyRace}Q(t,H.lazyClass);ee(function(){var e=t.complete&&t.naturalWidth >1;if(!f||e){if(e){K(t,H.fastLoadedClass)}S(u);t._lazyCache=true;I(function(){if("_lazyCache"in t){delete t._lazyCache}},9)}if(t.loading=="lazy"){M--}},true)});var R=function(e){if(e._lazyRace){return}var t;var a=n.test(e.nodeName);var i=a&&(e[$](H.sizesAttr)||e[$]("sizes"));var r=i=="auto";if((r||!m)&&a&&(e[$]("src")||e.srcset)&&!e.complete&&!J(e,H.errorClass)&&J (e,H.lazyClass)){return}t=X(e,"lazyunveilread").detail;if(r){re.updateElem(e,true,e.offsetWidth)}e._lazyRace=true;M++;s(e,t,r,i,a)};var r=ie(function(){H.loadMode=3;a()});var o=function(){if(H.loadMode==3){H.loadMode=2}r()};var l=function(){if(m){return}if(f.now()-e<999){I(l,999);return}m=true;H.loadMode=3;a();q("scroll",o,true)};return{_:function(){e=f.now();k.elements=D.getElementsByClassName(H.lazyClass);v=D.getElementsByClassName(H.lazyClass+" "+H.preloadClass);q("scroll",a,true);q("resize",a,true);q("pageshow",function(e){if(e.persisted){var t=D.querySelectorAll("."+H.loadingClass);if(t.length&&t.forEach){U(function(){t.forEach(function(e){if(e.complete){R(e)}})})}}});if(u.MutationObserver){new MutationObserver(a).observe(O,{childList:true,subtree:true,attributes:true})}else{O[P]("DOMNodeInserted",a,true);O[P]("DOMAttrModified",a,true);setInterval(a,999)}q("hashchange",a,true);["focus","mouseover","click","load","transitionend","animationend"].forEach(function(e){D[P](e,a,true)});if(/d$|^c/.test(D.readyState)){l()}else{q("load",l);D[P]("DOMContentLoaded",a);I(l,2e4)}if(k.elements.length){t();ee._lsFlush()}else{a()}},checkElems:a,unveil:R,_aLSL:o}}(),re=function(){var a;var n=te(function(e,t,a,i){var r,n,s;e._lazysizesWidth=i;i+="px";e.setAttribute("sizes",i);if(j.test(t.nodeName||"")){r=t.getElementsByTagName("source");for(n=0,s=r.length;n <s;n++){r[n].setAttribute("sizes",i)}}if(!a.detail.dataAttr){Y(e,a.detail)}});var i=function(e,t,a){var i;var r=e.parentNode;if(r){a=s(e,r,a);i=X(e,"lazybeforesizes",{width:a,dataAttr:!!t});if(!i.defaultPrevented){a=i.detail.width;if(a&&a !==e._lazysizesWidth){n(e,r,i,a)}}}};var e=function(){var e;var t=a.length;if(t){e=0;for(;e<t;e++){i(a[e])}}};var t=ie(e);return{_:function(){a=D.getElementsByClassName(H.autosizesClass);q("resize",t)},checkElems:t,updateElem:i}}(),t=function(){if(!t.i&&D.getElementsByClassName){t.i=true;re._();e._()}};return I(function(){H.init&&t()}),k={cfg:H,autoSizer:re,loader:e,init:t,uP:Y,aC:K,rC:Q,hC:J,fire:X,gW:s,rAF:ee}}(e,e.document,Date);e.lazySizes=t,"object"==typeof module&&module.exports&&(module.exports=t)}("undefined"!=typeof window?window:{});

</script>

