<!--
<link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Urtopia_Photo_Sesh_14_of_14_2x_3c0f80ca-524b-4377-b6ff-8e8d47bb7d9a.jpg?v=1688698276" as="image">
<link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Urtopia_Photo_Sesh_14_of_14_2x_3f2e4672-a7b0-4595-8919-0cec8c6ae583.jpg?v=1688698335" as="image">
-->
<script>
  const email_dialog_session_key = 'emailDialogHideDay'

      // 邮件订阅弹窗
  const subscribeHtml = `<div class="subscribe-container">
    <img class="mobileHide" src="${global_config.subscribe_email_dialog_config.background_imgae_pc}" alt="">
    <img class="pcHide" src="${global_config.subscribe_email_dialog_config.background_imgae_mb}" alt="">
    <div class="subscribe">
        <span class="u20DemiBold_v2">{{ settings.sale_name }}<br class="pcHide"> {{ settings.sale_end_time }}</span>
        <div class="u30DemiBold_v2"><span class="u72DemiBold_v2">€600</span>OFF<span class="u30Medium_v2" style="color:var(--sale-color3);"><br>+€179 Freebies</span></div>
        <span class="u17Light_v2">Subscribe to Urtopia for exclusive coupons, engaging stories, and the latest product news.</span>
        <form class="new-contact" action="/contact#ContactFooter" target="_blank" method="post" accept-charset="UTF-8">
        <div class="email">
              <input type="hidden" name="form_type" value="customer">
              <input type="hidden" name="utf8" value="✓">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input placeholder="Enter email here" type="email" name="contact[email]" required>
              <button class="my-button my-button-black" type="submit">Subscribe</button>
        </div>
      </form>
    </div>
    <span class="close" onclick="closeEmailDialog()">×</span>
</div>`
    

    /*
    const subscribeHtml = `<div class="subscribe-container">
      <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20879_2x_9eb77960-cc47-4d48-b823-835a9ef7314b.jpg?v=1681804735" alt="">
      <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230418-160913.jpg?v=1681805365" alt="">
      <div class="subscribe">
          <span class="u30DemiBold_v2">Join Urtopia and Get Exclusive Coupon</span>
          <img style="height:0;" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Union_12_2x_f3408316-66ce-44c8-ad74-6ee638a54650.jpg?v=1681095007">
          <span class="u17Light">Subscribe to Urtopia for exclusive coupons, engaging stories, and the latest product news.</span>
          <form class="new-contact" action="/contact#ContactFooter" target="_blank" method="post" accept-charset="UTF-8">
          <div class="email">
                <input type="hidden" name="form_type" value="customer">
                <input type="hidden" name="utf8" value="✓">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <input placeholder="Enter email here" type="email" name="contact[email]" required>
                <button class="my-button my-button-black" type="submit">Subscribe</button>
          </div>
        </form>
      </div>
      <span class="close" onclick="closeEmailDialog()">×</span>
    </div>`
*/


  function showEmailDialog() {
    if (global_config.subscribe_email_dialog_config.is_hide) {
        return
    }

    if (storage.get(email_dialog_session_key)) {
      return;
    }

    showMiniDialog(subscribeHtml);

    setTimeout(() => {
      $('.subscribe-container form').on('submit', function (event) {
        const email = $('.subscribe-container form input[type="email"]').val();
        // 埋点
        fetchBuried('emailpop', 'submit', { email, tag: 'DE,POPUP' });
        closeEmailDialog(14);

        event.preventDefault();
        return false;
      });

      let startInput = false;
      $('.subscribe-container input').on(
        'input',
        debounce((e) => {
          if (startInput) {
            return;
          }

          startInput = true;
          fetchBuried('emailpop', 'enter', {
            email: e.target.value,
            tag: 'DE,POPUP',
          });
        }, 2000)
      );
    }, 1000);
  }



  function closeEmailDialog (day = 3) {
    storage.set(email_dialog_session_key, email_dialog_session_key, day)
    // 关闭弹窗
    closeMiniDialog()
  }
</script>
