<script>
    function showMiniDialog(html = '') {
        $('body .mini-dialog').remove()
        setTimeout(() => {
          $("body").append(`<div class="mini-dialog" style="display: flex;">${html}</div>`)
      
          {% comment %} setTimeout(() => {
            $('body .mini-dialog > div').on('click', e => {
              e.stopPropagation();
              return false;
            })
          }, 100) {% endcomment %}
        })
      }
      
      function closeMiniDialog() {
        // console.log(a === document.querySelector('body .mini-dialog'))
        $('body .mini-dialog').remove()
      }    
<script/>