<link rel="preload" href="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Urtopia_-_Auto_Rack_-_Original_Size_-_RAW-42_2x_c51070d5-9aa9-42ab-b10a-35524e2def35.jpg?v=1695795850" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20231010-101621.jpg?v=1696904221&width=500" as="image">
<style>
  .subscribe-container .subscribe .u72DemiBold_v2 {
    margin: 6% 0 2%;
  }

  .subscribe-container .subscribe .u17DemiBold_v2 {
      color: #fff;
      border-radius: 12px;
      padding: 2px 11px;
      background-image: linear-gradient(90deg, #EE6426, #F4492A);
      font-size: 16px;
  }

  .subscribe-container .subscribe .u17Light_v2 {
    margin: 12% 0 0;
    font-size: 15px;
  }

  .subscribe-container .subscribe .new-contact {
    margin: 3% 0 12%;
  }

  @media (max-width: 767px) {
    .subscribe-container .subscribe .u72DemiBold_v2 {
      margin: 4% 0 2%;
      font-size: 44px;
    }

    .subscribe-container .subscribe .u17DemiBold_v2 {
      font-size: 14px;
    }

    .subscribe-container .u72DemiBold_v2 .u30DemiBold_v2 {
      font-size: 20px;
    }

    .subscribe-container .subscribe .u17Light_v2 {
      margin-top: 8%;
    }
  }
</style>
<script>
  const email_dialog_session_key = 'emailDialogHideDay'

      // 邮件订阅弹窗
  const subscribeHtml = `<div class="subscribe-container">
    <img class="mobileHide" src="${global_config.subscribe_email_dialog_config.background_imgae_pc}" alt="">
    <img class="pcHide" src="${global_config.subscribe_email_dialog_config.background_imgae_mb}" alt="">
    <div class="subscribe">
        <span class="u20DemiBold_v2">{{ settings.sale_name }}</span>
        <div class="u72DemiBold_v2"><span class="u30DemiBold_v2">Up to </span>{{ settings.carbon_ebike_discount_price | money_without_trailing_zeros }}<span class="u30DemiBold_v2">OFF</span></div>
        <div class="u17DemiBold_v2">LOWEST PRICE OF THE YEAR GUARANTEED!*</div>
        <span class="u17Light_v2">Subscribe to Urtopia for exclusive coupons, engaging stories, and the latest product news.</span>
        <form class="new-contact" action="/contact#ContactFooter" target="_blank" method="post" accept-charset="UTF-8">
        <div class="email">
              <input type="hidden" name="form_type" value="customer">
              <input type="hidden" name="utf8" value="✓">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input placeholder="Enter email here" type="email" name="contact[email]" required>
              <button class="my-button my-button-black" id="global_email_submit_button" type="submit">Subscribe</button>
        </div>
      </form>
      <div class="u11Light_v2 mobileHide">*For any order during Oct 1 - Dec 31 2023, if there is a price drop within this period on our website, you can request a refund for the difference by contacting our support. The refund will be automatically approved and returned to your account.</div>
    </div>
    <span class="close" onclick="closeEmailDialog()">×</span>
</div>`


  function showEmailDialog(emailtag) {
    if (global_config.subscribe_email_dialog_config.is_hide) {
        return
    }

    if (!emailtag && storage.get(email_dialog_session_key)) {
      return;
    }

    showMiniDialog(subscribeHtml);

    setTimeout(() => {
      $('.subscribe-container form').on('submit', function (event) {
        const email = $('.subscribe-container form input[type="email"]').val();
        // 埋点
        fetchBuried('emailpop', 'submit', { email, tag: `DE,POPUP${emailtag ? ',' + emailtag : ''}` }).then(() => {
          dataLayer.push({
                'event'    :'global_email_submit',
                'pageType' :'emailpop',
            });
        });
        closeEmailDialog(14);

        event.preventDefault();
        return false;
      });

      let startInput = false;
      $('.subscribe-container input').on(
        'input',
        debounce((e) => {
          if (startInput) {
            return;
          }

          startInput = true;
          fetchBuried('emailpop', 'enter', {
            email: e.target.value,
            tag: 'DE,POPUP',
          });
        }, 2000)
      );
    }, 1000);
  }



  function closeEmailDialog (day = 3) {
    storage.set(email_dialog_session_key, email_dialog_session_key, day)
    // 关闭弹窗
    closeMiniDialog()
  }
</script>
