<link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230609-untitled-9762.jpg?v=1691048775" as="image">
<script>
    const testride_dialog = `
        <div class="testride_dialog">
            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230609-untitled-9762.jpg?v=1691048775">
            <div>
                <div class="u30DemiBold_v2">Test ride spots near you</div>
                <div class="u24Medium_v2">Experience the bike in real</div>
                <a href="/pages/test-ride" class="my-button my-button-black">Book Now</a>
            </div>
            <span class="close" onclick="closeEmailDialog()">×</span>
        </div>
    `

    document.body.addEventListener("mouseout", debounce((evt) => {
        let readWinCountry = window.CozyCountryRedirect && window.CozyCountryRedirect.country;
        // console.log("离开页面====读取window下国家====", readWinCountry);
        if (readWinCountry) {
            localStorage.setItem("CountryCode", readWinCountry);
        }
    }, 300))

    global_config.is_pc && !global_config.is_mobile && !window.sessionStorage.hideTestRideDialog && document.body.addEventListener("mouseleave", debounce((evt) => {
        console.log('mouseleave', evt)
    }, 300))


    
</script>