<style>
  .ebike-products .u24Medium_v2 {
  margin: 10px 0 4vh;
}

.ebike-products .product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 22px;
}

.ebike-products .product-grid .product-card {
  padding: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.ebike-products .product-grid .product-card *,
.ebike-products .product-grid .product-card ::after,
.ebike-products .product-grid .product-card ::before {
  box-sizing: border-box;
}

.ebike-products .product-grid .product-card .tags {
  display: flex;
  min-height: 28px;
  flex-wrap: wrap;
  flex: 1;
}

.ebike-products .product-grid .product-card .tags span {
  background-color: #ffe2d9;
  border-radius: 10px;
  padding: 4px 10px;
}

.ebike-products .product-grid .product-card .tags span {
  margin: 0 6px 6px 0;
}

.ebike-products .product-grid .product-card .variant-image {
  cursor: pointer;
}

.ebike-products .product-grid .product-card .dots {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 6px 0;
}

.ebike-products .product-grid .product-card .dots>div {
  width: 34px;
  height: 34px;
  margin-right: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.ebike-products .product-grid .product-card .dots>div::after {
  content: "";
  display: inline-block;
  height: 26px;
  margin: 2px;
  width: 26px;
  border-radius: 100%;
}

  .ebike-products .product-grid .product-card .dots>div[data-stye="Elegant Grey"] {
                            background-color: #B7B7B7;
                        }
  
  .ebike-products .product-grid .product-card .dots>div[data-stye="Blazing Black"] {
                            background-color: #000;
                        }
  .ebike-products .product-grid .product-card .dots>div[data-stye="Vital Orange"] {
                            background-color: #FFB100;
                        }

.ebike-products .product-grid .product-card .dots>div[data-stye="Sirius"] {
  background-color: #FA812B;
}

.ebike-products .product-grid .product-card .dots>div[data-stye="Lyra"] {
  background-color: #747474;
}

.ebike-products .product-grid .product-card .dots>div[data-stye="Vanilla"] {
  background-color: #F0EEDF;
}

.ebike-products .product-grid .product-card .dots>div[data-stye="Midnight in Paris"] {
  background-color: #FFEC0B;
  position: relative;
}

.ebike-products .product-grid .product-card .dots>div[data-stye="White"] {
  background-color: #ddd;
}

.ebike-products .product-grid .product-card .dots>div[data-stye="Black"] {
  background-color: #000;
}

.ebike-products .product-grid .product-card .dots>div[data-stye="Gray"] {
  border-color: #405364;
  background-color: #405364;
}

.ebike-products .product-grid .product-card .dots>div[data-stye="Matte Black"] {
  border-color: #405364;
  background-color: #000;
}

.ebike-products .product-grid .product-card .dots>div[data-stye="Midnight in Paris"]::before {
  content: "";
  display: inline-block;
  background-color: #ff6c00;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 55%;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
}

.ebike-products .product-grid .product-card .dots .active {
  background-color: transparent !important;
  border: 2px solid #666;
}

  .ebike-products .product-grid .product-card .dots .active[data-stye="Elegant Grey"]::after {
  background-color: #B7B7B7;
}

.ebike-products .product-grid .product-card .dots .active[data-stye="Blazing Black"]::after {
  background-color: #000;
}

.ebike-products .product-grid .product-card .dots .active[data-stye="Vital Orange"]::after {
  background-color: #FFB100;
}

.ebike-products .product-grid .product-card .dots .active[data-stye="Sirius"]::after {
  background-color: #FA812B;
}

.ebike-products .product-grid .product-card .dots .active[data-stye="Matte Black"]::after {
  background-color: #000;
}

.ebike-products .product-grid .product-card .dots .active[data-stye="Lyra"]::after {
  background-color: #747474;
}

.ebike-products .product-grid .product-card .dots .active[data-stye="Vanilla"]::after {
  background-color: #F0EEDF;
}

.ebike-products .product-grid .product-card .dots .active[data-stye="Midnight in Paris"]::after {
  background-color: #FFEC0B;
}

.ebike-products .product-grid .product-card .dots .active[data-stye="Midnight in Paris"]::before {
  left: 2px;
  top: 2px;
  right: 2px;
  height: 14px;
  width: 26px;
}

.ebike-products .product-grid .product-card .dots .active[data-stye="White"]::after {
  background-color: #ddd;
}

.ebike-products .product-grid .product-card .dots .active[data-stye="Black"]::after {
  background-color: #000;
}

.ebike-products .product-grid .product-card .dots .active[data-stye="Gray"]::after {
  background-color: #405364;
}

@media (max-width: 767px) {
  .ebike-products .product-grid .product-card .dots>div {
    width: 28px;
    height: 28px;
    margin-right: 12px;
  }

  .ebike-products .product-grid .product-card .dots>div::after {
    width: 20px;
    height: 20px;
  }

  .ebike-products .product-grid .product-card .dots .active[data-stye="Midnight in Paris"]::before {
    height: 12px;
    width: 20px;
  }
}

.ebike-products .product-grid .product-card .product_price {
  display: flex;
  align-items: center;
  margin: 10px 0 6px;
  flex-wrap: wrap;
}

.ebike-products .product-grid .product-card .product_price img {
  max-width: 40px;
  margin-left: 6px;
}

.ebike-products .product-grid .product-card .product_price .u24DemiBold_v2 {
  margin-right: 5%;
}

.ebike-products .product-grid .product-card .product_price .u24DemiBold_v2[data-price]::after {
  content: attr(data-price);
  display: inline-block;
  color: #161c1f;
  text-decoration: line-through;
  margin-left: 6px;
  font-size: 24px;
  font-weight: 300;
  opacity: 0.53;
}

.ebike-products .product-grid .product-card .product_price>.u17Light_v2 {
  display: flex;
}

.ebike-products .product-grid .product-card .my-button {
  width: fit-content;
}

@media (max-width: 767px) {
  .ebike-products .product-grid .product-card {
    padding: 4vw;
  }

  .ebike-products .product-grid .product-card .product_price {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
  }
}

.ebike-products .product-grid>.lozad {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  display: flex;
  align-items: flex-end;
  padding: 20px 50% 20px 30px;
}

@media (max-width: 767px) {
  .ebike-products {
    padding: 0 4vw;
  }

  .ebike-products>.u36DemiBold_v2 {
    font-size: 30px;
  }

  .ebike-products>.u24Medium_v2 {
    font-size: 17px;
    margin-bottom: 10vw;
  }

  .ebike-products .product-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 12px;
  }
}

#choose {
  background-color: #F7F8FA;
  padding: 100px 0;
}

@media (max-width: 767px) {
  #choose {
    padding: 40px 0;
  }
}
</style>

  <div id="choose">
   <div class="centeral-content ebike-products">
    <div class="u36DemiBold_v2">Need other size or style?</div>
    <div class="u24Medium_v2">Check new bikes <b class="emphasize">in stock</b></div>
    <div class="product-grid">
        {% assign productt = all_products["urtopia-carbon-e-bike"] %}
        {% assign product_variants = productt.variants | where: "available" %}
        {% assign product_tags = settings.carbon_ebike_free_accessories_count | append: ' Freebies'   %}
        {% render 'product-card',
            product_variants: product_variants,
            product_variant_options_find_sort: "One Size",
            product_name: 'Carbon 1',
            product_description: 'The ultra-light commuter e-bike provides a clean city riding experience.',
            product_discount_price: settings.carbon_ebike_discount_price,
            product_url: productt.url,
        %}
        {% assign productt = all_products["urtopia-chord-ebike"] %}
        {% assign product_variants = productt.variants | where: "option1", "High-Step" | where: "available" %}
        {% render 'product-card',
            product_variants: product_variants,
            product_name: 'Chord',
            product_description: 'Elegantly zip around town for meet-ups, errands, or Sunday fun.',
            product_discount_price: settings.chord_ebike_discount_price,
            product_url: productt.url,
        %}
         {% assign product_variants = productt.variants | where: "option1", "Step-Through" | where: "available" %}
        {% render 'product-card',
            product_variants: product_variants,
            product_name: 'Chord X',
            product_description: 'Easily kickstart your ride for workouts, city cruising, and pure enjoyment.',
            product_discount_price: '0',
            product_url: productt.url,
        %}
      <div class="gray-background-color u30DemiBold_v2 lozad mobileHide" data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_22829_2x_82531e4b-8b9c-40c7-822f-c58f9db7d477.jpg?v=1695625176">Full Carbon Lightweight Sporty</div>
        {% assign productt = all_products["urtopia-carbon-1-pro-ebike"] %}
        {% assign product_variants = productt.variants | where: "option1", "L" | where: "available" %}
        {% assign product_discount_price = productt.compare_at_price | minus: productt.price %}
        {% render 'product-card',
            product_variants: product_variants,
            product_name: 'Carbon 1 Pro',
            product_description: 'The lightweight gravel e-bike delivers exceptional performance and style.',
            product_url: productt.url,
        %}
      {% assign productt = all_products["urtopia-fusion-carbon-ebike"] %}
        {% assign product_variants = productt.variants | where: "available" %}
        {% assign product_discount_price = productt.compare_at_price | minus: productt.price %}
        {% render 'product-card',
            product_variants: product_variants,
            product_name: 'Fusion',
            product_description: 'A carbon fiber mid-drive e-suv ready to conquer any terrain.',
            product_url: productt.url,
        %}
        
    </div>
</div>
</div>
<script>
    $('.product-card .dots > div').on('click', e => {
        const target = $(e.target)
        const product_card = target.closest('.product-card')

        // 先取消 其它兄弟元素的active, 再设置active
        target.siblings().removeClass('active')
        target.addClass('active')

        const price = Number(target.attr('data-price'))
        const compare_at_price = Number(target.attr('data-compare-at-price'))
        const discount_price = Number(target.attr('data-product-discount-price'))
        const variant_id = target.attr('data-variant')
        const variant_image = target.attr('data-img')

        // outlet 车型
        if (discount_price === 0) {
            product_card.find('.product_price .u24DemiBold_v2').text(getPriceFormat(price, true)).attr('data-price', getPriceFormat(compare_at_price, true))
            product_card.find('.tags > span:first-child').text(`${getPriceFormat(compare_at_price - price, true)} OFF`)

            if (price === compare_at_price) {
                product_card.find('.product_price .u24DemiBold_v2').attr('data-price', '')
                product_card.find('.tags > span:first-child').hide()
            }
        } else {
            product_card.find('.product_price .u24DemiBold_v2').text(getPriceFormat(price - discount_price, true)).attr('data-price', getPriceFormat(price, true))
            product_card.find('.product_price .u17Light_v2 > span').text(getPriceFormat((price - discount_price) / 24))
            product_card.find('.tags > span:first-child').text(`${getPriceFormat(discount_price, true)} OFF`)
        }

        product_card.find('.variant-image').attr('src', variant_image)
        product_card.find('.my-button').attr('href', `${product_card.find('.my-button').attr('href').split('?').shift()}?variant=${variant_id}`)
    })

    setTimeout(() => {
        $('.product-card .dots > div:first-child').click()

        $('.product-card .variant-image').on('click', e => {
            const button = $(e.target).closest('.product-card').find('.my-button')

            if (button.length) {
                button[0].click()
            }
        })
    })
</script>