<div class="banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide summer-sale" style="background-color: var(--sale-color3);">
                  <div class="centeral-content">
                      <div>
                          <!--<div class="u56DemiBold_v2">{{ settings.sale_name }}</div>-->
                          <!--<div class="u48Medium_v2">Urtopia embraces ESG</div>-->
                          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21455_2x_78ca15bb-7631-4941-b19f-18fd7d30276e.png?v=1691115274">
                          <div class="u36DemiBold_v2">€600 off + 4 Freebies<br> on Carbon 1 {{ settings.sale_end_time }}</div>
                          <!--<div class="count-down pcHide">
                              <iframe height="155" width="352" src="https://w2.countingdownto.com/4780378" scrolling="no" frameborder="0"></iframe>
                          </div>-->
                        <div class="count-down-gif pcHide">
                          <img src="http://i.countdownmail.com/2mcl4c.gif"/>
                        </div>
                          <div class="flex-1 pcHide"></div>
                          <div class="buttons mobileHide">
                              <a class="my-button" href="/products/urtopia-carbon-e-bike?variant=42615025172696">Order now</a>
                              <a class="my-button my-button-ghost" href="/pages/e-bike">Meet Carbon 1</a>
                          </div>
                          <div class="buttons pcHide">
                              <a class="my-button my-button-black" href="/products/urtopia-carbon-e-bike?variant=42615025172696">Order now</a>
                              <a class="my-button" href="/pages/e-bike">Meet Carbon 1</a>
                          </div>
                          <!--<div class="count-down mobileHide">
                              <iframe height="308" width="350" src="https://w2.countingdownto.com/4780368" scrolling="no" frameborder="0"></iframe>
                          </div>-->
                        <div class="count-down-gif mobileHide">
                          <img src="http://i.countdownmail.com/2mcl4c.gif"/>
                        </div>
                      </div>
                      <div></div>
                  </div>
              </div>
              <!--<div class="swiper-slide golf">
            <div class="centeral-content">
                <div>
                    <div class="u72DemiBold_v2">Testride</div>
                    <div class="u36Medium_v2">@ Golf Charity Tournament</div>
                    <div class="flex-1 pcHide"></div>
                    <div class="u24Light_v2">
                        <div class="u30DemiBold_v2">Registration:</div>
                        <div>Urtopia@eitap.de</div>
                        <div class="u30DemiBold_v2">Event Location:</div>
                        <div>Golf&More in Duisburg</div>
                        <div class="u30DemiBold_v2">Event Date:</div>
                        <div>July 15, 2023, 15:00 - 19:00 (German time)</div>
                    </div>
                    <a class="my-button" href="/pages/test-ride?from_home_page=from_home_page">Book Now</a>
                </div>
                <div></div>
            </div>
        </div>-->
        <div class="swiper-slide leasing">
            <div class="centeral-content">
                <div class="mobileHide"></div>
                <div>
                    <div class="u36DemiBold_v2">Leasing just gets easier! <br class="mobileHide"> In partnership with</div>
                    <div class="imgaes">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18584_2x_f805d892-dcc9-476d-8376-d69a6c06b8c3.png?v=1686661948" alt="">
                        <!--<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18374_2x_928607a8-b83f-4820-a964-24b561606ba1.png?v=1686661717" alt="">-->
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18583_2x_ff5f2620-54f2-40e8-8d7c-7ff5b1392a98.png?v=1686661382" alt="">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/logo_meinstdienstrad_2021_2x_52c0ef66-8012-401d-bd85-8c993d123dc6.png?v=1686661875" alt="">
                    </div>
                    <div class="flex-1 pcHide"></div>
                    <div class="buttons">
                        <a href="/pages/ebike-leasing#froms" class="my-button">Lease now</a>
                        <a href="/pages/ebike-leasing" class="my-button my-button-ghost">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
      <div class="swiper-slide strava">
                <div class="centeral-content">
                  <div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21258_2x_b6eefd8c-d9c9-4a58-ae7b-284408aad2af.png?v=1689664928" alt="">
                    <div class="u24Medium_v2">World’s First E-bike Integrated with Strava</div>
                    <a class="my-button" target="_blank" href="/blogs/blog/urtopia-x-strava">Read the blog</a>
                  </div>
                </div>
              </div>
        <div class="swiper-slide unknown">
            <div class="centeral-content">
                <div>
                    <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21483_2x_b2386168-c7ec-4ac8-8c5a-88cdcb37c09b.png?v=1689407663" alt="">
                    <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21482_2x_b9194456-4f54-4bd5-b2ab-79981f69563e.png?v=1689408084" alt="">
                    <div class="u36DemiBold_v2">Urtopia Available on <br>MeidaMarkt and Grover</div>
                    <div class="flex-1 pcHide"></div>
                    <div class="buttons">
                        <a class="my-button" target="_blank" href="https://www.mediamarkt.de/de/search.html?query=urtopia&filter=carType%3ACitybike">Shop on MediaMarkt</a>
                        <a class="my-button my-button-ghost mobileHide" target="_blank" href="https://www.grover.com/de-de/products/urtopia-carbon-1-ebike">Shop on Grover</a>
                        <a class="my-button my-button-black pcHide" target="_blank" href="https://www.grover.com/de-de/products/urtopia-carbon-1-ebike">Shop on Grover</a>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="swiper-slide common">
            <div class="centeral-content">
                <div></div>
                <div class="right">
                    <div class="u24Medium_v2">Carbon 1</div>
                    <div class="u60DemiBold_v2">Your Smart and Lightweight Pal</div>
                    <div class="flex-1 pcHide"></div>
                    <div class="buttons">
                        <a class="my-button" href="/products/urtopia-carbon-e-bike">Order now</a>
                        <a class="my-button my-button-ghost mobileHide" href="/pages/ebike-leasing">Leasing</a>
                        <a class="my-button pcHide" href="/pages/ebike-leasing">Leasing</a>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <div class="swiper-pagination"></div>
</div>

<script>
 // 是否有多个banner, 如果有 开启swiper
 const isMultipartBanner = document.querySelectorAll('.banner .swiper-slide')
  
 isMultipartBanner.length > 1 && new Swiper('.banner', {
     autoplay: {
         disableOnInteraction: false,
         pauseOnMouseEnter: false,
         delay: 10000,
     },
     loop: true,
     speed: 1000,
     pagination: {
         el: '.swiper-pagination',
         clickable: true
     }
 })


 $('.banner .unknown a').on('click', e => {
    fetchBuried('websiteclick', 'homepage-banner', {
        button: $(e.target).text()
    })
 })

</script>