<div class="banner">
    <div class="swiper-wrapper">
      <div class="swiper-slide" id="newyear">
                <div class="centeral-content">
                  <div>
                     <div class="u60Medium_v2">Carbon 1</div>
                    <div class="u24Medium_v2">Up to {{ settings.carbon_ebike_discount_price | money_without_trailing_zeros }} Off on E-Bikes</div>
                    <div class="flex-1"></div>
                    <a class="my-button my-button-ghost" href="/products/urtopia-carbon-e-bike">Order Now</a>
                  </div>
                </div>
              </div>
    </div>
    <div class="swiper-pagination"></div>
</div>

<script>
 // 是否有多个banner, 如果有 开启swiper
 const isMultipartBanner = document.querySelectorAll('.banner .swiper-slide')
  
 isMultipartBanner.length > 1 && new Swiper('.banner', {
     autoplay: {
         disableOnInteraction: false,
         pauseOnMouseEnter: false,
         delay: 100000,
     },
     loop: true,
     speed: 1000,
     pagination: {
         el: '.swiper-pagination',
         clickable: true
     }
 })


 $('.banner .unknown a').on('click', e => {
    fetchBuried('websiteclick', 'homepage-banner', {
        button: $(e.target).text()
    })
 })

</script>