<div class="home-page-media mobileHide">
    <div class="texts">
      <div>“It's incredibly fun to ride”</div>
      <div></div>
    </div>
    <div class="logos">
      <img active src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165148.png?v=1677574346" onclick="moveTop(`“It's incredibly fun to ride”`, this)"/>
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165209.png?v=1677574346" onclick="moveTop('“Like a phone’s than a next-gen fixie”', this)"/>
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18075_2x_5ed82c19-16b6-4f05-870a-623b5429a75f.png?v=1677303615" onclick="moveTop(`“One of the smartest ebike”`, this)"/>
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165154.png?v=1677574346" onclick="moveTop('“Best Electric Bike for 2022”', this)"/>
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165159.png?v=1677574346" onclick="moveTop('“Does phone tech better than some phones”', this)"/>
    </div>
  </div>

  <div class="home-page-media-mb pcHide">
    <div class="swiper-wrapper swiper-container-horizontal swiper-container-fade">
      <div class="swiper-slide">
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165148.png?v=1677574346"/>
        <div class="u20Medium">“It's incredibly fun to ride”</div>
      </div>
      <div class="swiper-slide">
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165209.png?v=1677574346"/>
        <div class="u20Medium">“Like a phone’s than a next-gen fixie”</div>
      </div>
      <div class="swiper-slide">
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18075_2x_5ed82c19-16b6-4f05-870a-623b5429a75f.png?v=1677303615"/>
        <div class="u20Medium">“One of the smartest ebike”</div>
      </div>
      <div class="swiper-slide">
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165154.png?v=1677574346"/>
        <div class="u20Medium">“Best Electric Bike for 2022”</div>
      </div>
      <div class="swiper-slide">
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165159.png?v=1677574346"/>
        <div class="u20Medium">“Does phone tech better than some phones”</div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
</div>


  <script>
    let temp = `“It's incredibly fun to ride”`

    function moveTop (text, target) {
      const active = target.getAttribute('active')

      if (active !== null) {
        return
      }

      const current = document.querySelector('.home-page-media .logos img[active]')

      current.removeAttribute('active')
      target.setAttribute('active', '')

      const texts = document.querySelector('.home-page-media .texts')
      texts.innerHTML = `
                          <div class="toBottom">${temp}</div>
                          <div class="toTop">${text}</div>
                        `

      temp = text
    }

    document.body.clientWidth > 1024 && setInterval(() => {
      const active = document.querySelector('.home-page-media .logos img[active]')
      const next = active.nextElementSibling || document.querySelector('.home-page-media .logos img')

      next.click()
    }, 5000)


    new Swiper ('.home-page-media-mb', {    
        autoplay: {
            disableOnInteraction: false,
            pauseOnMouseEnter: false,
            delay: 5000,
        },
        loop: true,
        effect: 'fade',
        fadeEffect:{
            crossFade: true
        },
        pagination: {el:'.swiper-pagination'},
        speed: 300
      }) 
  </script>