<div class="banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide spring-sale">
            <div class="centeral-content">
                <div>
                    <div class="u56DemiBold_v2">{{ settings.sale_name | slice: 0, 15 }} <br class="mobileHide">sale</div>
                    <!--<div class="u48Medium_v2">Urtopia embraces ESG</div>-->
                    <!--<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21028_2x_cc5de76b-e316-4781-87e4-ab79a5a5d6b2.png?v=1685775291">-->
                    <div class="u36DemiBold_v2">Get €600 Off + 3 Freebies<br>on Carbon 1 {{ settings.sale_end_time }}</div>
                    <div class="count-down pcHide">
                        <iframe height="155" width="352" src="https://w2.countingdownto.com/4780347" scrolling="no" frameborder="0"></iframe>
                    </div>
                    <div class="flex-1 pcHide"></div>
                    <div class="buttons">
                        <a class="my-button" href="/products/urtopia-carbon-e-bike">Order now</a>
                        <a class="my-button my-button-ghost" href="/pages/e-bike">Meet Carbon 1</a>
                    </div>
                    <div class="count-down mobileHide">
                        <iframe height="308" width="350" src="https://w2.countingdownto.com/4780344" scrolling="no" frameborder="0"></iframe>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
        <div class="swiper-slide leasing">
            <div class="centeral-content">
                <div class="mobileHide"></div>
                <div>
                    <div class="u36DemiBold_v2">Leasing just gets easier! <br> In partnership with</div>
                    <div class="imgaes">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18584_2x_f805d892-dcc9-476d-8376-d69a6c06b8c3.png?v=1686661948" alt="">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18374_2x_928607a8-b83f-4820-a964-24b561606ba1.png?v=1686661717" alt="">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18583_2x_ff5f2620-54f2-40e8-8d7c-7ff5b1392a98.png?v=1686661382" alt="">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/logo_meinstdienstrad_2021_2x_52c0ef66-8012-401d-bd85-8c993d123dc6.png?v=1686661875" alt="">
                    </div>
                    <div class="flex-1 pcHide"></div>
                    <div class="buttons">
                        <a href="/pages/ebike-leasing#froms" class="my-button">Lease now</a>
                        <a href="/pages/ebike-leasing" class="my-button my-button-ghost">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide golf">
            <div class="centeral-content">
                <div class="mobileHide"></div>
                <div>
                    <div class="u56DemiBold_v2">Golf & Urtopia event <br class="mobileHide">in Golfclub Hösel</div>
                    <div class="u24DemiBold_v2">
                        <div>Telefon: <span class="u20Medium_v2">+4917632496651</span> </div>
                        <div>E-Mail: <span class="u20Medium_v2">info@golfclubhosel.de</span></div>
                        <div>Ereignis Zeit: <span class="u20Medium_v2">18. Juni 2023 9 Uhr bis 16 Uhr</span></div>
                        <div>Address: <span class="u20Medium_v2">Höseler Str. 147, 42579 Heiligenhaus, Germany</span></div>
                    </div>
                    <div class="flex-1 pcHide"></div>
                    <div class="buttons">
                        <a href="/pages/test-ride?from_home_page=from_home_page" class="my-button">Book now</a>
                    </div>
                </div>
            </div>
        </div>
      <div class="swiper-slide bluetti">
                <div class="centeral-content">
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21026_2x_1fff6f8e-1729-48a7-a825-b915950c3611.png?v=1685619836" alt="">
                        <div class="u56DemiBold_v2">Blue Sky Rider</div>
                        <div class="u36DemiBold_v2">Enjoy €600 OFF Exclusive <br class="pcHide"> Code: BLUESKY</div>
                        <div class="flex-1 pcHide"></div>
                        <div class="buttons">
                            <a class="my-button" href="/products/urtopia-carbon-e-bike">Order now</a>
                            <a target="_blank" class="my-button my-button-ghost" href="/blogs/blog/blue-sky-rider-urtopia-and-bluetti">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        <!--<div class="swiper-slide common">
            <div class="centeral-content">
                <div></div>
                <div class="right">
                    <div class="u24Medium_v2">Carbon 1</div>
                    <div class="u60DemiBold_v2">Your Smart and Lightweight Pal</div>
                    <div class="flex-1 pcHide"></div>
                    <div class="buttons">
                        <a class="my-button" href="/products/urtopia-carbon-e-bike">Order now</a>
                        <a class="my-button my-button-ghost mobileHide" href="/pages/ebike-leasing">Leasing</a>
                        <a class="my-button pcHide" href="/pages/ebike-leasing">Leasing</a>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- 
        <div class="swiper-slide maksim">
            <div class="centeral-content">
                <div></div>
                <div class="right">
                    <div class="u17Medium_v2 mobileHide">Tune your ride with Chord.</div>
                    <div class="u48DemiBold_v2">"Elegant, powerful and reliable"</div>
                    <div class="flex-1 pcHide"></div>
                    <div class="buttons">
                        <a class="my-button" href="">Meet Chord</a>
                        <a class="my-button my-button-ghost mobileHide" href="">Watch video</a>
                        <a class="my-button pcHide" href="">Watch video</a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="swiper-pagination"></div>
</div>

<script>
 // 是否有多个banner, 如果有 开启swiper
 const isMultipartBanner = document.querySelectorAll('.banner .swiper-slide')
  
 isMultipartBanner.length > 1 && new Swiper('.banner', {
     autoplay: {
         disableOnInteraction: false,
         pauseOnMouseEnter: false,
         delay: 10000,
     },
     loop: true,
     speed: 1000,
     pagination: {
         el: '.swiper-pagination',
         clickable: true
     }
 })


 $('.banner a').on('click', e => {
    const t = $(e.target)
    const slide = t.closest('.swiper-slide')

    fetchBuried('websiteclick', 'homepage-banner', {
        button: slide.hasClass('bluetti') ? (t.hasClass('my-button-ghost') ? 'learn_more' : 'order_now_buletti') : (t.hasClass('my-button-ghost') ? 'meet_carbon' : 'order_now')
    }, true)
 })
</script>