<div class="banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide friday">
            <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/BLACK_FRIDAY_SALE_2x_4f4fe7f3-fc58-4445-a07f-6193ecc1dd42.png?v=1700027725" alt="">
            <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/BLACK_FRIDAY_SALE_2x_627d0daf-3876-48ca-badc-4b6f2c3af56e.png?v=1700029299" alt="">
            <div class="u24Medium_v2">Up to {{ settings.carbon_ebike_discount_price | money_without_trailing_zeros }} Off on E-Bikes</div>
            <div class="flex-1 pcHide"></div>
            <a class="my-button my-button-origin mobileHide" href="/products/urtopia-carbon-e-bike">Order now</a>
            <a class="my-button pcHide" href="/products/urtopia-carbon-e-bike">Order now</a>
        </div>
        <div class="swiper-slide design">
            <div class="centeral-content">
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Image_248_2x_ea016ad5-8394-43d7-bd4e-e5ab0408184d.png?v=1700030010" alt="">
                    <div class="u24Medium_v2">Urtopia Chord Achieves Prestigious Recognition as German Design Award Winner 2024</div>
                    <div class="flex-1 pcHide"></div>
                    <div class="buttons">
                        <a class="my-button" href="/products/urtopia-chord-ebike">Order now</a>
                        <a class="my-button" href="/pages/lightweight-commuter-ebike-urtopia-chord">Meet Chord/Chord x</a>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
        <!--<div class="swiper-slide holiday">
            <div class="centeral-content">
                <div>
                  <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Early_Black_Friday.png?v=1696751649" alt="">
                    <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Early_Black_Friday.png?v=1696751649" alt="">
                    <div class="u36DemiBold_v2">Up to {{ settings.carbon_ebike_discount_price | money_without_trailing_zeros }} Off on E-Bikes</div>
                    <div class="u17DemiBold_v2">LOWEST PRICE OF THE YEAR GUARANTEED!*</div>
                    <div class="flex-1 pcHide"></div>
                    <div class="buttons">
                        <a class="my-button" href="/products/urtopia-carbon-e-bike">Order now</a>
                        <a class="my-button my-button-ghost" href="/pages/e-bike">Meet Carbon 1</a>
                    </div>
                    <div class="flex-1 mobileHide"></div>
                    <div class="u14Light_v2">*For any order during Oct 1 - Dec 31 2023, if there is a price drop within this period on our website, you can request a refund for the difference by contacting our support. The refund will be automatically approved and returned to your account.</div>
                </div>
                <div></div>
            </div>
        </div>-->
      <div class="swiper-slide strava">
                <div class="centeral-content">
                  <div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21258_2x_b6eefd8c-d9c9-4a58-ae7b-284408aad2af.png?v=1689664928" alt="">
                    <div class="u24Medium_v2">World’s First E-bike Integrated with Strava</div>
                    <a class="my-button" target="_blank" href="/blogs/blog/urtopia-x-strava">Read the blog</a>
                  </div>
                </div>
              </div>
        <div class="swiper-slide unknown">
            <div class="centeral-content">
                <div>
                    <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21483_2x_b2386168-c7ec-4ac8-8c5a-88cdcb37c09b.png?v=1689407663" alt="">
                    <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21482_2x_b9194456-4f54-4bd5-b2ab-79981f69563e.png?v=1689408084" alt="">
                    <div class="u36DemiBold_v2">Urtopia Available on <br>MeidaMarkt and Grover</div>
                    <div class="flex-1 pcHide"></div>
                    <div class="buttons">
                        <a class="my-button" target="_blank" href="https://www.mediamarkt.de/de/search.html?query=urtopia&filter=carType%3ACitybike">Shop on MediaMarkt</a>
                        <a class="my-button my-button-ghost mobileHide" target="_blank" href="https://www.grover.com/de-de/products/urtopia-carbon-1-ebike">Shop on Grover</a>
                        <a class="my-button my-button-black pcHide" target="_blank" href="https://www.grover.com/de-de/products/urtopia-carbon-1-ebike">Shop on Grover</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>

<script>
 // 是否有多个banner, 如果有 开启swiper
 const isMultipartBanner = document.querySelectorAll('.banner .swiper-slide')
  
 isMultipartBanner.length > 1 && new Swiper('.banner', {
     autoplay: {
         disableOnInteraction: false,
         pauseOnMouseEnter: false,
         delay: 10000,
     },
     loop: true,
     speed: 1000,
     pagination: {
         el: '.swiper-pagination',
         clickable: true
     }
 })


 $('.banner .unknown a').on('click', e => {
    fetchBuried('websiteclick', 'homepage-banner', {
        button: $(e.target).text()
    })
 })

</script>