<div class="leasing">
    <div class="companies">
        <div class="centeral-content">
          <div>
            <div class="u48DemiBold_v2">
              Companies that<br>
              Trust Urtopia
            </div>
            <div class="u17Light_v2">
              In Germany, over <span class="emphasize u24DemiBold_v2">200</span> companies have chosen to lease Urtopia bikes for their
              employees. Join us and let your employer know about {% if template == 'page.leasing' %}Leasing{% else %}JobRad{% endif %} and why Urtopia should be your top choice for bike
              leasing! Email <a class="my-link" href="mailto:leasing@newurtopia.de">leasing@newurtopia.de</a> to check if your
              employer has partnered with Urtopia!
            </div>
          </div>
          <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230531-170016.jpg?v=1685523630">
          <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21127_2x_0f1e4d64-e3c3-4d9e-88a3-23f3ffdb7f62.jpg?v=1685522770">
        </div>
      </div>
</div>
