<div class="companies">
  <div class="centeral-content">
    <div>
      <div class="u48DemiBold_v2">
        Companies that<br>
        Trust Urtopia
      </div>
      <div class="u17Light_v2">
        In Germany, over <span class="emphasize u24DemiBold_v2">200</span> companies have chosen to lease Urtopia bikes for their
        employees. Join us and let your employer know about Leasing and why Urtopia should be your top choice for bike
        leasing! Email <a class="my-link" href="mailto:leasing@newurtopia.de">leasing@newurtopia.de</a> to check if your
        employer has partnered with Urtopia!
      </div>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21126_2x_c79cab94-5cea-4e43-874d-a564ac8c6969.jpg?v=1685521587">
  </div>
</div>
