<style>
    .leasing-logo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-width: var(--page-width);
        padding: 3px 0;
        cursor: pointer;
    }
</style>

<a class="leasing-logo" href="/pages/ebike-leasing" target="_blank">
    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/buss_2x_b213e1ba-161b-4cd5-ae59-6f67216db491.png?v=1726221268"/>
</a>