<div class="companies">
    <div class="centeral-content">
        <div>
            <div>Companies that Trust Urtopia</div>
            <div>In Germany, over 200 companies have chosen to lease Urtopia bikes for their employees. Join us and let your employer know about Leasing and why Urtopia should be your top choice for bike leasing! Email leasing@newurtopia.de to check if your employer has partnered with Urtopia!</div>
        </div>
        <div></div>
    </div>
</div>