<style>
    .leasing-logo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-width: var(--page-width);
        margin: 20px auto 0;
    }

    .leasing-logo img {
        height: 15px;
        width: auto;
        margin: 0 10px 15px 0;
    }
</style>

<div class="leasing-logo">
    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/JobRad_Logo_Anthrazit_RGB_4x_2x_1e53f329-bbb2-4187-87c7-14302a9e55d6.png?v=1709176253" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/dd-logo-dark-yellow_2x_2ef63776-bf9d-4234-bed4-d70fda41b2e1.png?v=1709176260" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19060_2x_6d8643b2-a393-4286-8c58-e4e4c5b89443.png?v=1709176265" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Wordmark__leaseabike_transparent_2x_9dd62991-f655-490d-8b6c-02519b7c3aca.png?v=1709176272" alt="">
    {% comment %} <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/BusinessBike_pos_BLUE_RED_BLUE_rgb-1-640x164_2x_220b2736-612d-4221-9256-aae20a4b6bdb.png?v=1709176278" alt=""> {% endcomment %}
    {% comment %} <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/logo_2x_478e7967-ec8e-4b07-a321-bb546c49d18d.png?v=1709176246" alt=""> {% endcomment %}
</div>