<div>
  <div class="u30Medium_v2">Urtopians worldwide</div>
  <div class="u17Light_v2">
    {{ 'order_page.urtopians-worldwide' | t: number_1: '200,000', number_2: '131,300+' }}
  </div>
  <div class="texts">
    <div>
      <span class="u14Light_v2">The Urtopians rode a total distance of</span>
      <span class="u30DemiBold_v2">43,000,000+ <span class="u20Medium_v2">km</span></span>
    </div>
    <div>
      <span class="u14Light_v2">The reduction in CO2 emissions amounted to</span>
      <span class="u30DemiBold_v2">530,000+ <span class="u20Medium_v2">kg</span></span>
    </div>
    <div>
      <span class="u14Light_v2">Urtopian’s joint effort is equivalent to planting</span>
      <span class="u30DemiBold_v2">131,300+ <span class="u20Medium_v2">trees</span></span>
    </div>
  </div>
</div>
