<div class="swiper-container swiper-container-initialized swiper-container-vertical">
  <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
    <div class="swiper-slide ani-slide swiper-slide-active" style="height: 300px;"><p>Slide 1</p></div>
    <div class="swiper-slide swiper-slide-next" style="height: 300px;"><p>Slide 2</p></div>
    <div class="swiper-slide" style="height: 300px;"><p>Slide 3</p></div>
  </div>
  <div class="swiper-pagination swiper-pagination-bullets">
    <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span
    ><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span>
  </div>
  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
</div>
