<style>
  #announcement-bar {
    height: 38px;
    overflow: hidden;
    background-color: #1c2a3b;
    color: #fff;
    text-align: center;
    line-height: 38px;
  }

  #announcement-bar .swiper-slide > span {
    font-weight: bold;
    color: #ffda12;
  }

  
</style>

  <div id="announcement-bar" dir="rtl">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Easter Sale - <span>Save 300€ </span> on Carbon 1 <a href="">Get yours Now</a></div>
      <div class="swiper-slide">Save up to <span> 40%! </span> Lease a Urtopia with JobRad. <a href="">Learn more</a></div>
      <div class="swiper-slide"><p>three</p></div>
    </div>
  </div>

<script>
  new Swiper('#announcement-bar', {
    direction: 'vertical',
    speed: 600,
    loop: true,
    autoplay: {
      disableOnInteraction: false,
      pauseOnMouseEnter: true,
      delay: 5000,
      // reverseDirection: true
    },
    on:{
			init:function(swiper){
		        slide=this.slides.eq(0);
			    slide.addClass('ani-slide');
		    },
			transitionStart: function(){
			    for(i=0;i<this.slides.length;i++){
			    	slide=this.slides.eq(i);
			        slide.removeClass('ani-slide');
				}
		    },
			transitionEnd: function(){
				slide=this.slides.eq(this.activeIndex);
			    slide.addClass('ani-slide');
				
		    },
		}
  });
</script>
