<style>
  #announcement-bar {
    height: 38px;
    overflow: hidden;
    background-color: #1C2A3B;
  }

  .swiper-wrapper {
    transition-delay: 0.3s;
  }

  .swiper-slide {
  }

  .swiper-slide p {
    transform: translateX(-200px);
    opacity: 0;
    transition: all 0.4s;
  }
  .ani-slide p {
    transform: translateX(0);
    opacity: 1;
  }
</style>

<div id="">
  <div class="announcement-bar swiper-container-initialized swiper-container-vertical">
    <div class="swiper-wrapper">
      <div class="swiper-slide">one</div>
      <div class="swiper-slide">two</div>
      <div class="swiper-slide">three</div>
    </div>
  </div>
</div>

<script>
  var swiper = new Swiper('#announcement-bar', {
    direction: 'vertical',
    followFinger: false,
    speed: 800,
    mousewheel: true,
    on: {
      init: function (swiper) {
        slide = this.slides.eq(0);
        slide.addClass('ani-slide');
      },
      transitionStart: function () {
        for (i = 0; i < this.slides.length; i++) {
          slide = this.slides.eq(i);
          slide.removeClass('ani-slide');
        }
      },
      transitionEnd: function () {
        slide = this.slides.eq(this.activeIndex);
        slide.addClass('ani-slide');
      },
    },
  });
</script>
