<style>
  #announcement-bar {
    height: 38px;
    overflow: hidden;
    background-color: #1c2a3b;
    color: #fff;
    text-align: center;
    line-height: 38px;
  }

  @keyframes swiper-opacity {
    100% {
      opacity: 0;
    }
  }

  #announcement-bar .swiper-slide p > span {
    font-weight: bold;
    color: #ffda12;
  }

  
</style>

<div id="">
  <div id="announcement-bar" dir="rtl">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <p>
        Easter Sale - <span>Save 300€ </span> on Carbon 1
        <svg
          viewBox="0 0 14 10"
          fill="none"
          aria-hidden="true"
          focusable="false"
          role="presentation"
          class="icon icon-arrow"
          xmlns="http://www.w3.org/2000/svg"
        >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
          </path>
        </svg>
        <p>
      </div>
      <div class="swiper-slide"><p>two</p></div>
      <div class="swiper-slide"><p>three</p></div>
    </div>
  </div>
</div>

<script>
  var swiper = new Swiper('#announcement-bar', {
    direction: 'vertical',
    speed: 600,
    loop: true,
    autoplay: {
      disableOnInteraction: false,
      pauseOnMouseEnter: true,
      delay: 5000,
      reverseDirection: true
    },
    on:{
			init:function(swiper){
		        slide=this.slides.eq(0);
			    slide.addClass('ani-slide');
		    },
			transitionStart: function(){
			    for(i=0;i<this.slides.length;i++){
			    	slide=this.slides.eq(i);
			        slide.removeClass('ani-slide');
				}
		    },
			transitionEnd: function(){
				slide=this.slides.eq(this.activeIndex);
			    slide.addClass('ani-slide');
				
		    },
		}
  });
</script>
