<div class="swiper-container swiper-container-initialized swiper-container-vertical">
  <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
    <div class="swiper-slide ani-slide swiper-slide-active" style="height: 300px;"><p>Slide 1</p></div>
    <div class="swiper-slide swiper-slide-next" style="height: 300px;"><p>Slide 2</p></div>
    <div class="swiper-slide" style="height: 300px;"><p>Slide 3</p></div>
  </div>
  <div class="swiper-pagination swiper-pagination-bullets">
    <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span
    ><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span>
  </div>
  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
</div>


<script>
  var swiper = new Swiper('.swiper-container',{
  direction : 'vertical',
  followFinger : false,
  speed:800,
  mousewheel: true,
  pagination : {
    el:'.swiper-pagination',
  },
  on:{
    init:function(swiper){
          slide=this.slides.eq(0);
        slide.addClass('ani-slide');
      },
    transitionStart: function(){
        for(i=0;i<this.slides.length;i++){
          slide=this.slides.eq(i);
            slide.removeClass('ani-slide');
      }
      },
    transitionEnd: function(){
      slide=this.slides.eq(this.activeIndex);
        slide.addClass('ani-slide');
      
      },
  }
  });

</script>
