<style>
  #announcement-bar {
    height: 38px;
    overflow: hidden;
    background-color: #1c2a3b;
    color: #fff;
    text-align: center;
  }

  #announcement-bar .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  #announcement-bar .swiper-slide > p {
    line-height: 19px;
  }

  #announcement-bar .swiper-slide > p > span {
    font-weight: bold;
    color: #ffda12;
  }

  #announcement-bar .swiper-slide > p > a {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
  }

  #announcement-bar .swiper-slide > p > a:hover {
    color: #d6d6d6;
  }

  
</style>

  <div id="announcement-bar" dir="rtl">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><p>Easter Sale - <span>Save 300€ </span> on Carbon 1. <br class="pcHide"> <a href="/products/urtopia-carbon-e-bike">Get yours Now</a></p></div>
      <div class="swiper-slide"><p>Save up to <span> 40%! </span> Lease a Urtopia with JobRad <br class="pcHide"><a href="/pages/jobrad">Learn more</a></p></div>
    </div>
  </div>

<script>
  new Swiper('#announcement-bar', {
    direction: 'vertical',
    speed: 600,
    loop: true,
    autoplay: {
      disableOnInteraction: false,
      pauseOnMouseEnter: true,
      delay: 5000,
      // reverseDirection: true
    },
    on:{
			init:function(swiper){
		        slide=this.slides.eq(0);
			    slide.addClass('ani-slide');
		    },
			transitionStart: function(){
			    for(i=0;i<this.slides.length;i++){
			    	slide=this.slides.eq(i);
			        slide.removeClass('ani-slide');
				}
		    },
			transitionEnd: function(){
				slide=this.slides.eq(this.activeIndex);
			    slide.addClass('ani-slide');
				
		    },
		}
  });
</script>
