<link rel="stylesheet" href="{{ 'carbon-one.scss.css' | asset_url }}">

{% render 'carbon-order-page' %}

<div id="freedom" class="freedom">
  <div class="centeral-content">
    <div class="u42DemiBold_v2">Smartest and Lightest E-Bike</div>
    <div class="values">
      <div>
        <span class="u36DemiBold_v2">15
          <span class="u17Light_v2">kg</span>
        </span>
        <span class="u17Light_v2">Net Weight</span>
      </div>
      <div>
        <span class="u36DemiBold_v2">100
          <span class="u17Light_v2">km</span>
        </span>
        <span class="u17Light_v2">per charge</span>
      </div>
      <div>
        <span class="u36DemiBold_v2">4
          <span class="u17Light_v2">levels</span>
        </span>
        <span class="u17Light_v2">pedal assist</span>
      </div>
      <div>
        <span class="u36DemiBold_v2">360
          <span class="u17Light_v2">Wh</span>
        </span>
        <span class="u17Light_v2">Battery</span>
      </div>
    </div>
    <div class="values2">
      <div>
        <span class="u17Medium_v2">100%</span>
        <span class="u17Medium_v2">Carbon Fiber</span>
      </div>
      <div>
        <span class="u17Medium_v2">90%</span>
        <span class="u17Medium_v2">Assembled</span>
      </div>
      <div>
        <span class="u17Medium_v2">Anti-theft</span>
        <span class="u17Medium_v2">GPS Tracking</span>
      </div>
      <div>
        <span class="u17Medium_v2">Magnetic</span>
        <span class="u17Medium_v2">Torque Sensor</span>
      </div>
      <div>
        <span class="u17Medium_v2">Removable</span>
        <span class="u17Medium_v2">Samsung Battery</span>
      </div>
      <div>
        <span class="u17Medium_v2">hydraulic</span>
        <span class="u17Medium_v2">Disc Brakes</span>
      </div>
    </div>
  </div>
</div>

<div class="arrial">
  <div class="centeral-content">
    <div class="u36DemiBold_v2">New Arrival</div>
    <div class="u72DemiBold_v2">Carbon 1s</div>
    <div class="u17Light_v2">Uphill riding, downhill thrill. Unleash your sporty riding style. Conquer uphill challenges and experience thrilling speeds, pushing the boundaries of performance and excitement.</div>
    <div class="u36DemiBold_v2">4 X 7</div>
    <div class="u17Light_v2" style="margin:0;">Modes X Gears</div>
  </div>
</div>

<div class="boxs">
  <div class="centeral-content">
    <div>
      <div class="u36DemiBold_v2">Carbon 1s</div>
      <div class="u20Light_v2">Next-level adventures with gears</div>
      <div class="u17DemiBold_v2">
        <div>
          <span class="emphasize">●</span>
          250W 45Nm motor</div>
        <div>
          <span class="emphasize">●</span>
          Assist levels x Gears: 4 x 7</div>
        <div>
          <span class="emphasize">●</span>
          Increased ride range</div>
        <div>
          <span class="emphasize">●</span>
          Wider terrain capabilities</div>
      </div>
      <div class="u17Light_v2">Carbon 1s offers the options of pushing a harder gear to get more workout or speed; or riding an easy gear with less stress on the legs. The 45Nm motor with gears makes your ride speedier and easier to travel up the hills.</div>
    </div>
    <div></div>
    <div></div>
    <div>
      <div class="u36DemiBold_v2">Carbon 1</div>
      <div class="u20Light_v2">Perfect for urban commuters</div>
      <div class="u17DemiBold_v2">
        <div>
          <span class="emphasize">●</span>
          Gates carbon belt drive</div>
        <div>
          <span class="emphasize">●</span>
          Cleaner, quieter and smoother</div>
        <div>
          <span class="emphasize">●</span>
          30,000 km Maintenance free</div>
      </div>
      <div class="u17Light_v2">Carbon 1 is great for commuters because you’ll never get a grease mark on your nice slacks. If you enjoy quiet rides in the morning while enjoying nature and the birds’ singing, you may want to opt for a belt drive.</div>
    </div>
  </div>
</div>

<div class="carry">
  <div class="centeral-content">
    <div>
      <div class="u30DemiBold_v2">Effortless to Carry</div>
      <div class="u20Light_v2">Full Carbon (Only 15kg)</div>
      <div class="u14Light_v2">Literally, an e-bike single-handedly manageable. Just a fraction of the weight compared to peer e-bikes, thanks to a full carbon body of frame, handlebar, seat post, and forks.</div>
    </div>
  </div>
</div>

<div class="boxs2">
  <div class="centeral-content">
    <div></div>
    <div>
      <div class="u36DemiBold_v2">A bike you never lose</div>
      <div class="u17Light_v2"><br>Aided by a constant 4G connection, GPS tracking keeps you informed of the e-bike’s position, even in the worst scenario of theft, for as long as 30 days. <br><br>We have helped users all over the world to retreat their beloved bike.</div>
    </div>
    <div>
      <div class="u36DemiBold_v2">Navigation without Cellphone</div>
      <div class="u17Light_v2"><br>Bright screen shows navigation clearly under daylight, no more ugly phone holder. <br><br>Let you explore the unknown safe and free.</div>
    </div>
    <div></div>
  </div>
</div>

<div class="stars">
  <div class="centeral-content">
  <div
    data-section-id="pf-03a0"
    data-pf-type="GlobalSection"
    id="3a54e43f-bdd0-48c4-a389-12d1be7e4773"
    class="sc-fpYaaq boGbAB pf-195_">
    {% capture content %}
      {% include 'pf-3a54e43f' %}{% endcapture %}
    {% if content contains "Liquid error" %}
      {% else %}
        {% render 'pf-3a54e43f' %}
    {% endif %}
  </div>
</div>
</div>

<div class="mediaaaaa gray-background-color mobileHide" style="--swiper-theme-color: #000;--swiper-pagination-color: #000;">
  <div class="centeral-content swiper-wrapper">
    <div class="swiper-slide">
      <div class="u17DemiBold_v2">“Urtopia is an over the top e-bike”</div>
      <div class="flex-1"></div>
      <img src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/Mask_Group_18604_2x_0a53e289-f2f5-4d7b-8024-17cb83aa826d.png?v=1686216700" alt="">
    </div>
    <div class="swiper-slide">
      <div class="u17DemiBold_v2">“Eye-catching styled carbon frame”</div>
      <div class="flex-1"></div>
      <img src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/Mask_Group_18605_2x_f4a10f13-0834-4e4e-8ba4-117f9bb47368.png?v=1686216858" alt="">
    </div>
    <div class="swiper-slide">
      <div class="u17DemiBold_v2">“The carbon pedelec from Urtopia is also stylish, light and electric.”</div>
      <div class="flex-1"></div>
      <img src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/Mask_Group_18537_2x_513fd62f-3460-43e2-ac3d-8f16fb18545c.png?v=1686216918" alt="">
    </div>
    <div class="swiper-slide">
      <div class="u17DemiBold_v2">“Lightweight, networked and highly secure”</div>
      <div class="flex-1"></div>
      <img src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/Mask_Group_18603_2x_9560f2ca-aafd-482e-b764-98ed676cd195.png?v=1686217006" alt="">
    </div>
    <div class="swiper-slide">
      <div class="u17DemiBold_v2">“Best Electric Bike for 2022”</div>
      <div class="flex-1"></div>
      <img src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/Image_136_2x_6bcd871d-9e96-48ae-91a5-b6dda074b4c1.png?v=1686217058" alt="">
    </div>
    <div class="swiper-slide">
      <div class="u17DemiBold_v2">“Lightweight carbon fiber road e-bike with affordably-price”</div>
      <div class="flex-1"></div>
      <img src="https://cdn.shopifycdn.net/s/files/1/0633/2068/6808/files/Mask_Group_18602_2x_12b3eebc-888a-4bd6-bf4c-90881502f123.png?v=1686217108" alt="">
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<div class="test-ride">
  <div class="centeral-content">
    <div>
      <div>
        <div class="u36DemiBold_v2">Test ride spots near you</div>
        <div class="u20DemiBold_v2">Experience the bike in real</div>
        <a
          class="my-button my-button-origin"
          href="/pages/test-ride"
          target="_blank">Book a Free Test Ride</a>
      </div>
    </div>
    <div>
      <div style="padding: 0;">
        <div
          id="storepoint-container"
          data-tags="de"
          data-map-id="162f21804990ff"></div>
      </div>
    </div>
  </div>
</div>

<div class="boxs3" id="boxs3">
  <div class="centeral-content">
    <div></div>
    <div>
      <div class="u30DemiBold_v2">Local care all the time</div>
      <div class="u17Light_v2">
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/shopping-mall_2x_44d99fcd-f0f4-443b-927e-b68e48af010f.png?v=1687259496"/>1 service center, 30+ service partners</div>
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/24-hours_2x_d6a8eeb2-4564-4351-8cb9-096dbb778479.png?v=1687259501"/>24hrs service response, App build-in portal</div>
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/box_2x_2b3b7c15-f5ae-4305-956f-7543b63b2dda.png?v=1687259506"/><span>Spare parts available locally, ships in 3 days.1 service center, 30+ service partners</span></div>
        <div><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/customer-satisfaction_2x_c7081e3a-1864-43b6-8ed2-f77895eafa6a.png?v=1687259512"/>10+ technical experts, 99% satisfaction rate.</div>
      </div>
      <a class="my-button my-button-black" href="/pages/care" target="_blank">Learn more</a>
    </div>
    <div>
      <div class="u30DemiBold_v2">Leasing Partners at Your Choice</div>
      <div class="u17Light_v2">We offer you the opportunity to get your dream bike at low monthly leasing rates through various leasing providers.</div>
      <div class="logos">
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/JR-Logo_-RGB-schwarz-large-4x_2x_90eff7ba-f64b-45ef-8e7e-65490e740385.png?v=1687260470"/>
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18616_2x_d0fb1804-0a96-4524-9463-6cd30673cf6d.png?v=1687260793"/>
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18617_2x_6706fd9c-d8f3-434b-b77f-6e35eb007eb3.png?v=1687260762"/>
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/logo_meinstdienstrad_2021_2x_d5a1936d-fc18-418a-bb45-b9bb73e6c96a.png?v=1687260731"/>
      </div>
      <a class="my-button my-button-black" href="/pages/ebike-leasing" target="_blank">Lease Now</a>
    </div>
    <div></div>
  </div>
</div>

<script>
  (function() {
    var a = document.createElement("script");
    a.type = "text/javascript";
    a.src = "https://cdn.storepoint.co/api/v1/js/162f21804990ff.js";
    var b = document.getElementsByTagName("script")[0];
    b.parentNode.insertBefore(a, b);
  }());

//
</script>




{% render 'carbon-one-extra-code' %}