<link rel="stylesheet" href="{{ 'carbon-one.scss.css' | asset_url }}">

{% render 'carbon-order-page' %}

<div id="freedom" class="freedom">
    <div class="centeral-content">
      <div class="u42DemiBold_v2">Smartest and Lightest E-Bike</div>
      <div class="values">
        <div>
          <span class="u36DemiBold_v2">15 <span class="u17Light_v2">kg</span></span>
          <span class="u17Light_v2">Net Weight</span>
        </div>
        <div>
          <span class="u36DemiBold_v2">100 <span class="u17Light_v2">km</span></span>
          <span class="u17Light_v2">per charge</span>
        </div>
        <div>
          <span class="u36DemiBold_v2">4 <span class="u17Light_v2">levels</span></span>
          <span class="u17Light_v2">pedal assist</span>
        </div>
        <div>
          <span class="u36DemiBold_v2">360 <span class="u17Light_v2">Wh</span></span>
          <span class="u17Light_v2">Battery</span>
        </div>
      </div>
      <div class="values2">
        <div>
          <span class="u17Medium_v2">100%</span>
          <span class="u17Medium_v2">Carbon Fiber</span>
        </div>
        <div>
          <span class="u17Medium_v2">90%</span>
          <span class="u17Medium_v2">Assembled</span>
        </div>
        <div>
          <span class="u17Medium_v2">Anti-theft</span>
          <span class="u17Medium_v2">GPS Tracking</span>
        </div>
        <div>
          <span class="u17Medium_v2">Magnetic</span>
          <span class="u17Medium_v2">Torque Sensor</span>
        </div>
        <div>
          <span class="u17Medium_v2">Removable</span>
          <span class="u17Medium_v2">Samsung Battery</span>
        </div>
        <div>
          <span class="u17Medium_v2">hydraulic</span>
          <span class="u17Medium_v2">Disc Brakes</span>
        </div>
      </div>
    </div>
  </div>

{% render 'carbon-one-extra-code' %}