{{ 'carbon1pro.scss.css' | asset_url | stylesheet_tag: preload: true }}

<div class="banner">
    <H4 class="u20Medium_v2">NEW</H4>
    <div class="flex-1 mobileHide"></div>
    <h1 class="u48Medium_v2">The Ride <span style="color: #EB5A2D;">EVOLUTION: <br class="pcHide"></span>Beyond Limits
    </h1>
    <h4 class="u36Medium_v2">MSRP {{ 329900 | money_without_trailing_zeros }}</h4>
    <p class="u17Light_v2">
        <span>Subscribe now to be the first to know!</span>
    </p>
    <form class="emaillllllllllllll" accept-charset="UTF-8">
        <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
        <button class="my-button my-button-origin" type="submit">Subscribe</button>
        <span class="u17DemiBold_v2">Thanks for subscribing!</span>
    </form>
</div>
<div class="classic">
    <h2 class="u24Medium_v2 pcHide">A True Rebirth of the Classic</h2>
    <div onclick="showVideoDialog('https://www.youtube.com/embed/49fnGf6Npbc?autoplay=1&cc_load_policy=1')">
        <h2 class="u48Medium_v2 mobileHide">A True Rebirth of the Classic</h2>
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23598_2x_6dabdb22-8a88-4887-9669-1be46f903a0b.png?v=1703731306" alt="">
    </div>
</div>
<div class="design">
    <div class="centeral-content">
        <div>
            <h3 class="u24DemiBold_v2">Mathis Heller</h3>
            <h4 class="u20Medium_v2">Carbon 1 Pro’s Concept Designer <br>Former BMW Designer</h4>
        </div>
        <div>
            <h2 class="u48Medium_v2">Design <span style="color: #EB5A2D;">EVOLUTION: </span><br>Redefining Excellence
            </h2>
            <p class="u17Light_v2"><span>Carbon 1 Pro is Mr. Heller’s masterpiece, continuing the design of Carbon 1,
                    optimizing the structure and improving the ride. It’s made for zipping around town and keeping you
                    in great shape.</span></p>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231226-194538.png?v=1703591174"
                    alt="">
                <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20231226-194530.png?v=1703591174"
                    alt="">
            </div>
        </div>
    </div>
</div>
<div class="fully">
    <div class="centeral-content">
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23241_2x_6dc880de-020e-4b51-adfb-9beff6d1e926.png?v=1703223828"
            alt="">
        <div>
            <div>
                <h2 class="u48Medium_v2">Fully Upgrade</h2>
                <p class="u17Light_v2">
                    <span>
                        Carbon 1 Pro features progressive frame geometry for even force distribution, greater stability,
                        improved aerodynamics, and superior damping performance.
                    </span>
                </p>
            </div>
            <div class="ppppppppppppppppp">
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23421_2x_18e31bc5-76e9-4f57-86a7-ffa8b20e611f.png?v=1703227256"
                        alt="">
                    <div>
                        <h4 class="u20Medium_v2">Stability <br>improvement of</h4>
                        <span class="u60Medium_v2">15<span class="u24Medium_v2">%</span></span>
                    </div>
                </div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23422_2x_814ca862-240b-49b3-97cf-15e0e2c1cd8d.png?v=1703227301"
                        alt="">
                    <div>
                        <h4 class="u20Medium_v2">Aerodynamic efficiency <br>increased by</h4>
                        <span class="u60Medium_v2">20<span class="u24Medium_v2">%</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="craftsmanship">
    <div></div>
    <div>
        <h2 class="u48Medium_v2">Carbon Craftsmanship: <br>Frame <span
                style="color: #EB5A2D;">EVOLUTION,</span><br>Unrivaled Quality</h2>
        <p class="u17Light_v2">
            <span>
                Crafted from premium, supercar-grade carbon fiber. The frame features sharper angles that enhance the beauty of carbon fiber. The result is more responsive handling and increased durability. <br><br>Subscribe now to be the first to know!
            </span>
        </p>
        <form class="emaillllllllllllll" accept-charset="UTF-8">
            <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
            <button class="my-button my-button-origin" type="submit">Subscribe</button>
            <span class="u17DemiBold_v2">Thanks for subscribing!</span>
        </form>
    </div>
</div>
<div class="choose">
    <h2 class="u60Medium_v2">It doesn’t have to choose, <br class="mobileHide">it has everything.</h2>
</div>
<div class="lightweight">
    <div></div>
    <div>
        <h2 class="u48Medium_v2">Lightweight Is the Way</h2>
        <p class="u17Light_v2">
            <span>
                50% lighter than comparable models, easy to hang on the wall or on a car rack for hassle-free transportation and carrying in-and-out, ideal for commuting in the city. <br><br>Subscribe now to be the first to know!
            </span>
        </p>
        <form class="emaillllllllllllll" accept-charset="UTF-8">
            <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
            <button class="my-button my-button-origin" type="submit">Subscribe</button>
            <span class="u17DemiBold_v2">Thanks for subscribing!</span>
        </form>
    </div>
</div>
<div class="more">
    <div class="centeral-content">
        <div>
            <div>
                <h2 class="u48Medium_v2">More</h2>
                <h2 class="powerrrrrrrrrr">POWER</h2>
                <div class="flex-1 mobileHide"></div>
                <p class="u17Light_v2">
                    <span>Shimano 10-speed gears with adaptive power provide 26% more torque than Carbon 1s.</span>
                </p>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23438_2x_312ed800-7911-4cce-b391-03fb8e1718be.png?v=1703241276"
                alt="">
        </div>
        <div>
            <div>
                <h2 class="u48Medium_v2">More</h2>
                <h2 class="rrrrrrrr">RANGE</h2>
                <div class="flex-1 mobileHide"></div>
                <p class="u17Light_v2">
                    <span>Optimize acceleration, save energy and extend range by 30% with torque sensor and intelligent algorithm.</span>
                </p>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23439_2x_4a816f70-d288-4bb3-846c-159316fda856.png?v=1704694869"
                alt="">
        </div>
    </div>
</div>
<div class="comfortable">
    <div class="centeral-content">
        <div>
            <div>
            <h2 class="u36Medium_v2">More Comfortable</h2>
            <p class="u17Light_v2">
                <span>
                    Achieve an ergonomic endurance position for all-day rides. Easily adjust seatpost and stem for your
                    comfort.
                </span>
            </p>
        </div>
        <div class="mobileHide"></div>
        <div>
            <h2 class="u36Medium_v2">More Capable</h2>
            <p class="u17Light_v2">
                <span>
                    Extremely versatile, the Carbon 1 Pro can support racks, wider tires, and even front suspension, offering exceptional DIY possibilities.
                </span>
            </p>
        </div>
        </div>
    </div>
</div>
<div class="smooth">
    <div class="centeral-content">
        <div>
            <div>
            <h2 class="u36Medium_v2">More Smooth</h2>
            <p class="u17Light_v2">
                <span>Torque sensor and intelligent algorithm adapt to your pedaling style for the best acceleration and balance</span>
            </p>
        </div>
        <div>
            <h2 class="u36Medium_v2">More Accessible</h2>
            <p class="u17Light_v2">
                <span>Bottom-mounted battery for convenient, hassle-free access, avoiding water issues on rainy days.</span>
            </p>
        </div>
        </div>
    </div>
</div>
<div class="conquer">
    <div class="centeral-content">
        <div>
            <div>
            <h2 class="u36Medium_v2">More Road to Conquer</h2>
            <p class="u17Light_v2">
                <span>
                    Wide tires for both GRAVEL and OFF-ROAD, ensuring comfort on various surfaces. Experience the freedom to ride anywhere. <br><br>Subscribe now to be the first to know!
                </span>
            </p>
            <form class="emaillllllllllllll" accept-charset="UTF-8">
                <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
                <button class="my-button my-button-origin" type="submit">Subscribe</button>
                <span class="u17DemiBold_v2">Thanks for subscribing!</span>
            </form>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23473_2x_04793898-eb69-4b45-9cac-4bcfbaa7b28f.png?v=1703472656"
            alt="">
        </div>
    </div>
</div>
<div class="gray-background-color never">
    <div class="centeral-content">
        <h2 class="u60Medium_v2">Smart <span style="color: #EB5A2D;">EVOLUTION,</span><br>Unleashing Intelligent Charm
        </h2>
        <h3 class="u48Medium_v2"><img
                src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-172647.png?v=1697102822"
                alt=""> Never lose it</h3>
        <div class="boxs">
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/3-3_2x_5377b3f0-392f-4585-b0da-551ecc12d5e7.jpg?v=1704189341"
                    alt="">
                <h4 class="u24Medium_v2">Movement alarm</h4>
                <p class="u17Light_v2">
                    <span>
                        Once locked, the onboard alarm monitors movements and alerts you against unauthorized ones.
                    </span>
                </p>
                <div class="flex-1"></div>
            </div>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18878_2x_5608f5b0-4079-4221-ae70-8d74217c87d7.jpg?v=1697088999"
                    alt="">
                <h4 class="u24Medium_v2">GPS tracking and fence</h4>
                <p class="u17Light_v2">
                    <span>
                        Aided by a constant 4G connection, GPS tracking keeps you informed of the e-bike’s location, even in the worst scenario of theft.
                    </span>
                </p>
                <div class="flex-1"></div>
            </div>
            <div class="mobileHide"></div>
            <div class="mobileHide"></div>
            <div>
                <h4 class="u24Medium_v2">Find my bike story</h4>
                <p class="u17Light_v2">
                    <span>
                        This is the story of how David’s Urtopia e-bike was stolen during his trip and then recovered,
                        leaving the Las Vegas police officer who assisted him in shock saying, ‘’In all my 20 years on
                        the job, I’ve never seen a bike recovered like that.’’
                    </span>
                </p>
            </div>
            <div>
                <div class="my-button my-button-black"
                    onclick="showVideoDialog('https://www.youtube.com/embed/W3N0OuaXj5M?autoplay=1&amp;cc_load_policy=1')">
                    Watch Video <img
                        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-165647.png?v=1697101021"
                        alt=""></div>
            </div>
        </div>
    </div>
</div>
<div class="everything">
    <div class="centeral-content">
        <div class="boxs">
            <div>
                <h3 class="u24Medium_v2">Fingerprint unlock</h3>
                <p class="u17Light_v2">
                    <span>
                        No more worrying about losing another key.
                    </span>
                </p>
            </div>
            <div>
                <h3 class="u24Medium_v2">Navigation without cellphone</h3>
                <p class="u17Light_v2">
                    <span>
                        No more ugly phone holders, the bright screen shows navigation clearly in
                        daylight.
                    </span>
                </p>
            </div>
            <div>
                <h3 class="u24Medium_v2">Track your route</h3>
                <p class="u17Light_v2">
                    <span>
                        The smart app tracks your trips and your health. Get on your bike and share
                        your exciting moments with friends and family.
                    </span>
                </p>
            </div>
            <div>
                <h3 class="u24Medium_v2">Bluetooth music</h3>
                <p class="u17Light_v2">
                    <span>
                        We know the importance of music, so we built a Bluetooth speaker. You can enjoy
                        your favourite music while riding without having to carry an external speaker.
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="ring">
    <div class="image">
        <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18979_2x_7c9bf93b-75cd-4576-84f7-6fb05814c52d.png?v=1703487783"
            alt="">
        <div>
            <div class="u24Medium_v2">Smart Ring</div>
            <h2 class="u48Medium_v2">Control Your E-Bike <br>with a Ring</h2>
            <p class="u17Light_v2">
                <span>
                    With just a swipe of the ring, you can power on the bike, play music, or even engage in a conversation with ChatGPT. The ring allows customizable interactions for all smart features. <br><br>Subscribe now to be the first to know!
                </span>
            </p>
            <form class="emaillllllllllllll" accept-charset="UTF-8">
                <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
                <button class="my-button my-button-origin" type="submit">Subscribe</button>
                <span class="u17DemiBold_v2">Thanks for subscribing!</span>
            </form>
        </div>
    </div>
</div>
<div class="just">
    <div class="centeral-content">
        <h2 class="u48Medium_v2">Just Fingertip, <br>Magic Happens</h2>
        <p class="u17Light_v2">
            <span>
                Our ecosystem automates everything, eliminating the need for manual adjustments. This maximizes training
                efficiency and prevents injuries by monitoring your workouts.
            </span>
        </p>
    </div>
</div>
<div class="your">
    <div class="centeral-content">
        <div>
            <h2 class="u48Medium_v2">Your All in One <br>Health Coach</h2>
            <div>
                <p class="u17Light_v2">
                    <span>Your rides and daily activities offer personalized insights. Our AI companion tailors accurate recommendations exclusively for you—no more generic advice. <br><br>Subscribe now to be the first to know!</span>
                </p>
                <form class="emaillllllllllllll" accept-charset="UTF-8">
                        <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required="">
                        <button class="my-button my-button-origin" type="submit">Subscribe</button>
                        <span class="u17DemiBold_v2">Thanks for subscribing!</span>
                    </form>
            </div>
        </div>
        <img class="mobileHide"
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_1171275468_2x_e9b7cb14-5cd5-402a-acb8-a1f69706f41e.png?v=1702278548"
            alt="">
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18987_2x_2d452730-e518-4f14-828a-2660285ef03f.png?v=1702285205"
            class="pcHide" alt="">
    </div>
</div>

{% render 'size-guide-and-specs-template', config: 'carbon1pro_order_page_config' %}

<script>
  $('.emaillllllllllllll').on('submit', function (event) {
        $(this).find('.u17DemiBold_v2').hide()
        fetchBuried('emailpop', 'submit', { email: $(this).find('input').val(), tag: `DE,POPUP,EC1PEU` }).finally(() => $(this).find('.u17DemiBold_v2').show())

        event.preventDefault();
        return false;
    })
</script>
