<link rel="stylesheet" href="{{ 'carbon-one.scss.css' | asset_url }}">

{% render 'carbon-order-page' %}

<div id="freedom" class="freedom">
    <div class="centeral-content">
      <div class="u42DemiBold_v2">Smartest and Lightest E-Bike</div>
      <div class="values">
        <div>
          <span class="u36DemiBold_v2">15 <span class="u17Light_v2">kg</span></span>
          <span class="u17Light_v2">Net Weight</span>
        </div>
        <div>
          <span class="u36DemiBold_v2">100 <span class="u17Light_v2">km</span></span>
          <span class="u17Light_v2">per charge</span>
        </div>
        <div>
          <span class="u36DemiBold_v2">4 <span class="u17Light_v2">levels</span></span>
          <span class="u17Light_v2">pedal assist</span>
        </div>
        <div>
          <span class="u36DemiBold_v2">360 <span class="u17Light_v2">Wh</span></span>
          <span class="u17Light_v2">Battery</span>
        </div>
      </div>
      <div class="values2">
        <div>
          <span class="u17Medium_v2">100%</span>
          <span class="u17Medium_v2">Carbon Fiber</span>
        </div>
        <div>
          <span class="u17Medium_v2">90%</span>
          <span class="u17Medium_v2">Assembled</span>
        </div>
        <div>
          <span class="u17Medium_v2">Anti-theft</span>
          <span class="u17Medium_v2">GPS Tracking</span>
        </div>
        <div>
          <span class="u17Medium_v2">Magnetic</span>
          <span class="u17Medium_v2">Torque Sensor</span>
        </div>
        <div>
          <span class="u17Medium_v2">Removable</span>
          <span class="u17Medium_v2">Samsung Battery</span>
        </div>
        <div>
          <span class="u17Medium_v2">hydraulic</span>
          <span class="u17Medium_v2">Disc Brakes</span>
        </div>
      </div>
    </div>
  </div>

<div class="arrial">
    <div class="centeral-content">
        <div class="u36DemiBold_v2">New Arrival</div>
        <div class="u72DemiBold_v2">Carbon 1s</div>
        <div class="u17Light_v2">Uphill riding, downhill thrill. Unleash your sporty riding style. Conquer uphill challenges and experience thrilling speeds, pushing the boundaries of performance and excitement.</div>
        <div class="u36DemiBold_v2">4 X 7</div>
        <div class="u17Light_v2" style="margin:0;">Modes X Gears</div>
    </div>
</div>

<div class="boxs">
    <div class="centeral-content">
        <div>
            <div class="u36DemiBold_v2">Carbon 1s</div>
            <div class="u20Light_v2">Next-level adventures with gears</div>
            <div class="u17DemiBold_v2">
              <div><span class="emphasize">●</span> 250W 45Nm motor</div>
              <div><span class="emphasize">●</span> Assist levels x Gears: 4 x 7</div>
              <div><span class="emphasize">●</span> Increased ride range</div>
              <div><span class="emphasize">●</span> Wider terrain capabilities</div>
            </div>
            <div class="u17Light_v2">Carbon 1s offers the options of pushing a harder gear to get more workout or speed; or riding an easy gear with less stress on the legs. The 45Nm motor with gears makes your ride speedier and easier to travel up the hills.</div>
          </div>
      <div></div>
      <div></div>
      <div>
        <div class="u36DemiBold_v2">Carbon 1</div>
        <div class="u20Light_v2">Perfect for urban commuters</div>
        <div class="u17DemiBold_v2">
          <div><span class="emphasize">●</span> Gates carbon belt drive</div>
          <div><span class="emphasize">●</span> Cleaner, quieter and smoother</div>
          <div><span class="emphasize">●</span> 30,000 km Maintenance free</div>
        </div>
        <div class="u17Light_v2">Carbon 1 is great for commuters because you’ll never get a grease mark on your nice slacks. If you enjoy quiet rides in the morning while enjoying nature and the birds’ singing, you may want to opt for a belt drive.</div>
      </div>
    </div>
  </div>

<div class="carry">
    <div class="centeral-content">
        <div>
            <div class="u30DemiBold_v2">Effortless to Carry</div>
            <div class="u20Light_v2">Full Carbon (Only 15kg)</div>
            <div class="u14Light_v2">Literally, an e-bike single-handedly manageable. Just a fraction of the weight compared to peer e-bikes, thanks to a full carbon body of frame, handlebar, seat post, and forks.</div>
        </div>
    </div>
</div>
  

{% render 'carbon-one-extra-code' %}