{{ 'pagefly-main.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'pagefly.d095440b.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'fusion.scss.css' | asset_url | stylesheet_tag: preload: true }}

<div class="banner">
        <div class="u17Medium_v2">NEW</div>
        <h1>Fusion</h1>
    </div>
    <div class="pricesssss">
        <div class="centeral-content">
            <div>
                <div>
                    <h2 class="u42Medium_v2">Fusion</h2>
                    <span class="u36Medium_v2 mobileHide" style="color: #0055AA;">{{ 399900 | money_without_trailing_zeros }}</span>
                </div>
                <p class="u24Light_v2">
                    <span>
                        Shimano CUES <br class="pcHide">Derailleur
                    </span>
                </p>
                <span class="u20Medium_v2 pcHide" style="color: #0055AA;">{{ 399900 | money_without_trailing_zeros }}</span>
            </div>
            <div>
                <div>
                    <h2 class="u42Medium_v2">Fusion</h2>
                    <span class="u36Medium_v2 mobileHide" style="color: #0055AA;">{{ 499900 | money_without_trailing_zeros }}</span>
                </div>
                <p class="u24Light_v2">
                    <span>
                        Enviolo Stepless <br class="pcHide">Shifting
                    </span>
                </p>
                <span class="u20Medium_v2 pcHide" style="color: #0055AA;">{{ 499900 | money_without_trailing_zeros }}</span>
            </div>
        </div>
    </div>
    <div class="function">
        <h2 class="u48DemiBold_v2">“Form Follows Emotion”</h2>
        <p class="u24Light_v2">
            <span>—Hartmut Esslinger</span>
        </p>
        <p class="u17Light_v2">
            <span>Subscribe now to be the first to know!</span>
        </p>
        <form class="emaillllllllllllll" accept-charset="UTF-8">
            <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
            <button class="my-button my-button-black" type="submit">Subscribe</button>
            <span class="u17DemiBold_v2">Thanks for subscribing!</span>
        </form>
    </div>
    <div class="hartmut">
        <div class="centeral-content">
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23501_2x_10009426-525f-4ab1-9797-f862aa72e158.png?v=1703759014"
                alt="">
            <div class="textttttt">
                <h2 class="u48Medium_v2">Hartmut Esslinger</h2>
                <h3 class="u36Medium_v2">Legendary Designer <br>For Apple & Sony</h3>
                <p class="u17Light_v2">
                    <span>
                        Legendary designer Hartmut Esslinger, renowned for his iconic contributions to Apple and Sony, has
                        brought his expertise to the development of our new e-bike, Fusion. All designs are guided by the
                        principle “form follows emotion,” emphasizing safety, versatile terrains, and user-friendly
                        simplicity. This sets the tone for Fusion.
                    </span>
                </p>
            </div>
            <div></div>
        </div>
    </div>
    <div class="scroooollll">
        <div class="left"></div>
        <div class="centeral-content">
            <div class="higggg">
                <h2 class="u48Medium_v2">
                    Every Angle <br>Reconsidered
                </h2>
                <h2 class="u48Medium_v2">
                    Safety First <br>Reflective Design
                </h2>
                <h2 class="u48Medium_v2">
                    Step-Through <br>Your Frame, Your Way
                </h2>
            </div>
            <div class="texts">
                <p class="u17Light_v2">
                    <span>
                        Blending geometry into the design creates an aesthetic that enhances both the beauty and stability
                        of
                        the bike frame through angle relationships.
                    </span>
                </p>
                <p class="u17Light_v2">
                    <span>
                        Safety is the foundation of Fusion. Reflective strips on the bike frame’s front and rear enhance visibility during your night rides.
                    </span>
                </p>
                <p class="u17Light_v2">
                    <span>
                        The V shaped step-through frame ensures easy on-and-off accessibility, promoting a relaxed, upright sitting position for enhanced comfort.
                    </span>
                </p>
            </div>
            <div class="images">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="right">
            <div class="active"></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="mobileHide" style="height: 10vh;background-color: rgb(246, 247, 248);"></div>
    <div class="follows">
        <h2>Form <br class=pcHide>Follows <br class=pcHide>Emotion</h2>
        <p class="u30Medium_v2 mobileHide">
            <span>
                —Hartmut Esslinger
            </span>
        </p>
    </div>
    <div class="premium">
        <img class="mobileHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23503_2x_e3aade75-2406-4a0e-b427-c7fc80a4d8d1.jpg?v=1703830183" alt="">
        <img class="pcHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19026_2x_052aa070-f86d-4374-b5c7-c724a8d31da5.jpg?v=1703840089" alt="">
        <div>
            <h2 class="u48Medium_v2">Premium Carbon, <br>Smooth Finish</h2>
            <p class="u17Light_v2">
                <span>
                    Capturing every angle, every line, each detail with unique craftsmanship. To achieve this precision and
                    rigor, top-tier, supercar-grade carbon fiber is the only choice. Showcasing the ultimate beauty of
                    geometric design. <br><br>Subscribe now to be the first to know!
                </span>
            </p>
            <form class="emaillllllllllllll" accept-charset="UTF-8">
                <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
                <button class="my-button my-button-black" type="submit">Subscribe</button>
                <span class="u17DemiBold_v2">Thanks for subscribing!</span>
            </form>
        </div>
    </div>
    <div class="way">
        <div class="centeral-content">
            <div>
                <h2 class="u48Medium_v2">Lightweight<br> Is the Way</h2>
                <p class="u17Light_v2">
                    <span>
                        The lightweight nature of carbon fiber makes Fusion, even as an SUV e-bike, easy to carry, ensuring
                        faster acceleration, effortless uphill rides, and more responsive handling. <br><br>Subscribe now to
                        be the
                        first to know!
                    </span>
                </p>
                <form class="emaillllllllllllll" accept-charset="UTF-8">
                    <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
                    <button class="my-button my-button-black" type="submit">Subscribe</button>
                    <span class="u17DemiBold_v2">Thanks for subscribing!</span>
                </form>
            </div>
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23478_2x_b4e06be9-5252-459e-954d-12a208a8397f.jpg?v=1703830750"
                alt="">
        </div>
    </div>
    <div class="dual">
        <img class="mobileHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23504_2x_bf75dc3f-e90a-4fd6-86b6-61dd8be82a4c.jpg?v=1703832614" alt="">
        <img class="pcHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23581_2x_a8f1beba-c6bc-49d1-87ac-f744bdfd65d0.png?v=1703840709" alt="">
        <div>
            <h2 class="u48Medium_v2">Dual Battery <br>Extended to 200km</h2>
            <p class="u17Light_v2">
                <span>
                    With a 540Wh battery, adding an extra 360Wh transforms it into a range extender. It’s a dual-battery
                    setup, extending the range to 200km.
                </span>
            </p>
            <div class="u60Medium_v2 mobileHide">
                <span>120<span>km</span></span>
                <span>+80<span>km</span></span>
            </div>
            <div class="lineeeeeeeeee mobileHide">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="smooth">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">Smooth Riding Ever</h2>
            <p class="u17Light_v2">
                <span>
                    With a 95Nm high-torque mid-drive motor, every pedal stroke packs a punch. The 100mm travel air
                    suspension fork ensures comfort on all terrains, making your ride a powerful and smooth adventure.
                </span>
            </p>
        </div>
        <div class="imgaes">
            <div>
                <div>
                    <h2 class="u30Medium_v2"><span style="color: #0064C9;">100mm</span> Travel</h2>
                    <p class="u17Light_v2">
                        <span>Air Suspension Fork</span>
                    </p>
                </div>
            </div>
            <div class="mobileHide"></div>
            <div>
                <div>
                    <h2 class="u30Medium_v2"><span style="color: #0064C9;">95</span>Nm</h2>
                    <p class="u17Light_v2">
                        <span>Mid-Drive Motor</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="smooth smoothsmoothsmoothsmooth">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">Accessibility & Versatility</h2>
            <p class="u17Light_v2">
                <span>
                    Fusion’s rear racks seamlessly integrate with the MIK (Mounting Is Key) system, enabling easy, secure
                    attachment of accessories like baskets, seats, and pet carriers. The removable battery allows convenient
                    charging wherever you go.
                </span>
            </p>
        </div>
        <div class="imgaes" style="color: #fff;">
            <div
                style="background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23506_2x_ed1ddab3-e982-46f6-ab8b-d5da7c46a647.jpg?v=1703845745');">
                <div>
                    <h2 class="u24Medium_v2">Mounting Is Key</h2>
                    <p class="u17Light_v2">
                        <span>MIK Compatible Rear Rack</span>
                    </p>
                </div>
            </div>
            <div class="mobileHide"
                style="background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/DSCF1762_2x_0cbd178b-342a-482e-9648-308ff00e3a2b.jpg?v=1703845751');">
            </div>
            <div class="mobileHide"
                style="background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23507_2x_70a07fe1-4ee2-4646-9208-3894b1e97c19.jpg?v=1703845756');">
                <div>
                    <h2 class="u24Medium_v2">Charge it anywhere</h2>
                    <p class="u17Light_v2">
                        <span>Removable Battery</span>
                    </p>
                </div>
            </div>
            <div class="pcHide"
                style="background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23507_2x_9b787c90-be8f-4f77-8b6c-f6f78b9b17d0.jpg?v=1703846202');">
                <div>
                    <h2 class="u30Medium_v2">Charge it anywhere</h2>
                    <p class="u17Light_v2">
                        <span>Removable Battery</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="pick">
        <h2 class="u48Medium_v2">Pick Your Way of Gearing</h2>
        <div class="centeral-content">
            <img class="mobileHide lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20240104-222733.jpg?v=1704378481" alt="">
            <img class="pcHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23534_2x_b1ec278f-89eb-461f-9101-d6009e07f557.jpg?v=1704266860">
            <div>
                <h3 class="u24Medium_v2">Fusion</h3>
                <h2 class="u42Medium_v2">Enviolo Stepless Shifting</h2>
                <p class="u17Light_v2">
                    <span>
                        The continuously variable planetary transmission, a seamless feature of enviolo, empowers cyclists
                        to effortlessly transition between different gear ratios, even during high-capacity pedaling. Paired
                        with a carbon belt, you enjoy a maintenance-free experience.
                    </span>
                </p>
            </div>
        </div>
        <div class="centeral-content">
            <div>
                <h3 class="u24Medium_v2">Fusion</h3>
                <h2 class="u42Medium_v2">Shimano CUES Derailleur</h2>
                <p class="u17Light_v2">
                    <span>
                        Shimano CUES 10-Speed rear derailleur delivers precision and reliability. With smooth shifting across ten gears, it ensures a seamless cycling experience, combining performance and durability for versatile riding.
                    </span>
                </p>
            </div>
            <img class="mobileHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23511_2x_5dd84241-8e47-48aa-9bb1-44ea70923b74.jpg?v=1704262211"
                alt="">
            <img class="pcHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23535_2x_f2122678-6b07-4c5b-8ddd-be09c0fcdf11.jpg?v=1704266854"
                alt="">
        </div>
    </div>
    <div class="unleashes">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">Unleashes the <br>All Terrain Beast</h2>
            <p class="u17Light_v2">
                <span>
                    Fusion is equipped with wide tires, air suspension fork, mid-drive motor, ultra-high endurance, and a
                    stable frame, providing users with the ability to freely navigate all terrains.
                </span>
            </p>
        </div>
        <div class="centeral-content images">
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23512_2x_1d53a2a6-7836-425d-9ec6-4cd94328786c.png?v=1704268371"
                alt="">
            <h2 class="u20Medium_v2 pcHide">
                Trail & Off Road
            </h2>
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23513_2x_34741688-f817-4830-9197-056a152363ae.png?v=1704268366"
                alt="">
            <h2 class="u20Medium_v2 pcHide" style="background-color: #D10000;">
                Hill Road & Gravel
            </h2>
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23514_2x_dd280d27-b7eb-4b51-b3f1-cfbf9bd95fde.png?v=1704268361"
                alt="">
            <h2 class="u20Medium_v2 pcHide" style="background-color: #0055AA;">
                City Riding
            </h2>
        </div>
        <div class="biggggggggggggggg mobileHide">
            <div class="centeral-content">
                <div>
                    <div></div>
                    <h2 class="u36Medium_v2">Trail & Off Road</h2>
                </div>
                <div style="background-color: #D10000;">
                    <div></div>
                    <h2 class="u36Medium_v2">Hill Road & Gravel</h2>
                </div>
                <div style="background-color: #0055AA;">
                    <div></div>
                    <h2 class="u36Medium_v2">City Riding</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-background-color never">
        <div class="centeral-content">
            <div class="colorrrrrrrrrrrrrrr">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <h2 class="u60Medium_v2">The Bike With a Mind</h2>
            </div>
            <h3 class="u48Medium_v2"><img
            class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-172647.png?v=1697102822"
                    alt=""> Never lose it</h3>
            <div class="boxs">
                <div>
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/222s_s_s_2x_48a73739-d438-45be-b578-f5bab01bef6e.jpg?v=1704271520"
                        alt="">
                    <h4 class="u24Medium_v2">Movement alarm</h4>
                    <p class="u17Light_v2">
                        <span>
                            Once locked, the onboard alarm monitors movements and alerts you against unauthorized ones.
                        </span>
                    </p>
                    <div class="flex-1"></div>
                </div>
                <div>
                    <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20240103-164619.jpg?v=1704271621"
                        alt="">
                    <h4 class="u24Medium_v2">GPS tracking and fence</h4>
                    <p class="u17Light_v2">
                        <span>
                            Aided by a constant 4G connection, GPS tracking keeps you informed of the e-bike’s position,
                            even in the worst scenario of theft.
                        </span>
                    </p>
                    <div class="flex-1"></div>
                </div>
                <div class="mobileHide"></div>
                <div class="mobileHide"></div>
                <div>
                    <h4 class="u24Medium_v2">Find my bike story</h4>
                    <p class="u17Light_v2">
                        <span>
                            This is the story of David’s Urtopia ebike being stolen during his trip and then recovered,
                            leaving the Las Vegas police officer who assisted him in shock, saying, “In all my 20 years on
                            the job, I’ve never seen a bike recovered like this.”
                        </span>
                    </p>
                </div>
                <div>
                    <div class="my-button my-button-black"
                        onclick="showVideoDialog('https://www.youtube.com/embed/W3N0OuaXj5M?autoplay=1&amp;cc_load_policy=1')">
                        Watch Video <img
                        class="lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/screenshot-20231012-165647.png?v=1697101021"
                            alt=""></div>
                </div>
            </div>
        </div>
        <div class="lineeeeeeeeeeee">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="fingerprint">
        <div class="centeral-content">
            <div>
                <div>
                    <h2 class="u24Medium_v2">Fingerprint unlock</h2>
                    <p class="u17Light_v2">
                        <span>
                            No more hassle worrying about losing another key.
                        </span>
                    </p>
                </div>
            </div>
            <div>
                <div>
                    <h2 class="u24Medium_v2">Navigation without cellphone</h2>
                    <p class="u17Light_v2">
                        <span>
                            Bright screen shows navigation clearly under daylight, no more ugly phone holder.
                        </span>
                    </p>
                </div>
            </div>
            <div>
                <div>
                    <h2 class="u24Medium_v2">Track your route</h2>
                    <p class="u17Light_v2">
                        <span>
                            Smart App tracks your journey and health. Get on the bike and share your thrilling moments with
                            your friends and family.
                        </span>
                    </p>
                </div>
            </div>
            <div>
                <div>
                    <h2 class="u24Medium_v2">Bluetooth music</h2>
                    <p class="u17Light_v2">
                        <span>
                            We know the importance of music, so we build in a bluetooth speaker, you can enjoy your
                            favourite music when riding without carrying an external speaker.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="ring">
        <div class="image">
            <img class="lozad" data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18979_2x_7c9bf93b-75cd-4576-84f7-6fb05814c52d.png?v=1703487783"
                alt="">
            <div>
                <div class="u24Medium_v2">Smart Ring</div>
                <h2 class="u48Medium_v2">Control Your E-Bike with a Ring</h2>
                <p class="u17Light_v2">
                    <span>
                        With just a swipe of the ring, power on, play music, or even engage in a conversation with ChatGPT.
                        The ring allows customizable interactions for all smart functions. <br><br>Subscribe now to be the
                        first to know!
                    </span>
                </p>
                <form class="emaillllllllllllll" accept-charset="UTF-8">
                    <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required>
                    <button class="my-button my-button-black" type="submit">Subscribe</button>
                    <span class="u17DemiBold_v2">Thanks for subscribing!</span>
                </form>
            </div>
        </div>
    </div>
    <div class="just">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">Just Fingertip, <br>Magic Happens</h2>
            <p class="u17Light_v2">
                <span>
                    Our ecosystem automates everything, eliminating the need for manual adjustments. This maximizes training
                    efficiency and prevents injuries by monitoring your workouts.
                </span>
            </p>
        </div>
    </div>
    <div class="your">
        <div class="centeral-content">
            <div>
                <h2 class="u48Medium_v2">Your All in One <br>Health Coach</h2>
                <div>
                    <p class="u17Light_v2">
                        <span>Your rides and daily activities offer personalized insights. Our AI companion tailors accurate
                            recommendations exclusively for you—no more generic advice. <br><br>Subscribe now to be the
                            first to know!</span>
                    </p>
                    <form class="emaillllllllllllll" accept-charset="UTF-8">
                        <input class="u17Medium_v2" placeholder="Enter email here" type="email" name="email" required="">
                        <button class="my-button my-button-black" type="submit">Subscribe</button>
                        <span class="u17DemiBold_v2">Thanks for subscribing!</span>
                    </form>
                </div>
            </div>
            <img class="mobileHide lozad" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_1171275468_2x_e9b7cb14-5cd5-402a-acb8-a1f69706f41e.png?v=1702278548" alt="">
            <img class="lozad pcHide" data-src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18987_2x_2d452730-e518-4f14-828a-2660285ef03f.png?v=1702285205" alt="">
        </div>
    </div>

{% render 'carbon-one-size-and-specs3' %}
<script>

    setTimeout(() => {
                const colorrrrrrrrr = {
                1: '#D10000',
                2: '#EFAF00',
                3: '#0055AA',
            }

            const pTranslateX = {
                1: 'translateX(0)',
                2: `translateX(-${$(`.scroooollll .centeral-content .texts > p:nth-child(2)`).offset().left - $(`.scroooollll .centeral-content .texts`).offset().left}px)`,
                3: `translateX(-${$(`.scroooollll .centeral-content .texts > p:nth-child(3)`).offset().left - $(`.scroooollll .centeral-content .texts`).offset().left}px)`,
            }

            const hTranslateX = {
                1: 'translateX(0)',
                2: `translateX(-${$(`.scroooollll .centeral-content .higggg > h2:nth-child(2)`).offset().left - $(`.scroooollll .centeral-content .higggg`).offset().left}px)`,
                3: `translateX(-${$(`.scroooollll .centeral-content .higggg > h2:nth-child(3)`).offset().left - $(`.scroooollll .centeral-content .higggg`).offset().left}px)`,
            }

            const viewHeight = window.innerHeight
            const clientHeight = document.querySelector('.scroooollll').clientHeight
            const contentHeight = $('.scroooollll .centeral-content').height()

            const controller = new ScrollMagic.Controller();
            const animation = new TimelineMax()

            new ScrollMagic.Scene({
                offset: (viewHeight / 2) - 69,/*页面滚动多少位置开始执行*/
                duration: viewHeight * 2, /*元素滚动的范围*/
                triggerElement: '.scroooollll'
            }).setPin(".scroooollll", {
                pushFollowers: true/*该属性可以用来设置是否看到运动的区域*/
            }).setTween(animation).addTo(controller).on('progress', e => {
                requestAnimationFrame(() => {
                    const p = e.progress * 100 * 3
                    const progress = Math.floor(p % 100)
                    const step = Math.ceil(p / 100) || 1

                    $(`.scroooollll .centeral-content > div > div:nth-child(${step})`).css('opacity', `1`)
                    $(`.scroooollll .centeral-content > div > div:not(:nth-child(${step}))`).css('opacity', `0`)

                    $(`.scroooollll .left`).css('background-color', `${colorrrrrrrrr[step]}`)

                    $(`.scroooollll .right > div:nth-child(${step})`).css('width', `100%`)
                    $(`.scroooollll .right > div:not(:nth-child(${step}))`).css('width', `50%`)

                    $(`.scroooollll .centeral-content .texts > p:nth-child(${step})`).css('opacity', `0.78`).css('transform', `${pTranslateX[step]}`)
                    $(`.scroooollll .centeral-content .texts > p:not(:nth-child(${step}))`).css('opacity', `0`)

                    $(`.scroooollll .centeral-content .higggg > h2:nth-child(${step})`).css('opacity', `1`).css('color', `${colorrrrrrrrr[step]}`).css('transform', `${hTranslateX[step]}`)
                    $(`.scroooollll .centeral-content .higggg > h2:not(:nth-child(${step}))`).css('opacity', `0`)
                })
            })

        $('.scroooollll .left, .scroooollll .right').css('top', `${Math.floor($(`.scroooollll .higggg`).offset().top - $(`.scroooollll`).offset().top)}px`)
    }, 300)
</script>
<script>
  $('.emaillllllllllllll').on('submit', function (event) {
        $(this).find('.u17DemiBold_v2').hide()
        fetchBuried('emailpop', 'submit', { email: $(this).find('input').val(), tag: `DE,POPUP,FUSIONEU` }).finally(() => $(this).find('.u17DemiBold_v2').show())

        event.preventDefault();
        return false;
    })
</script>
