<div class="leasing-add">
  <div class="banner">
      <div class="centeral-content">
          <div>
              <div class="u36DemiBold_v2">From €49,89/month</div>
              <div class="u72DemiBold_v2">Urtopia E-Bikes <br> lease with JobRad</div>
              <div class="u20Light_v2">No matter if you are an employer, employee or self-employed: With jobrad.org
                  you will receive an offer for your tailored offer for your service bike project.</div>
              <div class="buttons">
                  <a href="" class="my-button">Request leasing offer</a>
                  <a href="" class="my-button my-button-ghost">Shop Online</a>
              </div>
          </div>
          <div>
              <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20952_2x_60b1c0bc-7b0c-4dad-9487-1e4451197cb5.png?v=1683700382"
                  alt="">
          </div>
      </div>
  </div>
  <div class="parameters">
      <div class="centeral-content">
          <div></div>
          <div>
              <div class="boxs">
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18449_2x_8fc05a36-e73b-4c68-8462-5cdfa6cea6b3.png?v=1683702610"
                          alt="">
                      <div>
                          <div class="u11Light_v2">Carbon Fiber</div>
                          <div class="u17DemiBold_v2">15 kg</div>
                      </div>
                  </div>
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18448_2x_d3fbd8a8-d1e2-4a84-b4eb-ce513f342438.png?v=1683705373"
                          alt="">
                      <div>
                          <div class="u11Light_v2">No maintaining Up to</div>
                          <div class="u17DemiBold_v2">30,000 km</div>
                      </div>
                  </div>
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18447_2x_532d80bf-4f0d-48a9-b2c6-81212b652ad7.png?v=1683705337"
                          alt="">
                      <div>
                          <div class="u11Light_v2">Range</div>
                          <div class="u17DemiBold_v2">100 km</div>
                      </div>
                  </div>
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18446_2x_e64c38e1-535a-401d-a722-cbe2b3b4e450.png?v=1683705358"
                          alt="">
                      <div>
                          <div class="u11Light_v2">Anti-theft</div>
                          <div class="u17DemiBold_v2">GPS Tracking</div>
                      </div>
                  </div>
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18450_2x_3726a023-532f-459e-826b-ecc6a1d3502c.png?v=1683705347"
                          alt="">
                      <div>
                          <div class="u11Light_v2">Smart App</div>
                          <div class="u17DemiBold_v2">iOS, Android</div>
                      </div>
                  </div>
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18445_2x_8378bdff-585c-4ae2-a3f9-f557107230d8.png?v=1683705353"
                          alt="">
                      <div>
                          <div class="u11Light_v2">Adaptive</div>
                          <div class="u17DemiBold_v2">Torque Sensor</div>
                      </div>
                  </div>
              </div>
              <div class="boxs2">
                  <div class="u17DemiBold_v2">Brushless 250 w Quiet Motor</div>
                  <div class="u17DemiBold_v2">Portable Samsung Battery</div>
                  <div class="u17DemiBold_v2">TEKTRO Hydraulic Disc Brakes</div>
                  <div class="u17DemiBold_v2">Big Anti-Glare LED Display</div>
                  <div class="u17DemiBold_v2">On-bike Navigation</div>
                  <div class="u17DemiBold_v2">Integrierte Beleuchtungssystem</div>
              </div>
              <div class="buttons">
                  <a href="" class="my-button my-button-black">Request leasing offer(40% off)</a>
                  <a href="" class="my-button my-button-white">Shop Online(€3299)</a>
              </div>
          </div>
      </div>
  </div>
  <div class="why">
      <div class="centeral-content">
          <div>
              <div class="u48DemiBold_v2">Why is JobRad cheaper than direct purchase?</div>
              <div class="u17Light_v2">Everyone is talking about job bikes, company bikes, e-bike leasing and the 1%
                  or 0.25% regulation for bikes and e-bikes. As an employee, this is easily done via your employer,
                  who leases the e-bike or bicycle from us and then transfers it to you via deferred compensation. The
                  monetary benefit of the unlimited private use is taxed at a flat rate via the 1% or the new 0.25%
                  rule. If your employer covers all the costs, the private use is even completely tax-free. Either
                  way, you usually save 30-40% compared to private purchase.</div>
              <a href="" class="my-button my-button-black">Request leasing offer</a>
          </div>
          <img class="mobileHide"
              src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221010-untitled-7468_2x_2e9db42e-3c57-41ce-842c-43a31a37326a.jpg?v=1683708173"
              alt="">
          <img class="pcHide"
              src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221010-untitled-7468_2x_84a2a10e-6e2d-45c5-be8a-3412ca764f72.jpg?v=1683708831"
              alt="">
      </div>
  </div>
  <div class="what">

      <div class="top">
          <div class="centeral-content">
              <div></div>
              <div class="u48DemiBold_v2">What can I benefit from as an employee?</div>
          </div>
      </div>
      <div class="bottom">
          <div class="centeral-content">
              <div><img
                      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/3_2x_212df522-b272-4a54-99fa-ec6829dff114.png?v=1683709949"
                      alt=""></div>
              <div>
                  <div class="u17Light_v2">As an employee, you can convince your employer to lease you a company bike
                      and provide it to you via deferred compensation. You get a tax-reduced e-bike that can also be
                      used privately without restriction: for work, everyday life, vacations or sports.</div>
                  <div class="u20DemiBold_v2">NEWS: from 01.01.2020 to 31.12.2030, employees pay only 0.25% imputed
                      income and thus save up to 40% compared to private purchases.</div>
                  <a href="" class="my-button my-button-black">Request leasing offer</a>
              </div>
          </div>
      </div>
  </div>
  <div class="glance">
      <div class="centeral-content">
          <div class="u48DemiBold_v2">Your advantages at a glance</div>
          <div class="u20DemiBold_v2">
              <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                  alt="">
              <span>Save up to 40% compared to direct purchase</span>
          </div>
          <div class="u20DemiBold_v2">
              <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                  alt="">
              <span>The monthly installments are automatically deducted from your salary</span>
          </div>
          <div class="u20DemiBold_v2">
              <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                  alt="">
              <span>Lean and digital processes via the Jobrad portal</span>
          </div>
          <div class="u20DemiBold_v2">
              <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                  alt="">
              <span>Open to all companies - big companies, small companies or self-employed people</span>
          </div>
      </div>
  </div>
  <div class="calculate">
      <div class="centeral-content">
          <div class="u48DemiBold_v2">Calculate your personal e-bike flat rate, which will be deducted from your
              salary!</div>
          <div class="videos">
              <div>
                  <div class="u17Light_v2">Can you save up to 40% on your job bike via a gross salary conversion
                      compared to a private
                      purchase. Then calculate now how little a great Urtopia e-bike costs you in net salary per
                      month. The calculator is fiscally up to date and includes the favorable 0.25% regulation.</div>
                  <br>
                  <div class="u20DemiBold_v2">Example:</div>
                  <div class="u17Light_v2 l">An employer provides a JobRad with a list price of 3,900 euros to an
                      employee who earns 3,000
                      euros gross. The usage rate is 113.39 euros, and the taxable monetary benefit (0.25 percent) is
                      9 euros.</div>
                  <a href="" class="my-button my-button-black mobileHide">Request leasing offer</a>
              </div>
              <div>
                  <div class="u20DemiBold_v2">How to use the JobRad Calculator</div>
                  <div onclick="showVideoDialog('https://youtu.be/chhYdQC7TXE?list=TLGGIZEIeeAQ36EwOTA1MjAyMw')"><img
                          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_672be8f9-42cb-4a87-81b4-9686c4938986.png?v=1683715614"
                          alt=""></div>

              </div>
          </div>
          <a href="" class="my-button my-button-black pcHide">Request leasing offer</a>
      </div>
  </div>
  <div class="calculator">
      <div class="centeral-content jobrad-bike-leasing-calculator"
          id="jobrad-fachhandel-werbematerial-werkzeugkasten-iframe-main">
          <div class="u48DemiBold_v2">JobRad Calculator</div>
          <iframe scrolling="no" width="100%"
              src="https://bike-leasing-calculator.jobrad.org?genericObserve=true"></iframe>
      </div>
  </div>
  <div class="forms" id="forms">
      <div class="centeral-content">
          <div class="u48DemiBold_v2">Request a quote for Urtopia E-bike leasing now</div>
          <div class="u24Medium_v2">We only need a few details to be able to create a JobRad leasing offer package.
          </div>
          <!--<div class="u24Medium">Complete the form and we’ll submit the request with your leasing partner.</div>-->
          <form action="" method="post">
              <div class="item">
                  <div class="u24Medium">Your employer already offers JobRad?<i>*</i></div>
                  <div class="multiple-checkbox">
                      <label for="yes">
                          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                              alt="">
                          <span class="u17Medium_v2">Yes</span>
                          <input type="radio" id="yes" name="offers" value="yes" required />
                      </label>
                      <label for="no">
                          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                              alt="">
                          <span class="u17Medium_v2">No</span>
                          <input type="radio" id="no" name="offers" value="no" required />
                      </label>
                  </div>
              </div>
              <div class="item">
                  <div class="mini-item">
                      <div>
                          <div class="u24Medium">First name<i>*</i></div>
                          <input type="text" name="first_name" required>
                      </div>
                      <div>
                          <div class="u24Medium">Last name<i>*</i></div>
                          <input type="text" name="last_name" required>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="u24Medium">Email<i>*</i></div>
                  <input type="email" name="email" required>
              </div>
              <div class="item">
                  <div class="u24Medium">Phone number<i>*</i></div>
                  <input type="tel" name="phone" required>
              </div>
              <div class="item">
                  <div class="u24Medium">Job Position<i>*</i></div>
                  <input type="text" name="job_position" required>
              </div>
              <div class="item">
                  <div class="u24Medium">Company<i>*</i></div>
                  <input type="text" name="company" required>
              </div>
              <div class="item">
                  <div class="u24Medium">Employer<i>*</i></div>
                  <input type="text" name="employer" required>
              </div>
              <div class="item">
                  <div class="u24Medium">Delivery address<i>*</i></div>
                  <input type="text" name="address" required>
              </div>
              <div class="item">
                  <div class="mini-item">
                      <div>
                          <div class="u24Medium">Postal code<i>*</i></div>
                          <input type="text" name="postal_code" required>
                      </div>
                      <div>
                          <div class="u24Medium">City<i>*</i></div>
                          <input type="text" name="city" required>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="u24Medium">Country<i>*</i></div>
                  <input type="text" name="country" value="Deutschland" disabled required>
              </div>
              <div class="item">
                  <div class="u24Medium">Bike Model<i>*</i></div>
                  <input type="text" name="bike_model" value="Carbon 1" disabled required>
              </div>
              <div class="item">
                  <div class="mini-item">
                      <div>
                          <div class="u24Medium">Bike Size<i>*</i></div>
                          <select name="bike_size" required>
                              <option value="">---</option>
                              <option value="M">M - Fit for 170-185 cm</option>
                              <option value="L">L - Fit for 180-195 cm</option>
                          </select>
                      </div>
                      <div>
                          <div class="u24Medium">Bike Style<i>*</i></div>
                          <select name="bike_style" required>
                              <option value="">---</option>
                              <option>Sirius</option>
                              <option>Lyra</option>
                              <option>Midnight in Paris</option>
                              <option>Vanilla</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="u24Medium">Accessories you would like
                      <!--<br><span style="font-size: 12px;color: #666;line-height: 16px;display: inline-block;">Father’s Day gifts: kickstand, Fender, water bottle cage will sent to you automatically, will not show in your jobrad offer (Ends on 18th of May)</span>-->
                  </div>
                  <select name="accessories" multiple>
                      <!-- <option value="">---</option> -->
                      <option>Sirius</option>
                      <option>Lyra</option>
                      <option>Midnight in Paris</option>
                      <option>Vanilla</option>
                  </select>
                  <!-- <input type="text" name="accessories" placeholder="Example: Extra-Comfort Saddle, Battery" > -->
              </div>
              <div class="item">
                  <div class="checkbox">
                      <input type="checkbox" id="subscribe" name="subscribe" value="subscribe" required />
                      <label class="u17Light" for="subscribe">I agree to allow Urtopia to store and process my
                          personal data, including receiving emails, text messages and SMS.<i>*</i></label>
                  </div>
              </div>
              <div class="item">
                  <div style="display: flex;">
                      <button class="my-button my-button-black" type="submit">Submit</button>
                      <a class="my-button my-button-white" href="/pages/contactus">Contact us</a>
                  </div>
              </div>
              <!-- <div class="item u17Medium">Thank you for submitting the form. <br>Our expert will contact you soon.</div> -->
          </form>
      </div>
  </div>
  <div class="faqs">
      <div class="centeral-content">
          <div class="faq">
              <div class="titlee">Frequently asked questions about Leasing</div>
              <div class="swiper swiper-no-swiping faq-list">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>