{{ 'leasing-add.scss.css' | asset_url | stylesheet_tag }}

<div class="leasing-add">
  <div class="banner">
      <div class="centeral-content">
          <div>
              <div class="u36DemiBold_v2">From €48/month</div>
              <div class="u72DemiBold_v2">Urtopia E-Bikes Leasing</div>
              <div class="u20Light_v2">We work with the best leasing providers. To Provide you the smoothest leasing experience and enjoy you riding as soon as possible.<br><br><div class="u20Medium_v2 banner_origin">Get <span class="u24DemiBold_v2">€600</span> off on carbon 1,<br><span class="u24DemiBold_v2">€300</span> discount on carbon 1s<br>via leasing</div></div>
              <div class="buttons">
                  <a href="#forms" class="my-button">Request leasing offer</a>
                  <a href="/products/urtopia-carbon-e-bike" class="my-button my-button-ghost">Shop Online</a>
              </div>
          </div>
          <div>
              <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20952_2x_60b1c0bc-7b0c-4dad-9487-1e4451197cb5.png?v=1683700382"
                  alt="">
          </div>
      </div>
  </div>
  <div class="partners" style="--swiper-theme-color: #ff6600;--swiper-navigation-color: #fff;--swiper-navigation-size: 15px;">
    <div class="u48DemiBold_v2">E-Bike Leasing Partners</div>
    <div class="swiper-wrapper"></div>
    <div class="buttons mobileHide">
        <div class="swiper-button-prev"></div><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
        <div class="swiper-button-next"></div><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
    </div>
  </div>
  <div class="parameters">
    <div class="centeral-content top-content">
        <div class="u48DemiBold_v2">Available Urtopia<br>E-Bikes</div>
        <div class="select">
            <select>
                <option value="carbon">Urtopia Carbon 1</option>
                <option value="carbon1s">Urtopia Carbon 1s</option>
            </select>
        </div>
    </div>
      <div class="centeral-content bottom-content">
          <div></div>
          <div>
              <div class="boxs">
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18449_2x_8fc05a36-e73b-4c68-8462-5cdfa6cea6b3.png?v=1683702610"
                          alt="">
                      <div>
                          <div class="u11Light_v2">Carbon Fiber</div>
                          <div class="u17DemiBold_v2">15 kg</div>
                      </div>
                  </div>
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18448_2x_d3fbd8a8-d1e2-4a84-b4eb-ce513f342438.png?v=1683705373"
                          alt="">
                      <div>
                          <div class="u11Light_v2">No maintaining Up to</div>
                          <div class="u17DemiBold_v2">30,000 km</div>
                      </div>
                  </div>
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18447_2x_532d80bf-4f0d-48a9-b2c6-81212b652ad7.png?v=1683705337"
                          alt="">
                      <div>
                          <div class="u11Light_v2">Range</div>
                          <div class="u17DemiBold_v2">100 km</div>
                      </div>
                  </div>
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18446_2x_e64c38e1-535a-401d-a722-cbe2b3b4e450.png?v=1683705358"
                          alt="">
                      <div>
                          <div class="u11Light_v2">Anti-theft</div>
                          <div class="u17DemiBold_v2">GPS Tracking</div>
                      </div>
                  </div>
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18450_2x_3726a023-532f-459e-826b-ecc6a1d3502c.png?v=1683705347"
                          alt="">
                      <div>
                          <div class="u11Light_v2">Smart App</div>
                          <div class="u17DemiBold_v2">iOS, Android</div>
                      </div>
                  </div>
                  <div>
                      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18445_2x_8378bdff-585c-4ae2-a3f9-f557107230d8.png?v=1683705353"
                          alt="">
                      <div>
                          <div class="u11Light_v2">Adaptive</div>
                          <div class="u17DemiBold_v2">Torque Sensor</div>
                      </div>
                  </div>
              </div>
              <div class="boxs2">
                  <div class="u17DemiBold_v2">Brushless 250 w Quiet Motor</div>
                  <div class="u17DemiBold_v2">Portable Samsung Battery</div>
                  <div class="u17DemiBold_v2">TEKTRO Hydraulic Disc Brakes</div>
                  <div class="u17DemiBold_v2">Big Anti-Glare LED Display</div>
                  <div class="u17DemiBold_v2">On-bike Navigation</div>
                  <div class="u17DemiBold_v2">Integrierte Beleuchtungssystem</div>
              </div>
              <div class="buttons">
                  <a href="#forms" class="my-button my-button-black">Request leasing offer(40% off)</a>
                  <a href="/products/urtopia-carbon-e-bike" class="my-button my-button-white">Shop Online(€2699)</a>
              </div>
          </div>
      </div>
  </div>
  <div class="why">
      <div class="centeral-content">
          <div>
              <div class="u48DemiBold_v2">Why is JobRad cheaper than direct purchase?</div>
              <div class="u17Light_v2">Everyone is talking about job bikes, company bikes, e-bike leasing and the 1%
                  or 0.25% regulation for bikes and e-bikes. As an employee, this is easily done via your employer,
                  who leases the e-bike or bicycle from us and then transfers it to you via deferred compensation. The
                  monetary benefit of the unlimited private use is taxed at a flat rate via the 1% or the new 0.25%
                  rule. If your employer covers all the costs, the private use is even completely tax-free. Either
                  way, you usually save 30-40% compared to private purchase.</div>
              <a href="#forms" class="my-button my-button-black">Request leasing offer</a>
          </div>
          <img class="mobileHide"
              src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221010-untitled-7468_2x_2e9db42e-3c57-41ce-842c-43a31a37326a.jpg?v=1683708173"
              alt="">
          <img class="pcHide"
              src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221010-untitled-7468_2x_84a2a10e-6e2d-45c5-be8a-3412ca764f72.jpg?v=1683708831"
              alt="">
      </div>
  </div>
  <div class="what">

      <div class="top">
          <div class="centeral-content">
              <div></div>
              <div class="u48DemiBold_v2">What can I benefit from as an employee?</div>
          </div>
      </div>
      <div class="bottom">
          <div class="centeral-content">
              <div><img
                      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/3_2x_212df522-b272-4a54-99fa-ec6829dff114.png?v=1683709949"
                      alt=""></div>
              <div>
                  <div class="u17Light_v2">As an employee, you can convince your employer to lease you a company bike
                      and provide it to you via deferred compensation. You get a tax-reduced e-bike that can also be
                      used privately without restriction: for work, everyday life, vacations or sports.</div>
                  <div class="u20DemiBold_v2">NEWS: from 01.01.2020 to 31.12.2030, employees pay only 0.25% imputed
                      income and thus save up to 40% compared to private purchases.</div>
                  <a href="#forms" class="my-button my-button-black">Request leasing offer</a>
              </div>
          </div>
      </div>
  </div>
  <div class="glance">
      <div class="centeral-content">
          <div class="u48DemiBold_v2">Your advantages at a glance</div>
          <div class="u20DemiBold_v2">
              <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                  alt="">
              <span>Save up to 40% compared to direct purchase</span>
          </div>
          <div class="u20DemiBold_v2">
              <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                  alt="">
              <span>The monthly installments are automatically deducted from your salary</span>
          </div>
          <div class="u20DemiBold_v2">
              <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                  alt="">
              <span>Lean and digital processes via the Jobrad portal</span>
          </div>
          <div class="u20DemiBold_v2">
              <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20956_2x_28b3e62b-ae48-4b7c-a025-4db2d0cdbf2d.png?v=1683713191"
                  alt="">
              <span>Open to all companies - big companies, small companies or self-employed people</span>
          </div>
      </div>
  </div>
  <div class="calculate">
      <div class="centeral-content">
          <div class="u48DemiBold_v2">Calculate your personal e-bike flat rate, which will be deducted from your
              salary!</div>
          <div class="videos">
              <div>
                  <div class="u17Light_v2">Can you save up to 40% on your job bike via a gross salary conversion
                      compared to a private
                      purchase. Then calculate now how little a great Urtopia e-bike costs you in net salary per
                      month. The calculator is fiscally up to date and includes the favorable 0.25% regulation.</div>
                  <br>
                  <div class="u20DemiBold_v2">Example:</div>
                  <div class="u17Light_v2 l">An employer provides a JobRad with a list price of 3,900 euros to an
                      employee who earns 3,000
                      euros gross. The usage rate is 113.39 euros, and the taxable monetary benefit (0.25 percent) is
                      9 euros.</div>
                  <a href="#forms" class="my-button my-button-black mobileHide">Request leasing offer</a>
              </div>
              <div>
                  <div class="u20DemiBold_v2">How to use the JobRad Calculator</div>
                  <div onclick="showVideoDialog('https://www.youtube.com/embed/FJP3ocrRa-g?autoplay=1&cc_load_policy=1')"><img
                          src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_672be8f9-42cb-4a87-81b4-9686c4938986.png?v=1683715614"
                          alt=""></div>

              </div>
          </div>
          <a href="#forms" class="my-button my-button-black pcHide">Request leasing offer</a>
      </div>
  </div>
  <div class="calculator">
      <div class="centeral-content jobrad-bike-leasing-calculator"
          id="jobrad-fachhandel-werbematerial-werkzeugkasten-iframe-main">
          <div class="u48DemiBold_v2">JobRad Calculator</div>
          <iframe scrolling="no" width="100%"
              src="https://bike-leasing-calculator.jobrad.org?genericObserve=true"></iframe>
      </div>
  </div>
  {% render 'leasing-forms-template' %}
  {% render 'leasing-companies-template' %}
  <div class="faqs">
      <div class="centeral-content">
          <div class="faq">
              <div class="titlee">Frequently asked questions about Leasing</div>
              <div class="swiper swiper-no-swiping faq-list">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<script>
  window.addEventListener(
    'message',
    (function () {
        // NOTE: This is how we can support multiple instances in same page.
        var id = 'jobrad-fachhandel-werbematerial-werkzeugkasten-iframe-main'

        console.log('message');

        return function (event) {
            if (
                id === 'jobrad-fachhandel-werbematerial-werkzeugkasten-iframe-main' &&
                event.origin === 'https://bike-leasing-calculator.jobrad.org' &&
                typeof event.data === 'object' &&
                'genericState' in event.data &&
                event.data.genericState.body.outerHeightInPixel > 0
            )
                window.document.querySelector(
                    '.jobrad-bike-leasing-calculator#jobrad-fachhandel-werbematerial-werkzeugkasten-iframe-main iframe'
                ).style.height =
                    event.data.genericState.body.outerHeightInPixel + 'px'
        }
    })(),
    false
)


const faqs = [
    {
        title: "For whom is a service bike or service e-bike via salary conversion worthwhile?",
        content: `The good news: Company bike leasing with JobRad is always worthwhile for employees thanks to salary conversion and tax incentives (0.25% rule). You save up to 40 percent with bike leasing compared to conventional purchase.`
    },
    {
        title: 'What is salary conversion/deferred compensation for bike leasing or e-bike leasing?',
        content: 'In the case of <b>salary conversion</b> (also known as deferred compensation or cash salary conversion), the employee decides to receive a portion of the contractually agreed salary not in cash, but as a payment in kind for the period during which the leased asset, for example a JobCycle, is leased. This means that the employer withholds a portion of the monthly salary in the amount of the leasing rate. This cash salary is in turn converted into so-called non-cash compensation, which in the case of <b>JobRad is the transfer of a bicycle or an e-bike.</b><br><br> The conversion results in a <b>tax advantage.</b>'
    },
    {
        title: 'What happens on the employee’s pay stub when salary is converted?',
        content: 'The gross salary is reduced by the usage rate for the duration of the use of the company bike or company e-bike. The significantly lower <a target="_blank" href="https://www.jobrad.org/aktuelles/dienstrad-versteuerung.html">non-cash benefit<a/> for the JobRad, which is taxable, is added. <br><br><b>Example: </b><br>An employer provides an employee who earns 3,000 euros gross with a JobRad with a list price of 3,900 euros. The usage rate is 113.39 euros, and the taxable non-cash benefit (0.25 percent) is 9 euros.'
    },
    {
        title: 'What is the conversion rate for bike leasing or e-bike leasing with JobRad?',
        content: 'The conversion rate is the rate that is deducted from the employee’s gross salary on the basis of salary conversion. It is made up of several components:<br><br> 1. from the monthly usage rate. This is the accrued rate for the use of the JobRad or Jobbike. <br>2. monthly rate for JobRad comprehensive <a target="_blank" href="https://www.jobrad.org/arbeitnehmer/service.html">insurance and JobRad mobility guarantee</a> plus optional <a target="_blank" href="https://www.jobrad.org/arbeitnehmer/service.html">JobRad inspection or JobRad FullService</a> if these additional services are not covered by the employer.'
    },
    {
        title: 'Is there a tax advantage to deferred compensation for bicycle leasing?',
        content: 'Yes, if an employer provides an employee with a company bike, tax benefits arise in <a target="_blank" href="https://www.jobrad.org/aktuelles/dienstrad-versteuerung.html">all cases.</a> <br><br>a) JobRad as salary extra, the tax-free service bike variant (since 2019):<br><br> If an employer provides an employee with a company bike (bicycles or e-bikes) in addition to the salary owed anyway (Section 3 No. 37 EstG), there is no taxation of the non-cash benefit since 2019. In this variant, there is no salary conversion, because the employee receives the bicycle or e-bike on top. For more information, <a target="_blank" href="https://www.jobrad.org/arbeitgeber/gehaltsextra.html">see JobRad as a salary extra.</a><br><br> b) JobRad by salary conversion, the variant with the 0.25% rule (since 2020):<br><br> If an employee receives the JobRad as a salary conversion, he or she receives a small portion of the contractually agreed salary not in cash, but as a benefit in kind. This is for the period during which the company bike is provided (36 months). During the transfer, the employer retains a portion of the monthly salary in the amount of the lease payments. <br>Since 2020, the employee has only had to pay tax on the non-cash benefit for the private use of the JobRad at 0.25 percent of the recommended retail price. As a result, the employee saves up to 40 percent compared to a traditional purchase.'
    },
    {
        title: "For which employment relationships is JobRad not eligible?",
        content: `The individual leasing contract for a JobRad always has a term of 36 months. Therefore, our company bike leasing is not suitable for all employees - for example, because it is foreseeable that one will not be able to fulfill the contract term. <br><br>JobRad is not recommended for, among others: <br>- Trainees <br>- Employees in probationary period <br>- temporary workers <br>- mini- and midi-jobbers <br>- Employees who receive minimum wage <br>- Employees who plan to retire (early) in less than three years, take extended parental leave, or take a sabbatical.`
    },
    {
        title: "Your employer doesn’t offer JobRad yet?",
        content: `No problem. They can use the <a target="_blank" href="https://www.jobrad.org/kontakt-mittler.html">contact form</a> to get in touch with JobRad quickly and easily and even request contract documents directly. Here you can find the advantages and <a target="_blank" href="https://www.jobrad.org/arbeitgeber.html">further information for employers.</a><br><br> In order for you to lease a JobRad from us, your employer must offer JobRad. The leasing contract runs through your employer. If your employer does not offer JobRad, it does not matter. She/he can simply sign up. The leasing concept not only offers advantages to you, but also to your employer. <a target="_blank" href="https://www.jobrad.org/arbeitgeber.html">Click here for more information for employers. </a>If you are self-employed, you can also <a target="_blank" href="https://selbststaendige.jobrad.org/">find useful information about tax benefits, requirements and the leasing request form on the JobRad website.</a>`
    },
    {
        title: "Am I qualified for JobRad?",
        content: `You are an employee: If your company already works with JobRad, you can order your Urtopia today. If not, you can introduce your employer <a target="_blank" href="https://www.jobrad.org/kontakt.html">here</a> at JobRad.<br><br> You are self-employed: You can certainly lease one or more Urtopias for your company via JobRad. You can find more practical information <a target="_blank" href="https://www.jobrad.org/kontakt.html">here</a> .`
    },
    {
        title: "What is the benefit of leasing a Urtopia through JobRad?",
        content: `You can save up to 40% compared to a conventional purchase. The monthly installments are simply deducted from your gross salary and the additional tax benefit saves you money.`
    },
    {
        title: "How does the eSIM service apply to leasing?",
        content: `No, it is not possible to add the eSIM service to the offer. <br><br>The first year is free. <br>After that you can purchase it from Urtopia’s official website.<br><br> Outdoor 4G connectivity requires an active eSIM service to ensure constant connectivity and security on the go. It is required for many advanced smart features such as activity tracking, AI voice control, motion alerts, and OTA updates.`
    },
    {
        title: "How do I order a Urtopia via JobRad?",
        content: `Please fill out this form with your contact details to request a quote. We will then post an offer for you on the JobRad portal. You can view the offer and confirm what you will see in your portal. <br><br>After confirmation, the offer is converted into an order.<br><br> Your employer and JobRad must approve the order. You will receive a confirmation email once your order has been reviewed and approved. Soon you’ll be riding your Urtopia bike!`
    },
    {
        title: "How long is the lease period?",
        content: `The leasing period is 36 months. The installments will be deducted from your gross salary monthly until the end of this period.`
    },
    {
        title: "What happens if I leave my employer?",
        content: `Depending on the situation, there are different options. It is best to discuss the possibilities with your employer. You can find more information <a target="_blank" href="https://www.jobrad.org/arbeitgeber/ausfallmanagement.html">here .</a>`
    },
    {
        title: "Can I add Urtopia Theft Insurance to my JobRad order?",
        content: `No, it is not possible to add our theft insurance to the offer. JobRad has its own insurance against theft, accidents and damage, which is included in the leasing package.`
    },
    {
        title: "Can I add accessories to my JobRad order?",
        content: `Yes, you can add both the bike and the accessories to your order. The availability is depends on our local stock, our specialist will contact you about your order.`
    },
    {
        title: "I have already bought a bike from you. Can I use this order for leasing via JobRad?",
        content: `Unfortunately, no. The only option here would be to cancel your order and place a new order through JobRad.`
    },
    {
        title: "What happens if I want to return my Urtopia?",
        content: `Generally this is not possible. When you receive your bike, it is very important that you carefully inspect it for any imperfections or defects. If your bike was delivered damaged, please contact our customer service. An exchange for the same bike is possible in certain cases.`
    },
    {
        title: "Can I return my JobRad order within the 14 day period?",
        content: `No. Unfortunately, this is not possible, as you have agreed on a leasing contract with the duration of 36 months with JobRad. If you have questions about the terms of your contract, please contact JobRad.`
    },
]

const swiperItems = [
    {
        name: 'Jobrad',
        img: 'https://cdn.shopify.com/s/files/1/0633/2068/6808/files/JR-Logo_-RGB-schwarz-large-4x_2x_de75d7be-f614-4b9c-b23f-bfc210ae792b.png?v=1686554527',
        text: 'If your employer is registered with JobRad, you can order your Urtopia bike by filling out this form. We will then place an offer for you on the JobRad portal, which you can review and confirm.',
        dialog: `
            <div class="partners-dialog">
                <div class="head">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/JR-Logo_-RGB-schwarz-large-4x_2x_de75d7be-f614-4b9c-b23f-bfc210ae792b.png?v=1686554527"/>
                    <span onclick="closeMiniDialog()">×</span>
                </div>
                <div class="content">
                    <div>
                        <div class="u20DemiBold_v2">Your benefits <br> through JobRad</div>
                        <div class="u17DemiBold_v2">Deducted from your salary</div>
                        <div class="u14Light_v2">Monthly contributions towards your lease of a Urtopia will be deducted from your gross salary. A 36 month leasing plan let you split the cost and enjoy the product.</div>
                        <div class="u17DemiBold_v2">Additional monthly savings</div>
                        <div class="u14Light_v2">If you lease with JobRad, your purchase is tax deductible. You can save up to 40% compared to buying a bike with a traditional payment method.</div>
                        <div class="u17DemiBold_v2">Enjoy it from now, even outside of work</div>
                        <div class="u14Light_v2">Ride away from stress and towards happiness! Request your bike today to take advantage of an enjoyable biking experience both during work hours as well as after.</div>
                    </div>
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221010-untitled-7468_2x_5cab2645-5d81-4b3f-8963-9a6ad866ff09.png?v=1686635073"/>
                </div>
                <div class="foot"><a name="Jobrad" href="#forms" class="my-button my-button-black">Request a quote</a></div>
            </div>
        `
    },
    {
        name: 'Bike Leasing',
        img: 'https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230613-153443.png?v=1686641693',
        text: 'If your employer is registered with bikeleasing.de, you can order by filling out this form. We’ll share this information with bikeleasing.de, who will process your order. Mein Dienstrad will confirm the order with your employer.'
    },
    {
        name: 'Mein-dienstrad.de',
        img: 'https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230613-153746.png?v=1686641878',
        text: 'If your employer is registered with Mein Dienstrad, you can order by filling out this form. We’ll share this information with Mein Dienstrad, who will process your order. Mein Dienstrad will confirm the order with your employer.'
    },
    //{
      //  name: 'Business Bike',
       // img: 'https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230613-152534.png?v=1686641146',
        //text: 'If your employer is registered with BusinessBike, you can order by filling out this form. We’ll share this information with BusinessBike, who will process your order. BusinessBike will confirm the order with your employer.'
    //},
]


$('.faqs .swiper-slide').html(faqs.map((faq, index) => `
  <div class="faq-item" index=${index + 1}>
     <div class="faq-title">
       <span>${faq.title}</span>
       <i class="faq-content-plus"></i>
     </div>
     <div class="faq-content">${faq.content}</div>
  </div>`).join(''))

$('.partners .swiper-wrapper').html(swiperItems.map(item => `
    <div class="swiper-slide">
        <img src="${item.img}" />
        <div class="u24Medium_v2">Germany</div>
        <div class="u17Light_v2">${item.text}</div>
        ${item.dialog ? `<div class="my-link u17DemiBold_v2" name="${item.name}">Learn More ></div>` : ''}
        <div class="flex-1"></div>
        <a href="#forms" name="${item.name}" class="my-button my-button-black">Request a quote</a>
    </div>
`).join(''))


setTimeout(() => {
    $('.faq-title').click(function () {
        $(this)
            .siblings('.faq-content')
            .slideToggle()
            .parent()
            .siblings()
            .find('.faq-content')
            .slideUp();
        $(this).children('i').toggleClass('faq-content-plus');
        $(this)
            .parent()
            .siblings()
            .find('.faq-title')
            .children('i')
            .addClass('faq-content-plus');
    });
    
    const width = document.body.clientWidth
    const isMobile = width < 768

    !isMobile && new Swiper('.leasing-add .partners', {
        slidesOffsetBefore: width > 1280 ? (width - 1280) / 2 : 30,
        slidesOffsetAfter: width > 1280 ? (width - 1280) / 2 : 30,
        spaceBetween: isMobile ? '4%' : 24,
        slidesPerView: isMobile ? 1.2 : 4,
        freeMode: isMobile ? true : false,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        }
    })


    const partnerSelect = $('select[name="partner"]').SumoSelect({
        placeholder: '',
        csvDispCount: 0,
        floatWidth: 768,
        renderLi: (li, originalOption) => {
            const name = li.find('label').text()
            const find = swiperItems.find(i => i.name === name)

            li.css({
                'display': 'flex',
                'align-items': 'center',
                'justify-content': 'space-between'
            })

            if (!find) {
                return li
            }

            li.append(`<img style="max-height: 20px;width: auto;" src="${find.img}"/>`)

            return li
        }
    })

    for (const item of swiperItems) {
        partnerSelect.sumo.add(item.name, item.name)
    }

    partnerSelect.sumo.add('none', 'None of above/Not sure which one my employer provided')
    partnerSelect.sumo.unSelectItem('Jobrad');


    $('select[name="partner"]').on('change', e => {
        const v = e.target.value
        console.log('e.target.value', v)

        $('input[name="offers"]').closest('.item').find('.u24Medium span').html(v)

        page_infos.form_thankyou_content2 = page_infos.form_thankyou_content2.replace(/<span>([^<]*?)<\/span>/gi, `<span>${v}</span>`)

        const offers = $('input[name="employer_id"]')
        if (v === "Jobrad" || v === 'none') {
            offers.attr('type', 'hidden')
            offers.closest('.item').hide()
        } else {
            offers.attr('type', 'text')
            offers.closest('.item').show()
        }

        $('select[name="accessories"] option').each(i, t => {
            const id = $(i).val()

            console.log(id)
        })

        if (v === "Jobrad") {
            window.selectPlugin.sumo.disableItem(1)
        } else {
            window.selectPlugin.sumo.enableItem(1)
        }
    })

    $('.partners .swiper-wrapper .swiper-slide .my-button').on('click', e => {
        const name = $(e.target).attr('name')

        $('input[name="offers"]').closest('.item').find('.u24Medium span').html(name)
        partnerSelect.sumo.selectItem(name)
    })

    $('.partners .swiper-wrapper .swiper-slide .my-link').on('click', e => {
        const name = $(e.target).attr('name')
        const find = swiperItems.find(i => i.name === name)

        showMiniDialog(find.dialog)
        setTimeout(() => {
            $('.partners-dialog .my-button').on('click', e => {
                const name = $(e.target).attr('name')
                closeMiniDialog()

                $('input[name="offers"]').closest('.item').find('.u24Medium span').html(name)
                partnerSelect.sumo.selectItem(name)
            })
        }, 500)
    })


    $('.parameters .select select').on('change', e => {
        const v = e.target.value

        if (v === 'carbon') {
            $('.parameters .bottom-content>div:first-child').css({ "background-image": "url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/MaskGroup18687.png?v=1688105290')" })
            $('.parameters .bottom-content .boxs > div:nth-child(1)').replaceWith(`<div>
                      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18449_2x_8fc05a36-e73b-4c68-8462-5cdfa6cea6b3.png?v=1683702610"
                          alt="">
                      <div>
                          <div class="u11Light_v2">Carbon Fiber</div>
                          <div class="u17DemiBold_v2">15 kg</div>
                      </div>
                  </div>`)
            $('.parameters .bottom-content .boxs > div:nth-child(2)').replaceWith(`<div>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18448_2x_d3fbd8a8-d1e2-4a84-b4eb-ce513f342438.png?v=1683705373"
                    alt="">
                <div>
                    <div class="u11Light_v2">No maintaining Up to</div>
                    <div class="u17DemiBold_v2">30,000 km</div>
                </div>
            </div>`)

            $('.parameters .bottom-content .buttons .my-button-white').text('Shop Online({{ 269900 | money }})')
        } else {
            $('.parameters .bottom-content>div:first-child').css({ "background-image": "url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/MaskGroup18145.png?v=1688105290')" })
            $('.parameters .bottom-content .boxs > div:nth-child(1)').replaceWith(`<div>
                      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18448_2x_d3fbd8a8-d1e2-4a84-b4eb-ce513f342438.png?v=1683705373"
                          alt="">
                      <div>
                          <div class="u11Light_v2">Torque</div>
                          <div class="u17DemiBold_v2">45 NM</div>
                      </div>
                  </div>`)
            $('.parameters .bottom-content .boxs > div:nth-child(2)').replaceWith(`<div>
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18449_2x_8fc05a36-e73b-4c68-8462-5cdfa6cea6b3.png?v=1683702610"
                    alt="">
                <div>
                    <div class="u11Light_v2">Modes X Gears</div>
                    <div class="u17DemiBold_v2">4 x 7</div>
                </div>
            </div>`)

            $('.parameters .bottom-content .buttons .my-button-white').text('Shop Online({{ 299900 | money }})')
        }
    })
}, 300)
</script>