{{ 'leasing.scss.css' | asset_url | stylesheet_tag }}

<div class="leasing">
  <div class="banner">
      <div class="centeral-content">
          <div class="u36DemiBold_v2">From €48/month</div>
          <div class="u72DemiBold_v2">Lease an Urtopia</div>
          <div class="u30DemiBold_v2">We work with the best leasing providers. <br>To Provide you the smoothest leasing experience <br>and enjoy you riding as soon as possible.<br><br><div class="u20Medium_v2 banner_origin">Get <span class="u24DemiBold_v2">{{ settings.carbon_ebike_discount_price | money_without_trailing_zeros }}</span> discount on leasing</div></div>
          <a class="my-button" href="#partners">Choose your partner</a>
      </div>
  </div>
  <div class="benefits gray-background-color">
      <div class="centeral-content">
          <div>
              <div class="u48DemiBold_v2">Your benefits <br> with leasing</div>
              <div class="u20DemiBold_v2">
                  <div>1. Monthly payments and Additional savings</div>
                  <div>2. Save up to 40%</div>
                  <div>3. Enjoy it from now, even outside of work</div>
                  <div class="u17Light_v2">We partner with the best leasing providers to give you the flexibility you
                      need. So that you can focus on what is really important, the ride.</div>
                  <a class="my-button my-button-black" href="#partners">Choose your partner</a>
              </div>
          </div>
          <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/E-Bike93_2x_75c5d030-8bba-4727-b251-1600af16ec42.png?v=1682428154"
              alt="">
      </div>
  </div>
  <div class="partners" id="partners">
      <div class="centeral-content">
          <div class="u48DemiBold_v2">Leasing Partners</div>
          <div class="boxs">
              <div>
                  <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/jr-color_2x_d6424f5f-f299-46a2-8f78-ffd7816f157e.jpg?v=1679970881"
                      alt="">
                  <div class="u30Medium_v2">Germany</div>
                  <div class="u17Light_v2">If your employer is registered with JobRad, you can order your Urtopia bike
                      by filling out this form. We will then place an offer for you on the JobRad portal, which you
                      can review and confirm.</div>
                  <div class="flex-1"></div>
                  <div>
                      <a class="my-button my-button-black" href="">Request a quote</a>
                      <a class="my-button my-button-white" href="">Learn more</a>
                  </div>
              </div>
              <div>
                  <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230426-212020.png?v=1682515229"
                      alt="">
                  <div class="u30Medium_v2">Germany</div>
                  <div class="u17Light_v2">If your employer is registered with Mein Dienstrad, you can order by
                      filling out this form. We’ll share this information with Mein Dienstrad, who will process your
                      order. Mein Dienstrad will confirm the order with your employer.</div>
                  <div class="flex-1"></div>
                  <div>
                      <a class="my-button my-button-black" href="">Request a quote</a>
                      <a class="my-button my-button-white" href="">Learn more</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="request gray-background-color">
      <div class="centeral-content">
          <img class="pcHide"
              src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20220729-untitled-8033_2x_94d607ed-e4d8-4370-8623-fa6469da2065.jpg?v=1682518065"
              alt="">
          <img class="mobileHide"
              src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20220729-untitled-8033_2x_7cc6865a-a2bb-491b-a4c1-9f336b7ee6af.jpg?v=1682517448"
              alt="">
          <div>
              <div class="u48DemiBold_v2">How to request a quote</div>
              <div class="u17Light_v2">
                  1. Choose one of the leasing partners above. ( The one your employer has signed up with) <br><br>
                  2. click on Request a quote. <br><br>
                  3. You will be direct to a request form, please filling the form to start your application. <br><br>
                  4. We will then place an offer for you on the the leasing partner portal of your choose, where you
                  can view and confirm it. <br><br>
                  5. The offer is then converted into an order that your employer and the leasing partner must review
                  and approve. <br><br>
                  6. Once it’s been approved by your employer, your bike will then be shipped once in stock. <br><br>
                  7. Please be aware that accessories will be shipped separately and might arrive later than the bike.
              </div>
              <div class="buttons">
                  <a class="my-button my-button-black" href="#partners">Choose your partner</a>
                  <a class="my-button my-button-white" href="/pages/contactus">Contact us</a>
              </div>
          </div>
      </div>
  </div>
  {% render 'leasing-companies-template' %}
  <div class="faqs">
      <div class="centeral-content">
          <div class="faq">
              <div class="titlee">Frequently asked questions about Leasing</div>
              <div class="swiper swiper-no-swiping faq-list">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<script setup>
    
    const faqs = [
        {
            title: "What is the advantage of leasing a Urtopia through my employer?",
            content: `Leasing through your employer is fiscally very interesting, since the monthly leasing instalments are taken from your gross salary. Leasing through your employer is on average 40% cheaper than a private purchase. The net deduction from your salary starts from as low as €49.89 a month spread over a period of 36 months. <br><br>After the lease period, you can usually exchange or take over your bicycle at a predetermined residual value, free of charge. <br><br> Other advantages: <br><br> Better health and environment No traffic jams or parking problems All-in lease package: You can count on multiple services and insurance, while leasing your bike.`
        },
        {
            title: "How long is the leasing period?",
            content: `Usually, the leasing period is 36 months. The instalments are deducted from your gross salary on a monthly basis until the end of this period. This could also be a longer or shorter period, depending on which local partner you lease through.`
        },
        {
            title: "What happens if I leave my employer?",
            content: `There are different possibilities depending on the situation. It’s best to discuss the options with your employer.`
        },
        {
            title: "Can I add Urtopia Theft Insurance to my leasing order?",
            content: `No, it is not possible to add our theft insurance to the offer. Leasing partners has its own insurance against theft, accidents and damage, which is included in the leasing package.`
        },
        {
            title: "Can I add accessories to my leasing order?",
            content: `Yes, you can add both the bike and the accessories to your order. <br>The availability is depends on our local stock, our specialist will contact you about your order.`
        },
        {
            title: "I have already bought a bike from you. Can I use this order for leasing?",
            content: `Unfortunately, no. The only option here would be to cancel your order and place a new order through leasing.`
        },
        {
            title: "What happens if I want to return my Urtopia?",
            content: `Generally this is not possible. When you receive your bike, it is very important that you carefully inspect it for any imperfections or defects. If your bike was delivered damaged, please contact our customer service. An exchange for the same bike is possible in certain cases.`
        },
        {
            title: "Can I return my leasing order within the 14 day period?",
            content: `No. Unfortunately, this is not possible, as you have agreed on a leasing contract with the duration of 36 months with your selected leasing provider. If you have questions about the terms of your contract, please contact your selected leasing provider.`
        },
    ]
  
  
  $('.faqs .swiper-slide').html(faqs.map(faq => `
    <div class="faq-item">
        <div class="faq-title">
        <span>${faq.title}</span>
        <i class="faq-content-plus"></i>
        </div>
        <div class="faq-content">${faq.content}</div>
    </div>`).join(''))


setTimeout(() => {
$('.faq-title').click(function () {
    $(this)
        .siblings('.faq-content')
        .slideToggle()
        .parent()
        .siblings()
        .find('.faq-content')
        .slideUp();
    $(this).children('i').toggleClass('faq-content-plus');
    $(this)
        .parent()
        .siblings()
        .find('.faq-title')
        .children('i')
        .addClass('faq-content-plus');
});
}, 300)

$('.partners .boxs a').each((index, elem) => {
    $(elem).on('click', e => {
        e.preventDefault();
        let href = ''


        if (index === 0) {
            href = location.href.replace('/ebike-leasing', '/urtopia-jobrad-leasing-city-electric-bike') + '#forms'
        }

        if (index === 1) {
            href = location.href.replace('/ebike-leasing', '/urtopia-jobrad-leasing-city-electric-bike')
        }

        if (index === 2) {
            href = location.href.replace('/ebike-leasing', '/leasing-mein-dienstrad') + '#forms'
        }

        if (index === 3) {
            href = location.href.replace('/ebike-leasing', '/leasing-mein-dienstrad')
        }


        location.href = href.replace('#partners', '')
       
        return false;
    })
})

  </script>