{{ 'leasing-add.scss.css' | asset_url | stylesheet_tag }}
{{ 'jobrad.scss.css' | asset_url | stylesheet_tag }}

<div class="jobrad leasing-add">
        <div class="banner">
            <div class="centeral-content">
                <div>
                    <img class="pcHide"
                        style="max-width:unset;"
                        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230427-102927.png?v=1682562584"
                        alt="">
                    <span class="u48DemiBold_v2">mein-dienstrad.de <br> lease company e-bikes from Urtopia</span>
                    <div class="u24Medium_v2">Pay in monthly installments with Mein Dienstrad<br><br><div class="u20Medium_v2 banner_origin">Get <span class="u24DemiBold_v2">{{ settings.carbon_ebike_discount_price | money_without_trailing_zeros }}</span> discount on leasing</div></div>
                    <a class="my-button mobileHide" href="#forms">Request on Offer</a>
                    <a class="my-button my-button-black pcHide" href="#forms">Request on Offer</a>
                </div>
                <div class="mobileHide">
                    <img style="width:400px;" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/logo_meinstdienstrad_2021_2x_28080504-990b-4bac-ada7-6a7aa2b89188.png?v=1682562347" alt="">
                </div>
            </div>
        </div>
        <div class="benefits">
            <div class="centeral-content">
                <img class="pcHide"
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221010-untitled-7287_a0b456dd-7aa8-41ca-a851-4f590a0428c3.jpg?v=1679973968"
                    alt="">
                <div>
                    <span class="u48DemiBold">Your benefits through mein-dienstrad.de</span>
                    <div>
                        <div class="u24Medium">Deducted from your salary</div>
                        <div class="u17Light">Monthly contributions towards your lease of a Urtopia will be deducted from your gross salary.  A 36 month leasing plan let you split the cost and enjoy the product.</div>
                    </div>
                    <div>
                        <div class="u24Medium">Additional monthly savings</div>
                        <div class="u17Light">If you lease with mein-dienstrad.de, your purchase is tax deductible. You can save up to
                            40% compared to buying a bike with a traditional payment method.</div>
                    </div>
                    <div>
                        <div class="u24Medium">Enjoy it from now, even outside of work</div>
                        <div class="u17Light">Ride away from stress and towards happiness! Request your bike today to take
                            advantage of an enjoyable biking experience both during work hours as well as after.</div>
                    </div>
                    <a class="my-button my-button-black" href="#forms">Request on Offer</a>
                </div>
                <img class="mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221010-untitled-7287.jpg?v=1679971555"
                    alt="">
            </div>
        </div>
        <div class="works">
            <div class="centeral-content">
                <img class="mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221018-untitled-8667.jpg?v=1679975453"
                    alt="">
                <img class="pcHide"
                    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221018-untitled-8667_332b211b-8db4-41ab-b50f-049eba8c2038.jpg?v=1679981771"
                    alt="">
                <div>
                    <div class="u48DemiBold">How it works</div>
                    <div class="u20Medium">Please ensure that your employer has signed up with mein-dienstrad.de.  <!--<a class="your" style="text-decoration: underline;" href="">Your employer doesn't offer JobRad yet?</a>--></div>
                    <div class="u17Light">
                        1. Click on the button or filling the form below to start your application with a new form. (Currently only Carbon 1 is available for mein-dienstrad.de)<br><br>
                        2. We will then place an offer for you on the mein-dienstrad.de portal: www.mein-dienstrad.de, where you can view the status of your order, save and manage important documents.<br><br>
                        3. mein-dienstrad.de will confirm the order with your employer.<br><br>
                        4. Once it’s been approved by your employer, your bike will then be shipped once in stock.<br><br>
                        5. Please be aware that accessories will be shipped separately and might arrive later than the bike.</div>
                    <a class="my-button my-button-black" style="margin-right: 15px;" href="#forms">Request on Offer</a>
                    <a class="my-button my-button-white" href="/pages/contactus">Contact us</a>
                </div>
            </div>
        </div>
        {% render 'leasing-forms-template' %}
        <div class="faqs">
            <div class="centeral-content">
                <div class="faq">
                    <div class="titlee">Frequently asked <br class="pcHide">questions about mein-dienstrad.de</div>
                    <div class="swiper swiper-no-swiping faq-list">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>

    const faqs = [
        {
            title: "Am I qualified for  mein-dienstrad.de?",
            content: `You are an employee: If your company already works with mein-dienstrad.de, you can order your Urtopia today. If not, you can introduce 
            your employer to mein-dienstrad.de.<br><br>
  
            You are self-employed: You can certainly lease one or more Urtopias 
            for your company via mein-dienstrad.de.`
        },
        {
            title: "What is the benefit of leasing a Urtopia through mein-dienstrad.de?",
            content: `With a leasing contract for company bikes, you save up to 40% of the original purchase price with full damage protection. In the case of an employer subsidy, you benefit even more! You conveniently pay the usage rates with your payslip and enjoy substantial net savings. Our all-round carefree package already includes fully comprehensive insurance, as well as the assumption of costs for all wearing parts, repairs and inspections.
             <br><br>100% digital - and still 100% personal! Your ordering process runs completely online via our portal www.mein-dienstrad.de. Here you can view the status of your order, save and manage important documents. You also have access to your data at any time - GDPR-compliant, of course.`
        },
        {
            title: "How does the eSIM service apply to leasing?",
            content: `No, it is not possible to add the eSIM service to the offer.<br><br>
  
            The first year is free.
            After that you can purchase it from Urtopia's official website.<br><br>
  
            Outdoor 4G connectivity requires an active eSIM service to ensure constant connectivity and security on the go. It is required for many advanced smart features such as activity tracking, AI voice control, motion alerts, and OTA updates.`
        },
        {
            title: "How do I order a Urtopia via mein-dienstrad.de?",
            content: `Please fill out this form with your contact details to request a quote. We will then post an offer for you on the mein-dienstrad.de portal: www.mein-dienstrad.de,. You can view the offer and view the status of your order, save and manage important documents.<br><br>
  
            After confirmation, the offer is converted into an order. Your employer and mein-dienstrad.de must approve the order.<br><br>
  
            You will receive a confirmation email once your order has been reviewed and approved. Soon you’ll be riding your Urtopia bike!`
        },
        {
            title: "How long is the lease period?",
            content: `The leasing period is 36 months. The installments will be deducted from your gross salary monthly until the end of this period.`
        },
        {
            title: "What happens if I leave my employer?",
            content: `Depending on the situation, there are different options. It is best to discuss the possibilities with your employer.`
        },
        {
            title: "Can I add Urtopia Theft Insurance to my mein-dienstrad.de order?",
            content: `No, it is not possible to add our theft insurance to the offer. mein-dienstrad.de has its own insurance against theft, accidents and damage, which is included in the leasing package.`
        },
        {
            title: "Can I add accessories to my mein-dienstrad.de order?",
            content: `Yes, you can add both the bike and the accessories to your order.
            The availability is depends on our local stock, our specialist will contact you about your order.`
        },
        {
          title: "I have already bought a bike from you. Can I use this order for leasing via mein-dienstrad.de?",
          content: `Unfortunately, no. The only option here would be to cancel your order and place a new order through mein-dienstrad.de.`
      },
      {
          title: "What happens if I want to return my Urtopia?",
          content: `Generally this is not possible. When you receive your bike, it is very important that you carefully inspect it for any imperfections or defects. If your bike was delivered damaged, please contact our customer service. An exchange for the same bike is possible in certain cases.`
      },
      {
          title: "Can I return my mein-dienstrad.de order within the 14 day period?",
          content: `No. Unfortunately, this is not possible, as you have agreed on a leasing contract with the duration of 36 months with mein-dienstrad.de. If you have questions about the terms of your contract, please contact mein-dienstrad.de.`
      },
    ]


    $('.faqs .swiper-slide').html(faqs.map(faq => `
      <div class="faq-item">
         <div class="faq-title">
           <span>${faq.title}</span>
           <i class="faq-content-plus"></i>
         </div>
         <div class="faq-content">${faq.content}</div>
      </div>`).join(''))


    setTimeout(() => {
        $('.faq-title').click(function () {
            $(this)
                .siblings('.faq-content')
                .slideToggle()
                .parent()
                .siblings()
                .find('.faq-content')
                .slideUp();
            $(this).children('i').toggleClass('faq-content-plus');
            $(this)
                .parent()
                .siblings()
                .find('.faq-title')
                .children('i')
                .addClass('faq-content-plus');
        });
    }, 1000)
</script>