{{ 'pagefly-main.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'pagefly.102c91e3.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'home.scss.css' | asset_url | stylesheet_tag: preload: true }}
  
{% render 'home-page-banner' %}

<div class="greenest">
  <div class="centeral-content gray-background-color">
    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18811_2x_552d51e2-13f7-4175-aa88-d5b0ecdf3988.png?v=1691825401" alt="">
    <div>
        <div class="u36DemiBold_v2">Green Deserves Rewards</div>
        <div class="u17Light_v2">We are introducing the Carbon Credit Rewards program. By riding the most environmentally-friendly e-bike, tracking your routes, and reducing CO2 emissions, you have the opportunity to win exciting prizes. Join us in our mission to create a greener world!</div>
        <a class="my-button my-button-black" href="/pages/sustainability-carbon-credit">Learn More</a>
    </div>
  </div>
</div>

{% render 'home-page-bikes' %}
{% render 'home-page-media', is_center: true %}

<div class="test-ride">
  <div class="centeral-content">
    <div>
      <div>
        <div class="u36DemiBold_v2">Test ride spots near you</div>
        <div class="u20DemiBold_v2">Experience the bike in real</div>
        <a
          class="my-button my-button-origin"
          href="/pages/test-ride"
          target="_blank" style=" white-space: normal;">Book a Free Test Ride</a>
      </div>
    </div>
    <div>
      <div style="padding: 0;">
        <div
          id="storepoint-container"
          data-tags="euro"
          data-map-id="162f21804990ff"></div>
      </div>
    </div>
  </div>
</div>

<div class="home-page-ebike-banner">
  <div class="centeral-content ">
    <div class="u42DemiBold_v2">Carbon 1</div>
    <div class="u17Light_v2">Achieve your fitness goals while enjoying a<br class="mobileHide"> fast and sporty ride in style</div>
    <a class="my-button" href="/pages/e-bike">Learn more</a>
  </div>
</div>

<div class="home-page-ebike-banner home-page-ebike-banner-chord">
  <div class="centeral-content ">
    <div class="u42DemiBold_v2">Chord</div>
    <div class="u17Light_v2">Power up your commute and extend <br class="mobileHide">your leisurely daily ride</div>
    <a class="my-button" href="/products/urtopia-chord-ebike">Learn more</a>
  </div>
</div>

<div class="boxs gray-background-color">
  <div class="centeral-content">
    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/6T1A8524_2x_aaecef7e-48c0-4776-8947-fa295f1c24b5.jpg?v=1680163598" alt="">
    <div>
      <div class="u48DemiBold_v2">Lease an Urtopia</div>
      <div class="u17Light_v2">We offer you the opportunity to get your dream bike at low monthly leasing rates through various leasing providers, such as Jobrad and mein-dienstrad.</div>
      <a class="my-button my-button-black" href="/pages/ebike-leasing">Learn more</a>
    </div>
    <div>
      <div class="u48DemiBold_v2">Peace of Mind</div>
      <div class="u17Light_v2">Enjoy complete peace of mind with our 2-year warranty and 24/7 support, plus full after-sales service.</div>
      <a class="my-button my-button-black" href="/pages/care">Learn more</a>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230306-114106.jpg?v=1678074104" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18294_2x_849210ff-f5fe-4be8-a248-3afbe6674080.png?v=1677557363" alt="app">
    <div>
      <div class="u48DemiBold_v2">Smart App</div>
      <div class="u17Light_v2">Connect, track, share, achieve - Urtopia app: Your perfect cycling companion!</div>
      <div class="images">
          <a target="_blank" href="https://apps.apple.com/de/app/urtopia/id1592975789"><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/321.jpg?v=1680155095" alt=""></a>
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.newurtopia"><img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/get-it-on-google-play-badge-1.jpg?v=1680154868" alt=""></a>
      </div>
    </div>
  </div>
</div>

<div class="ambass gray-background-color">
  <div class="centeral-content">
    <div class="u48DemiBold_v2">Ambass Reviews</div>
    <div class="u20Medium_v2">Feel the Love From Celebrities and Athletes <br><a class="my-link u20DemiBold_v2" href="/pages/community">Learn more<a></a></div>
  </div>
</div>

<style>
#section7 {
      max-width: 1280px;
      margin: auto;
      --swiper-theme-color: #ff6600;/* 设置Swiper风格 */
      --swiper-navigation-color: #fff;/* 单独设置按钮颜色 */
      --swiper-navigation-size: 30px;/* 设置按钮大小 */
      position: relative;
      overflow: hidden;
      cursor: auto;
    }
    
    #section7 img {
      width: 100%;
      height: auto;
    }

    #section7 .swiper-button-prev {
      left: 25px;
      top: calc(50% - 35px);
    }

    #section7 .swiper-button-next {
      right: 15px;
      top: calc(50% - 35px);
    }

    #section7 .swiper-slide .text {
      position: relative;
      left: 10px;
      text-align: left;
      font-size: 16px;
    }
  
  #section7 .swiper-slide .u24Medium {
	    font-weight: 700;
  }
  
  #section7 .swiper-slide .u17Light {
	    margin-top: 20px;
  }
  
  @media (max-width: 767px) {
    #section7 .swiper-button-prev,
    #section7 .swiper-button-next {
        display: none;
    }

    #section7 .swiper-scrollbar {
        height: 2px;
        position: static;
        margin: 75px auto 0;
        width: calc(100vw - 100px);
    }

    #section7 .swiper-slide .text {
      left: 0;
    }

    #section7 .swiper-slide .text .u17Light {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 15px;
    }

    #section7 .swiper-slide .text .u24Medium {
      font-size: 20px;
    }
}


@media (min-width: 768px) {
    #section7 .swiper-scrollbar {
        display: none;
    }
}
</style>

<div class="nba gray-background-color">
  <div class="centeral-content">
    <div id="section7">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221031-150959_2x_73aee806-ce30-4b48-a6d0-ccf7d7ad2846.png?v=1677570084" alt="">
              <div class="text">
                <div class="u17Light">NBA Hall of Fame</div>
                <div class="u24Medium">Tracy Mcgrady</div>
              </div>
          </div>
		 <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18449.jpg?v=1678259406" alt="">
              <div class="text">
                <div class="u17Light">Classical Crossover Pianist</div>
                <div class="u24Medium">Maksim Mrvica</div>
              </div>
          </div>
		<div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-170547.jpg?v=1677575166" alt="">
              <div class="text">
                <div class="u17Light">2021 Canoeing Olympic Champion</div>
                <div class="u24Medium">Max Lemke</div>
              </div>
          </div>
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_17920_2x_497e7daa-cce5-4377-bd70-b87b4741b84a.png?v=1677570061" alt="">
              <div class="text">
                <div class="u17Light">5x German champion triathlete</div>
                <div class="u24Medium">Franz Loeschke</div>
              </div>
          </div>
			 
			  <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18384_2x_a1e993bf-6c59-495e-9144-249560a9464f.png?v=1677571548" alt="">
              <div class="text">
                <div class="u17Light">Best Jewelers in the World</div>
                <div class="u24Medium">Ben Baller</div>
              </div>
          </div>
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18385_2x_be0fdf1b-aa6c-4876-b59d-b4726fbe85f4.png?v=1677570039" alt="">
              <div class="text">
                <div class="u17Light">Choice Award for Favorite Band</div>
                <div class="u24Medium">Smash Mouth</div>
              </div>
          </div>
				
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/URTOPIA_PISA-2_1_2x_661af923-52ce-4264-8f33-57e2ad655b9c.png?v=1677571232" alt="">
              <div class="text">
                <div class="u17Light">3x Italian BMX Champion</div>
                <div class="u24Medium">Alessandro Barbero</div>
              </div>
          </div>
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18386_2x_3ed11b52-b136-4263-8a1b-568fb7e95e69.png?v=1677571199" alt="">
              <div class="text">
                <div class="u17Light">Vice World Champion</div>
                <div class="u24Medium">Philip Heintz</div>
              </div>
          </div>
      </div>
      <div class="swiper-button-prev"></div><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
     <div class="swiper-button-next"></div><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
     <div class="swiper-scrollbar"></div>
  </div>
  </div>
</div>


<script>
  (function() {
    var a = document.createElement("script");
    a.type = "text/javascript";
    a.src = "https://cdn.storepoint.co/api/v1/js/162f21804990ff.js";
    var b = document.getElementsByTagName("script")[0];
    b.parentNode.insertBefore(a, b);
  }());

  new Swiper('#section7', {    
          spaceBetween: 15,
          slidesPerView: global_config.is_mobile ? 1.5 : 3.5,
          freeMode: global_config.is_mobile ? true : false,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        scrollbar: {
              el: '.swiper-scrollbar',
        },
    })
</script>