
{% if section.settings.section_id.size > 0 %}
  <!-- PageFlyGlobalSection -->
  {% render 'pagefly-main-js' %}
  {% render 'pagefly-main-css' %}
  {% include section.settings.section_id %}
{% else %}
  
    {% if request.design_mode %}
      <style>.pf-ph{font-size:14px!important;background:#fafafa;padding:20px;text-align:center;border:1px solid #f0f0f0;border-radius:4px;margin:15px}.pf-ph span{display:block;background:#e6f7ff;padding:8px 15px;border:1px solid #91d5ff}</style>
      <div class="pf-ph">
        <h3>PageFly Section</h3>
        <span>No section selected. Please select your section from the list</span>
      </div>
    {% endif %}
  
{% endif %}

{% schema %}
{
  "name": "PageFly Section",
  "settings": [
    {
      "id": "section_id",
      "type": "select",
      "label": "Sections",
      "options": [
        {
          "label": "Select section",
          "value": ""
        },
        {
          "label": "1 - tutorial 20240320 - 2024-03-20 17:4:56",
          "value": "pf-2999da36"
        },
        {
          "label": "description",
          "value": "pf-74488d02"
        },
        {
          "label": "spec mobile",
          "value": "pf-de5656e3"
        },
        {
          "label": "blog carbon jobrad",
          "value": "pf-0f7f7f83"
        },
        {
          "label": "size guide",
          "value": "pf-fd08e90e"
        },
        {
          "label": "1 - carbon 1 5 - 2023-03-15 20:27:13",
          "value": "pf-3a54e43f"
        },
        {
          "label": "4 - carbon 1 4 - 2023-03-15 19:22:38",
          "value": "pf-d2abb025"
        },
        {
          "label": "3 - carbon 1 3 - 2023-03-15 19:22:38",
          "value": "pf-f2cde854"
        },
        {
          "label": "2 - carbon 1 2 - 2023-03-15 19:22:38",
          "value": "pf-63fac6f1"
        },
        {
          "label": "1 - carbon 1 1 - 2023-03-15 19:22:38",
          "value": "pf-f990050e"
        },
        {
          "label": "faq",
          "value": "pf-6f5b1d7d"
        },
        {
          "label": "testride, branner ",
          "value": "pf-3c1fe2e5"
        },
        {
          "label": "testride, process pc",
          "value": "pf-aa945a9d"
        },
        {
          "label": "testride,to order",
          "value": "pf-17299d38"
        },
        {
          "label": "testride,media logo",
          "value": "pf-56e0f4ec"
        },
        {
          "label": "testride,process,mb",
          "value": "pf-e8142c74"
        },
        {
          "label": "2 - accessiores 1 - 2023-01-19 17:12:36",
          "value": "pf-14b2d311"
        },
        {
          "label": "1 - accessiores 2 - 2023-01-19 17:12:36",
          "value": "pf-aca59ed4"
        },
        {
          "label": "accessiories detail",
          "value": "pf-fd1841b2"
        },
        {
          "label": "order page spec sheet",
          "value": "pf-ca304bfd"
        },
        {
          "label": "carbon 1 sales test ride lead form",
          "value": "pf-bd335982"
        },
        {
          "label": "tutorial",
          "value": "pf-f2a8bf99"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "Find and edit your section on the [section listing](https://urtopia-de.myshopify.com/admin/apps/pagefly/sections)"
    },
    {
      "type": "paragraph",
      "content": "To add block to a section, please use the App Block element on PageFly section editor."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "PageFly Section"
    }
  ]
}
{% endschema %}
