{{ 'feel.scss.css' | asset_url | stylesheet_tag: preload: true }}


<h1 class="visuallyhidden">Urtopia Ebike Review from Celebrities, Top Medias, Professional Online Reviewers and Real Customers</h1>
<div class="banner">
        <h2 class="u48Medium_v2">Feel the Love From</h2>
        <p class="u30Medium_v2">
            <span>
                Celebrities, Top Medias, Professional Online Reviewers and Real Customers
            </span>
        </p>
    </div>
    <div class="successsss" style="--swiper-theme-color: #000;--swiper-pagination-color: #000;">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">A Resounding Success!</h2>
            <h3 class="u30Light_v2">Media Reviews from Top Agencies</h3>
        </div>
        <div>
            <div class="centeral-content">
                <div class="swiperrrrrqq">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18908_2x_3fc120be-443b-490a-bb16-123b68afd880.png?v=1709260793"
                                alt="">
                            <span class="u17Light_v2">Largest affairs and social life magazine in Germany</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Das Urtopia ist ein Computer, der auch fahren kann.”</span>
                            <a class="my-link" target="_blank" href="https://www.stern.de/auto/carbon-e-bike-urtopia-im-super-sonderangebot--smart-und-leicht-32930012.html">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18909_2x_652a00b5-641d-4ced-ba0a-0b8c95e62f1d.png?v=1709260798"
                                alt="">
                            <span class="u17Light_v2">Germany’s leading ebike review site</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“iPhone unter den E-Bikes“ bezeichnet zu werden’.”</span>
                            <a class="my-link" target="_blank" href="https://ebike-news.de/urtopia-fusion-e-bike-mit-ki-unterstuetzung/215870/">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18910_2x_f5ef811d-3a39-4b9f-b031-d25becdb7322.png?v=1709260809"
                                alt="">
                            <span class="u17Light_v2">German national daily newspaper</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Schick, leicht und elektrisch ist das Carbon-Pedelec von Urtopia außerdem.”</span>
                            <a class="my-link" target="_blank" href="https://www.welt.de/motor/news/article241982709/Das-Machbare-ueberstrapaziert-Test-Urtopia-Carbon-E-Bike.html">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18911_2x_c3181ca3-f6f8-4b59-ac9b-1cf3a4ad905a.png?v=1709260815"
                                alt="">
                            <span class="u17Light_v2">Germany’s most important weekly news magazine</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Mehr Spaß und Komfort soll bei Urtopia vor allem künstliche Intelligenz (KI) bringen.”</span>
                            <a class="my-link" target="_blank" href="https://www.spiegel.de/auto/fahrberichte/urtopia-carbon-e-bike-im-test-wie-schlau-ist-dieses-ki-rad-wirklich-a-6c48c954-ea21-4984-a8a1-2688ba87a625">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18913_2x_2140987e-828c-42ae-82d3-a8808703c86d.png?v=1709260822"
                                alt="">
                            <span class="u17Light_v2">The most extensive editorial technology and consumer portal</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Billig & ultrastylish. Die als Smart Tech beworbenen Extras sind bemerkenswert und relativ selten bei Fahrrädern zu finden.”</span>
                            <a class="my-link" target="_blank" href="https://efahrer.chip.de/e-bikes/billig-ultrastylish-jetzt-steigt-der-preis-fuer-urtopias-karbon-e-bike_105911">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18914_2x_299f2448-52f7-46e5-a0e2-11d778a6347d.png?v=1709260826"
                                alt="">
                            <span class="u17Light_v2">Germany’s and Europe’s most widely circulated daily newspaper</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Abstands-Warner, Sprachsteuerung, Fingerabdrucksensor, Karbon-Rahmen, Urtopia will das Rad neu erfinden!”</span>
                            <a class="my-link" target="_blank" href="https://www.bild.de/bild-plus/digital/multimedia/multimedia/ebike-urtopia-im-test-edles-stadtrad-mit-leider-nur-smarten-ideen-81785920.bild.html">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18915_2x_6c0a267d-c0fd-4c67-a8f5-7e8283c43ece.png?v=1709260832"
                                alt="">
                            <span class="u17Light_v2">Leading German television channel</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“die mit ihrem gleichnamigen Carbon-Bike ein optisch als auch technisch in mehreren Punkten spannendes Pedelec anbietet.”</span>
                            <a class="my-link" target="_blank" href="https://www.n-tv.de/auto/Carbon-E-Bike-Urtopia-viel-fuers-Geld-article22921196.html">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18916_2x_acd2144f-160f-493e-9598-6f222ae42b8e.png?v=1709260837"
                                alt="">
                            <span class="u17Light_v2">Germany’s leading news and media website</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Agil-handlicher Stadtflitzer”</span>
                            <a class="my-link" target="_blank" href="https://www.rnd.de/e-mobility/urtopia-carbon-e-bike-eleganter-stadtflitzer-mit-technik-ueberfrachtet-Y63P23CK3BAXRFWB2VLWUHBSNA.html">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18917_2x_ea32ac27-a694-4bd3-97c7-2210f46baab6.png?v=1709260843"
                                alt="">
                            <span class="u17Light_v2">One of Germany’s top tech media</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Sprechendes E-Bike mit Allradantrieb”</span>
                            <a class="my-link" target="_blank" href="https://www.heise.de/news/Urtopia-Fusion-Sprechendes-E-Bike-mit-Allradantrieb-9592525.html">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18919_2x_1b15056f-a5d2-4f74-a657-0b1d30dcdec0.png?v=1709260849"
                                alt="">
                            <span class="u17Light_v2">Europe’s best-selling computer magazines</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Sprechendes E-Bike für ausgiebige Fahrradtouren”</span>
                            <a class="my-link" target="_blank" href="https://www.computerbild.de/artikel/cb-News-Connected-Car-CES-2024-Urtopia-zeigt-E-Bike-mit-200-km-Reichweite-37846133.html">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18920_2x_f735a954-06ab-4d68-9b03-ad6cf9891549.png?v=1709260855"
                                alt="">
                            <span class="u17Light_v2">News Pioneers in Technology</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“Heftige Optik trifft sehr günstigen Preis SO FÜHLT SICH DAS HIGH-END-BIKE AN”</span>
                            <a class="my-link" target="_blank" href="https://www.inside-digital.de/tests/high-end-e-bike-im-test-heftige-optik-trifft-guenstigen-preis">Read the post</a>
                        </div>
                        <div class="swiper-slide">
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_19056_2x_317f18ab-3d2e-49e6-8bea-3a3c545471c8.png?v=1709260860"
                                alt="">
                            <span class="u17Light_v2">World leader in cycling</span>
                            <div class="flex-1"></div>
                            <img class="star"
                                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_19774_2x_37c97972-fcb1-492c-9d54-e4ecbb39c532.png?v=1709016432"
                                alt="">
                            <span class="u17DemiBold_v2">“The Urtopia carbon e-bike allows you to have a more efficient and sustainable way of travelling.”</span>
                            <a class="my-link" target="_blank" href="https://www.cyclingnews.com/features/new-urtopia-carbon-e-bike-boasts-a-13kg-weight-and-a-host-of-innovative-high-tech-features/">Read the post</a>
                        </div>
                    </div>
                </div>
                <img class="swiper-button-prev mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23241_2x_41d4abbd-f02a-4749-b622-487351941af5.png?v=1709019638"
                    alt="">
                <img class="swiper-button-next mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23241_2x_41d4abbd-f02a-4749-b622-487351941af5.png?v=1709019638"
                    alt="">
                <div class="swiper-pagination pcHide"></div>
            </div>
        </div>
    </div>
    <div class="successsss">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">What Professional Reviewers Say</h2>
            <h3 class="u30Light_v2">True review over the web</h3>
            <div class="items">
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_2_2x_f1977b77-d73d-4b5b-9393-34bb2bc48f30.jpg?v=1709271743')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/channels4_profile_2x_777d9982-c8d3-4180-8035-ad2d2a0d9467.png?v=1709271750"
                                alt="">
                            <span class="u24Medium_v2">
                                GERMAN TELEVISION
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                Nur 3.299,- €? Billigstes und bestes Carbon E-Bike der Welt? Urtopia 2023. Gates! LTE! Schnell+Geil!
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/Zf5rNJV9GI8?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_2x_e26e216a-490b-4beb-8832-da02857a1bc0.jpg?v=1709271937')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/unnamed_2x_40f97704-d177-4eff-b07e-f707be5a2b37.png?v=1709271942"
                                alt="">
                            <span class="u24Medium_v2">
                                Tips, Tricks & More
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                Der TESLA unter den E-Bikes?! - Ich teste das neue Startup E-Bike von Urtopia! | Tips, Tricks & More
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/GzSAMA0-97Q?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_8_2x_96b4e7d3-f65b-4886-8671-e2084329aa29.jpg?v=1709272229')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/channels4_profile_3_2x_36227155-9812-4943-8586-5d37d4205f4d.png?v=1709272236"
                                alt="">
                            <span class="u24Medium_v2">
                                AUTONOTIZEN
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                Urtopia Carbon One: Smart E-Bike als Alternative zu Auto und öffentlichem Nahverkehr?
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/piwWymKckyM?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_3_2x_a9cffeb0-a023-4571-ae95-0f102960d013.jpg?v=1709272479')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/unnamed_2_2x_ae0e5ae0-6841-41d0-bb5a-a47bf7a09d11.png?v=1709272484"
                                alt="">
                            <span class="u24Medium_v2">
                                SmarthomeAssistent
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                Urtopia Carbon One - Das SMARTE und LEICHTE E-Bike mit Sprachsteuerung im Test
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/zSpHl6A3hz0?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_4_2x_5249d326-4138-4c3c-9d00-73d9f7ad7e97.jpg?v=1709272650')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/channels4_profile_1_2x_bdf4e083-cc15-4291-8ead-0e03b232625e.png?v=1709272655"
                                alt="">
                            <span class="u24Medium_v2">
                                Allround-PC
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                Smartes & ultraleichtes Kohlefaser-E-Bike: Urtopia Carbon 1s im TEST
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/A_xZKfb109Q?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_5_2x_7c423ec9-0192-42f4-b5c7-70ab1d08372e.jpg?v=1709273081')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/channels4_profile_2_2x_71f86712-9a22-4ff6-8675-0f964f388b7c.png?v=1709273090"
                                alt="">
                            <span class="u24Medium_v2">
                                JÖNOHS
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                Könnte von TESLA sein? Das Urtopia CARBON 1 E-BIKE im Alltagstest!
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/oUKhPZHmUvc?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_1_2x_87314140-5112-4eb7-ade9-a412a400c487.jpg?v=1709273288')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/unnamed_1_2x_a607afe7-91bd-48b4-8117-043527021a06.png?v=1709273283"
                                alt="">
                            <span class="u24Medium_v2">
                                HennTech
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                Leicht, smart und mit einer KI, die zuhört und spricht. Klingt nach ferner Zukunft? Beim Urtopia Carbon One E-Bike ist das jedoch bereits Realität.
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/Z_G2Afp4YP0?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_7_2x_532e3fe6-ffc7-4638-a16e-11bb47b414bd.jpg?v=1709273426')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/unnamed_3_2x_9050dec4-e410-415b-b5ee-c896675e3278.png?v=1709273430"
                                alt="">
                            <span class="u24Medium_v2">
                                TommysTechReviews
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                Urtopia Carbon 1S E-Bike Review - Smart, leicht und jetzt mit Schaltung
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/A6910uwS3Ok?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
                <div class="item"
                    style="--bggggg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/maxresdefault_9_2x_33f8bc16-10a2-4d00-a913-ba83ba2c207e.jpg?v=1709274143')">
                    <div>
                        <div>
                            <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/channels4_profile_4_2x_1e3e5bde-1609-4da8-89c2-68dec16634f2.png?v=1709274146"
                                alt="">
                            <span class="u24Medium_v2">
                                EMOBILIST
                            </span>
                        </div>
                        <p class="u20Light_v2">
                            <span>
                                Urtopia 1S - Das brandneue Ebike von Urtopia - Ist das der Porsche der Ebikes?
                            </span>
                        </p>
                    </div>
                    <div onclick="showVideoDialog('https://www.youtube.com/embed/LKhmllclz90?autoplay=1&cc_load_policy=1')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23264_2x_53d89d7e-705d-4a8d-b8cc-a0bafa85de52.png?v=1709024091"
                            alt="">
                    </div>
                </div>
            </div>
            <div class="my-button my-button-black moreeee">See More</div>
        </div>
    </div>
    <div class="successsss successsssc">
        <div class="centeral-content">
            <h2 class="u48Medium_v2">Love From Celebrities and Athletes</h2>
            <h3 class="u30Light_v2">Urtopia e-bikes are the choice of celebrities and athletes from around the world.</h3>
            <div class="lowwww">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/OdzjlfHdd8A?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_23757_2x_50010e86-bfe3-4762-9163-a97712d01850.jpg?v=1709091301');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23766_2x_44ed09a3-aa4d-4cfa-bf46-1cd23c02e15f.jpg?v=1709115181')">
                        {% comment %} <span class="flex-1"></span> {% endcomment %}
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        {% comment %} <span class="flex-1"></span> {% endcomment %}
                        <span class="u30DemiBold_v2">Jennifer Jolly</span>
                        <span class="u20Light_v2">Emmy Award-Winning Tech Journalist</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/n6KJzVYgqbs?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23756_2x_27c16092-9548-4d2c-adf3-f99069de7781.jpg?v=1709110487');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23765_2x_febc8cb8-e0ef-42f0-a5e8-438d6266d2a8.jpg?v=1709115490')">
                        {% comment %} <span class="flex-1"></span> {% endcomment %}
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        {% comment %} <span class="flex-1"></span> {% endcomment %}
                        <span class="u30DemiBold_v2">Linus Tech Tips</span>
                        <span class="u20Light_v2">15.5M Subscriber Youtube</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/OK8cz5u8rZg?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23754_2x_fd50b467-b3b5-4062-9a49-89b1a044d98a.jpg?v=1709111489');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23755_2x_51cce14b-37b9-44e6-a5ba-f4d8197dc340.jpg?v=1709115495')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u30DemiBold_v2">Tracy MacGrady</span>
                        <span class="u20Light_v2">NBA Hall of Fame</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/gjYMDVGv_C4?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23753_2x_2e84d5bb-9384-48e7-8667-a449ea14b4ae.jpg?v=1709111641');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23780_2x_e5b410e2-a752-41fa-84f2-11b42514ef76.jpg?v=1709123581')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u30DemiBold_v2">Maksim Mrvica</span>
                        <span class="u20Light_v2">The world’s fastest pianists</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://player.vimeo.com/video/799468067?api=1&autoplay=false&loop=false&mute=false&controls=true&portrait=false&byline=false&title=false')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23758_2x_63b1fe76-8995-444a-8ac3-120967e007f0.jpg?v=1709114299');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23770_2x_4b63b769-e9b1-4b41-ab4d-b7f7af45aab0.jpg?v=1709115513')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u30DemiBold_v2">Ben Baller</span>
                        <span class="u20Light_v2">Best Jewelers in the World</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/pLJlv-sP_JQ?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23759_2x_e2d36025-3a64-4aa6-89df-6284e202a604.jpg?v=1709114399');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23771_2x_322077c6-a7ae-4e21-a9cd-0bcc531169fd.jpg?v=1709115519')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u30DemiBold_v2">Max Lemke</span>
                        <span class="u20Light_v2">2021 Canoeing Olympic Champion</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/b7QmGZvxLIc?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23760_2x_10704a59-8fdb-4ac3-84da-4780a6bfb3d0.jpg?v=1709114448');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23772_2x_bea0e0d2-0f7f-4be3-b768-3ad5a395a6be.jpg?v=1709115525')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u30DemiBold_v2">Philip Heintz</span>
                        <span class="u20Light_v2">Vice world champion European champion</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/GoZU9kP3cNk?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23761_2x_f746b5e6-b108-438d-ac42-3fda8313c069.jpg?v=1709114497');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23773_2x_52c6710a-141b-407d-9bd5-a451ad3e5af4.jpg?v=1709115532')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u30DemiBold_v2">Franz Loeschke</span>
                        <span class="u20Light_v2">5x German champion triathlete</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/h3XWj1TXpSw?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23764_2x_ba39e358-f562-4913-92f5-046d9a1b839c.jpg?v=1709114595');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23776_2x_6b6a9261-0c27-404d-906a-1e479a5f3d9b.jpg?v=1709115537')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u30DemiBold_v2">Norris Frederick</span>
                        <span class="u20Light_v2">Member of Team USA. 3x Indoor U.S Bronze Medal.</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/3elIhWOeVD4?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23763_2x_ddf201df-c782-477e-bda0-32679dcc3e13.jpg?v=1709114590');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23775_2x_5f6f9864-96a0-4d01-8ac7-8deff8c6369c.jpg?v=1709115543')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u30DemiBold_v2">Alessandro Barbero</span>
                        <span class="u20Light_v2">BMX rider, 3x Italian champion</span>
                    </div>
                    <div class="swiper-slide" onclick="showVideoDialog('https://www.youtube.com/embed/24MRU6SpPM8?autoplay=1&cc_load_policy=1')" style="--bgbgbg: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23762_2x_edb30218-1361-4e28-ae4c-580b0a7af74e.jpg?v=1709114584');--bgu: url('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23774_2x_dfce330d-ce01-4649-a720-1a72eda60078.jpg?v=1709115549')">
                        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18815_2x_18d606e0-dcb5-4663-a528-68a22cd963c0.png?v=1709091067" alt="">
                        <span class="u30DemiBold_v2">DiAndre Campbell</span>
                        <span class="u20Light_v2">Former Wide Receiver for NFLSF 49ers</span>
                    </div>
                </div>
            </div>
            <div class="my-button my-button-black moreeeee pcHide">See More</div>
            <img class="swiper-button-prev mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23241_2x_41d4abbd-f02a-4749-b622-487351941af5.png?v=1709019638"
                    alt="">
                <img class="swiper-button-next mobileHide"
                    src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_23241_2x_41d4abbd-f02a-4749-b622-487351941af5.png?v=1709019638"
                    alt="">
        </div>
    </div>
    <div class="judmeeeeeeeee">
            <div class="centeral-content">
                <h2 class="u48Medium_v2">What our real customers say</h2>
                {% include "judgeme_all_reviews", widget_type: "judgeme_all_review_widget", concierge_install: false %}
            </div>
    </div>


<script>
  new Swiper('.successsss .swiperrrrrqq', global_config.is_mobile ? {
        slidesPerView: 1,
        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },
        pagination: { el: '.successsss .swiper-pagination' },
        speed: 300
  } : {
        slidesPerView: 4,
        spaceBetween: '5%',
        navigation: {
            nextEl: '.successsss:not(.successsssc) .swiper-button-next',
            prevEl: '.successsss:not(.successsssc) .swiper-button-prev',
        },
    })

    global_config.is_pc && new Swiper('.successsssc .lowwww', {
            // direction: 'vertical',
            slidesPerView: 3.5,
            spaceBetween: 30,
            // slidesOffsetAfter: 400,
            navigation: {
                nextEl: '.successsssc .swiper-button-next',
                prevEl: '.successsssc .swiper-button-prev',
            },
            // effect: 'fade',
            // fadeEffect: {
            //     crossFade: true
            // },
            // pagination: { el: '.successsss .swiper-pagination' },
            // speed: 300
        })

    $('.successsss .moreeee').on('click', e => {
        const items = $('.successsss .items .item:hidden')
        if (items[0]) {
            $(items[0]).css('display', 'grid')
        } else {
            $('.successsss .moreeee').hide()
        }

        if (items[1]) {
            $(items[1]).css('display', 'grid')
        }
    })

    $('.successsss .moreeee').click()

    $('.successsssc .moreeeee').on('click', e => {
        const items = $('.successsssc .swiper-slide:hidden')
        if (items[0]) {
            $(items[0]).css('display', 'flex')
        } else {
            $('.successsssc .moreeeee').hide()
        }

        if (items[1]) {
            $(items[1]).css('display', 'flex')
        }
    })

    $('.successsssc .moreeeee').click()
</script>