<!-- Cozy Country Redirect Optimization Code Start -->
{{ shop.metafields.CCR.shopat_script }}
<!-- Cozy Country Redirect Optimization Code Start -->

<script defer crossorigin="anonymous" src="https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v14.0" nonce="nryZARoa"></script>
<!--outbrain tracking -->
<script data-obct type = "text/javascript">
  /** DO NOT MODIFY THIS CODE**/
  !function(_window, _document) {
    var OB_ADV_ID = '004724a1910ea66ba6f18eea401c197373';
    if (_window.obApi) {
      var toArray = function(object) {
        return Object.prototype.toString.call(object) === '[object Array]' ? object : [object];
      };
      _window.obApi.marketerId = toArray(_window.obApi.marketerId).concat(toArray(OB_ADV_ID));
      return;
    }
    var api = _window.obApi = function() {
      api.dispatch ? api.dispatch.apply(api, arguments) : api.queue.push(arguments);
    };
    api.version = '1.1';
    api.loaded = true;
    api.marketerId = OB_ADV_ID;
    api.queue = [];
    var tag = _document.createElement('script');
    tag.async = true;
    tag.src = '//amplify.outbrain.com/cp/obtp.js';
    tag.type = 'text/javascript';
    var script = _document.getElementsByTagName('script')[0];
    script.parentNode.insertBefore(tag, script);
  }(window, document);

  obApi('track', 'PAGE_VIEW');
</script>
    <!--outbrain tracking -->


<div class="selectLangModal" id="selectLangModal">
  <div class="selectLangContainer">
    <span class="close" onclick="goToPage(9)">✕</span>
    <h2>Select Your Language</h2>
    <p>Would you like to Select a language that you’re more comfortable with?</p>
    <div class="bottomButton">
      <div class="selectContainer" onclick="setLangOpen()">
        <div class="selectBox">
          <span id="curentLang" data_code="en">English</span>
        </div>
        <ul class="downSelectBox">
          <li
            data-code="en"
            data-value="English"
            onclick="updateLang(this)"
          >
            English
          </li>
          <li data-code="de" data-value="German" onclick="updateLang(this)">German</li>
          <li data-code="fr" data-value="French" onclick="updateLang(this)">French</li>
        </ul>
      </div>
      <button type="button" onclick="goToPage()"><span>Sel<span>ect</span></button>
    </div>
  </div>
</div>
<style>
  .selectLangModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b3;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  .selectLangModal.open {
    display: flex;
  }
  .selectLangContainer {
    width: 80%;
    max-width: 700px;
    aspect-ratio: 700/350;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .selectLangContainer .close {
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  .selectLangContainer h2 {
    margin: 0 0 20px 0px;
    font: normal normal 600 24px/28px urbane;
  }
  .selectLangContainer p {
    max-width: 358px;
    text-align: center;
    font: normal normal 300 17px/24px urbane;
  }
  .selectContainer {
    position: relative;
    margin-right: 10px;
  }
  .selectContainer .selectBox {
    width: 224px;
    height: 47px;
    padding: 0 25px;
    font: normal normal 500 16px/19px urbane;
    line-height: 47px;
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .selectLangContainer button {
    padding: 16px 30px;
    height: 47px;
    border-radius: 30px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .downSelectBox {
    position: absolute;
    top: 60px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 0px 0px 10px #00000019;
    border-radius: 12px;
    width: 100%;
    display: none;
  }
  .downSelectBox li {
    list-style-type: none;
    padding: 13px;
    cursor: pointer;
  }
  .bottomButton {
    margin-top: 60px;
    display: flex;
  }
  .selectBox::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 5px 0 auto;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #000;
    opacity: 0.9;
    transform: rotate(45deg) translate(0, -40%);
    transition: 0.3s ease;
  }
  .selectContainer.open .selectBox::after {
    transform: rotate(-135deg) translate(-2px, 0);
  }
  .selectContainer.open .downSelectBox {
    display: block;
  }
  @media screen and (max-width: 768px) {
    .selectLangContainer {
      aspect-ratio: 305/278;
      padding: 0 16px;
    }
    .selectLangContainer h2 {
      font: normal normal 600 20px/24px urbane;
    }
    .selectLangContainer p {
      font: normal normal 300 15px/21px urbane;
    }
    .selectContainer .selectBox {
      width: 150px;
      height: 40px;
      padding: 0 16px;
      font: normal normal 500 14px/19px urbane;
    }
    .selectLangContainer button {
      padding: 0 16px;
      height: 40px;
    }
  }
</style>
<script>
  const storage = new MyStorage()
  const options = document.querySelectorAll('.tl-options .tl-option')

  // 监听页面语言插件切换
  options.forEach((v) => {
    v.addEventListener('click', () => {
      let val = v.getAttribute('data-value');
      storage.set('selectLang', val)
      sessionStorage.setItem('selectLang', val)
    });
  });

  function gotoLocation (code = 'de') {
    const parent = Array.from(document.querySelectorAll('.tl-options')).pop()
    const allOptions = Array.from(parent.querySelectorAll('.tl-option'))
    const active = allOptions.find(tl => Array.from(tl.classList).includes('active'))
    const findLang = allOptions.find(tl => tl.dataset.value === code)

    if (active.dataset.value === code) {
      return setTimeout(showEmailDialog, global_config.subscribe_email_dialog_config.show_delay_time* 1000)
    }

    setTimeout(() => {
      findLang.dispatchEvent(new Event('click'))
    }, 0)
  }

  const langmap = {
    en: {
      code: 'en',
      value: 'English',
    },
    de: {
      code: 'de',
      value: 'German',
    },
    fr: {
      code: 'fr',
      value: 'French',
    },
  };
  window.onload = () => {

    console.log('加载了');
    let langCode = window.CozyCountryRedirect.country;
    let locale = window.Shopify.locale;

    {% comment %} let langCookie = storage.get('selectLang') || '' {% endcomment %}
    let langCookie = sessionStorage.getItem('selectLang') || ''
    

    console.log('当前国家', langCode, '当前语言', locale, 'langCookie', langCookie);
    // 是否选择语言
    if (langCookie) {
      gotoLocation(langCookie)
    } else {
      let notShowModal =
        (langCode === 'de' && locale === 'de') ||
        (langCode === 'fr' && locale === 'fr') ||
        (langCode !== 'de' && langCode !== 'fr' && locale === 'en');

      let recommendCode = langmap[langCode]?.code || 'en';
      let recommendVal = langmap[langCode]?.value || 'English';
      document.querySelector('#curentLang').setAttribute('data_code', recommendCode);
      document.querySelector('#curentLang').innerText = recommendVal;

      if (!notShowModal && !window.__SHOPIFY_CLI_ENV__ && !sessionStorage.getItem('selectLangDialog')) {
        document.querySelector('#selectLangModal').classList.add('open');
      } else {
        setTimeout(showEmailDialog, global_config.subscribe_email_dialog_config.show_delay_time* 1000)
      }
    }
  };
  const updateLang = (el) => {
    let code = el.getAttribute('data-code');
    let val = el.getAttribute('data-value');

    document.querySelector('#curentLang').setAttribute('data_code', code);
    document.querySelector('#curentLang').innerText = val;
  };

  const setLangOpen = () => {
    if (document.querySelector('.selectContainer').classList.value.indexOf('open') !== -1) {
      document.querySelector('.selectContainer').classList.remove('open');
    } else {
      document.querySelector('.selectContainer').classList.add('open');
    }
  };

  const goToPage = isClose => {
    let currCode = document.querySelector('#curentLang').getAttribute('data_code');

    document.querySelector('#selectLangModal').classList.remove('open');
    sessionStorage.setItem('selectLangDialog', 'selectLangDialog')
    // 如果是单纯的关闭，直接退出去
    if (isClose) {
      return setTimeout(showEmailDialog, global_config.subscribe_email_dialog_config.show_delay_time* 1000)
    }

    var d = new Date();
    d.setTime(d.getTime() + 3 * 24 * 60 * 60 * 1000); // 3天后到期
    var expires = d.toGMTString();

    storage.set('selectLang', currCode)
    sessionStorage.setItem('selectLang', currCode)
    
    
    gotoLocation(currCode)

    console.log('currCode', currCode);
  };
</script>
