<!-- Cozy Country Redirect Optimization Code Start -->
{{ shop.metafields.CCR.shopat_script }}
<!-- Cozy Country Redirect Optimization Code Start -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-205871538-3"></script>
<script defer crossorigin="anonymous" src="https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v14.0" nonce="nryZARoa"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2WKKVDX6JH"></script>
<!--outbrain tracking -->
<script data-obct type = "text/javascript">
  /** DO NOT MODIFY THIS CODE**/
  !function(_window, _document) {
    var OB_ADV_ID = '004724a1910ea66ba6f18eea401c197373';
    if (_window.obApi) {
      var toArray = function(object) {
        return Object.prototype.toString.call(object) === '[object Array]' ? object : [object];
      };
      _window.obApi.marketerId = toArray(_window.obApi.marketerId).concat(toArray(OB_ADV_ID));
      return;
    }
    var api = _window.obApi = function() {
      api.dispatch ? api.dispatch.apply(api, arguments) : api.queue.push(arguments);
    };
    api.version = '1.1';
    api.loaded = true;
    api.marketerId = OB_ADV_ID;
    api.queue = [];
    var tag = _document.createElement('script');
    tag.async = true;
    tag.src = '//amplify.outbrain.com/cp/obtp.js';
    tag.type = 'text/javascript';
    var script = _document.getElementsByTagName('script')[0];
    script.parentNode.insertBefore(tag, script);
  }(window, document);

  obApi('track', 'PAGE_VIEW');
</script>
    <!--outbrain tracking -->


<div class="selectLangModal" id="selectLangModal">
  <div class="selectLangContainer">
    <span class="close" onclick="goToPage(9)">✕</span>
    <h2>Select Your Language</h2>
    <p>Would you like to Select a language that you’re more comfortable with?</p>
    <div class="bottomButton">
      <div class="selectContainer" onclick="setLangOpen()">
        <div class="selectBox">
          <span id="curentLang" data_code="en">English</span>
        </div>
        <ul class="downSelectBox">
          <li
            data-code="en"
            data-value="English"
            onclick="updateLang(this)"
          >
            English
          </li>
          <li data-code="de" data-value="German" onclick="updateLang(this)">German</li>
          <li data-code="fr" data-value="French" onclick="updateLang(this)">French</li>
        </ul>
      </div>
      <button type="button" onclick="goToPage()">Select</button>
    </div>
  </div>
</div>

<div class="message-box mobileHide">
  <img
    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/jobradorg_2x_9fa9518f-0618-4ba0-8973-8f5a381f940d.png?v=1680154687"
    alt=""
  >
  <div>
    <div class="u17Medium">Save up to 40%</div>
    <div style="margin: 6px 0 24px;">Lease a Urtopia with JobRad and save up to 40%.</div>
    <a class="my-button my-button-black" onclick="hideLayerSide()" href="/pages/jobrad">Learn more</a>
  </div>
  <span onclick="hideLayerSide()">×</span>
</div>
<div class="message-box message-box-mobile pcHide">
  <div>
    <div class="u17Medium">Save up to 40%</div>
    <div style="margin: 6px 0 12px;">Lease a Urtopia with JobRad and save up to 40%.</div>
    <a class="my-button my-button-black" onclick="hideLayerSide()" href="/pages/jobrad">Learn more</a>
  </div>
  <img
    src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/jobradorg_2x_9fa9518f-0618-4ba0-8973-8f5a381f940d.png?v=1680154687"
    alt=""
  >
  <span onclick="hideLayerSide()">×</span>
</div>


<style>
  .subscribe-container {
      display: grid;
      max-width: 976px;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      border-radius: 10px;
      background-color: transparent;
  }
  
  .subscribe-container .subscribe {
      display: flex;
      flex-direction: column;
      padding: 12%;
      justify-content: center;
      background-color: #fff;
  }
  
  .subscribe-container .subscribe img {
      margin: 30px 0;
      max-width: 265px;
  }
  
  .subscribe-container .subscribe .u17Light {
      line-height: 24px;
      margin-bottom: 86px;
  }
  
  .subscribe-container .subscribe .email {
      box-sizing: border-box;
      display: flex;
      height: 47px;
      position: relative;
  }
  
  .subscribe-container .subscribe .email input {
      height: 100%;
      width: 100%;
      border-color: #0000004d;
      border-radius: 30px;
      color: #000;
      padding: 0 25px;
      font-size: 14px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      box-sizing: border-box;
  }

  .subscribe-container .subscribe .email button {
    border: none;
}

  .subscribe-container .subscribe .email input:focus-visible {
    border-color: #000;
  }
  
  .subscribe-container .subscribe .email .my-button {
      position: absolute;
      right: 0;
      z-index: 2;
      height: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  
  .subscribe-container .subscribe .email input::placeholder {
      color: #aaa;
  }
  
  .subscribe-container .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #999;
    cursor: pointer;
    font-weight: 100;
    display: block;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
  }
  
  @media (max-width: 767px) {
      .subscribe-container {
          grid-template-columns: 1fr;
      }
  
      .subscribe-container .subscribe {
          padding: 8%;
      }
  
      .subscribe-container .subscribe .u20Medium {
          font-size: 18px;
          line-height: 21px;
      }
  
      .subscribe-container .subscribe img {
          margin: 15px 0;
          max-width: 205px;
      }
  
      .subscribe-container .subscribe .u17Light {
          font-size: 15px;
          line-height: 21px;
          margin-bottom: 40px;
      }
  
      .subscribe-container .subscribe .email {
          height: 40px;   
      }
  
      .subscribe-container .subscribe .email input {
          font-size: 12px;
          padding: 0 15px;
      }
  
      .subscribe-container .close {
          color: #fff;
          top: 0.5%;
          right: 1%;
      }
  }
  </style>

<style>
  .message-box {
    width: 367px;
    height: auto;
    position: fixed;
    right: -367px;
    transition: all 0.3s;
    padding: 0 0 25px 25px;
    background-color: #eff1f8;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-column-gap: 15px;
    align-items: center;
    border-radius: 10px;
    bottom: 70px;
    z-index: 1000000;
  }

  .message-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 12px;
    line-height: 16.8px;
    padding-right: 18px;
  }

  .message-box div .u17Medium {
    font-size: 18px;
    line-height: 22.5px;
    font-weight: 600;
    margin-top: 45px;
  }

  .message-box span {
    position: absolute;
    right: 15px;
    top: -5px;
    font-size: 30px;
    color: #999;
    cursor: pointer;
  }

  @media (max-width: 767px) {
    .message-box-mobile {
      width: 100%;
      bottom: -180px;
      right: 0 !important;
      align-items: flex-end;
      padding: 25px 30px;
      grid-template-columns: 2fr 1fr;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .message-box-mobile div {
      padding: 0;
    }

    .message-box-mobile img {
      max-width: 80px;
    }

    .message-box-mobile div .u17Medium {
      margin: 0;
      font-size: 16px;
    }

    .message-box-mobile span {
      top: 5px;
      right: 15px;
    }
  }
</style>

<style>
  .selectLangModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b3;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  .selectLangModal.open {
    display: flex;
  }
  .selectLangContainer {
    width: 80%;
    max-width: 700px;
    aspect-ratio: 700/350;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .selectLangContainer .close {
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  .selectLangContainer h2 {
    margin: 0 0 20px 0px;
    font: normal normal 600 24px/28px urbane;
  }
  .selectLangContainer p {
    max-width: 358px;
    text-align: center;
    font: normal normal 300 17px/24px urbane;
  }
  .selectContainer {
    position: relative;
    margin-right: 10px;
  }
  .selectContainer .selectBox {
    width: 224px;
    height: 47px;
    padding: 0 25px;
    font: normal normal 500 16px/19px urbane;
    line-height: 47px;
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .selectLangContainer button {
    padding: 16px 30px;
    height: 47px;
    border-radius: 30px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .downSelectBox {
    position: absolute;
    top: 60px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 0px 0px 10px #00000019;
    border-radius: 12px;
    width: 100%;
    display: none;
  }
  .downSelectBox li {
    list-style-type: none;
    padding: 13px;
    cursor: pointer;
  }
  .bottomButton {
    margin-top: 60px;
    display: flex;
  }
  .selectBox::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 5px 0 auto;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #000;
    opacity: 0.9;
    transform: rotate(45deg) translate(0, -40%);
    transition: 0.3s ease;
  }
  .selectContainer.open .selectBox::after {
    transform: rotate(-135deg) translate(-2px, 0);
  }
  .selectContainer.open .downSelectBox {
    display: block;
  }
  @media screen and (max-width: 768px) {
    .selectLangContainer {
      aspect-ratio: 305/278;
      padding: 0 16px;
    }
    .selectLangContainer h2 {
      font: normal normal 600 20px/24px urbane;
    }
    .selectLangContainer p {
      font: normal normal 300 15px/21px urbane;
    }
    .selectContainer .selectBox {
      width: 150px;
      height: 40px;
      padding: 0 16px;
      font: normal normal 500 14px/19px urbane;
    }
    .selectLangContainer button {
      padding: 0 16px;
      height: 40px;
    }
  }
</style>

<link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Urtopia_Photo_Sesh_14_of_14_2x_9ec4000c-c609-4829-b4a2-430a5b7aae63.jpg?v=1680259217" as="image">
<link rel="prefetch" href="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Urtopia_Photo_Sesh_9_of_14_2x_dc648c2b-067f-4357-bda8-d917f51fd883.jpg?v=1680259100" as="image">
<script>
  // 邮件订阅弹窗
  const subscribeHtml = `<div class="subscribe-container">
    <img class="mobileHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Urtopia_Photo_Sesh_14_of_14_2x_9ec4000c-c609-4829-b4a2-430a5b7aae63.jpg?v=1680259217" alt="">
    <img class="pcHide" src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Urtopia_Photo_Sesh_9_of_14_2x_dc648c2b-067f-4357-bda8-d917f51fd883.jpg?v=1680259100" alt="">
    <div class="subscribe">
        <span class="u20Medium">Huge Easter Sale</span>
        <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Union_2_2x_2ad80dcd-895b-4d97-92c5-0669622ad449.png?v=1680251686">
        <span class="u17Light">Subscribe for Easter exclusive coupon and Utopia stories</span>
        <form action="" method="post">
        <div class="email">
              <input placeholder="Enter email here" type="email" required>
              <button class="my-button my-button-black" type="submit">Subscribe</button>
        </div>
      </form>
    </div>
    <span class="close" onclick="closeMiniDialog()">×</span>
</div>D`
  
  
  class MyStorage {
    constructor(props) {
      this.props = props || {};
      this.source = this.props.source || window.localStorage;
      this.initrun();
    }
    initrun() {
      /*
       * set 存储方法
       * @ param {string} key 键
       * @ param {string} value 值，存储的值可能是数组/对象，不能直接存储，需要转换 json.stringify
       * @ param {string} expired 过期时间，以分钟为单位
       * @ 由@it·平头哥联盟-首席填坑官∙苏南 分享
       */
      const reg = new RegExp('__expires__');
      let data = this.source;
      let list = Object.keys(data);
      if (list.length > 0) {
        list.map((key, v) => {
          if (!reg.test(key)) {
            let now = Date.now();
            let expires = data[`${key}__expires__`] || Date.now() + 1;
            if (now >= expires) {
              this.remove(key);
            }
          }
          return key;
        });
      }
    }

    set(key, value, expired = 3) {
      /*
      * set 存储方法
      * @ param {string} key 键
      * @ param {string} value 值，
      * @ param {string} expired 过期时间，以分钟为单位，非必须
      * @ 由@it·平头哥联盟-首席填坑官∙苏南 分享
      */
      let source = this.source;
      source[key] = JSON.stringify(value);
      if (expired){
      source[`${key}__expires__`] = Date.now() + 1000 * 60 * 60 * 24 * expired
      };
      return value;
     }

    get(key) {
      /*
      * get 获取方法
      * @ param {string} key 键
      * @ param {string} expired 存储时为非必须字段，所以有可能取不到，默认为 date.now+1
      * @ 由@it·平头哥联盟-首席填坑官∙苏南 分享
      */
      const source = this.source,
      expired = source[`${key}__expires__`]||Date.now()+1;
      const now = Date.now();
      
      if ( now >= expired ) {
      this.remove(key);
      return;
      }
      const value = source[key] ? JSON.parse(source[key]) : source[key];
      return value;
     }

    remove(key) {
      const data = this.source,
      value = data[key];
      delete data[key];
      delete data[`${key}__expires__`];
      return value;
     }
  }


  const storage = new MyStorage()
  const options = document.querySelectorAll('.tl-options .tl-option')

  // 监听页面语言插件切换
  options.forEach((v) => {
    v.addEventListener('click', () => {
      let val = v.getAttribute('data-value');
      storage.set('selectLang', val)
      sessionStorage.setItem('selectLang', val)
    });
  });

  function gotoLocation (code = 'de') {
    const parent = Array.from(document.querySelectorAll('.tl-options')).pop()
    const allOptions = Array.from(parent.querySelectorAll('.tl-option'))
    const active = allOptions.find(tl => Array.from(tl.classList).includes('active'))
    const findLang = allOptions.find(tl => tl.dataset.value === code)

    if (active.dataset.value === code) {
      return setTimeout(showMiniDialog, 5000, subscribeHtml)
    }

    setTimeout(() => {
      findLang.dispatchEvent(new Event('click'))
    }, 0)
  }

  const langmap = {
    en: {
      code: 'en',
      value: 'English',
    },
    de: {
      code: 'de',
      value: 'German',
    },
    fr: {
      code: 'fr',
      value: 'French',
    },
  };
  window.onload = () => {

    console.log('加载了');
    let langCode = window.CozyCountryRedirect.country;
    let locale = window.Shopify.locale;

    {% comment %} let langCookie = storage.get('selectLang') || '' {% endcomment %}
    let langCookie = sessionStorage.getItem('selectLang') || ''
    

    console.log('当前国家', langCode, '当前语言', locale, 'langCookie', langCookie);
    // 是否选择语言
    if (langCookie) {
      gotoLocation(langCookie)
    } else {
      let notShowModal =
        (langCode === 'de' && locale === 'de') ||
        (langCode === 'fr' && locale === 'fr') ||
        (langCode !== 'de' && langCode !== 'fr' && locale === 'en');

      let recommendCode = langmap[langCode]?.code || 'en';
      let recommendVal = langmap[langCode]?.value || 'English';
      document.querySelector('#curentLang').setAttribute('data_code', recommendCode);
      document.querySelector('#curentLang').innerText = recommendVal;

      if (!notShowModal && !window.__SHOPIFY_CLI_ENV__) {
        document.querySelector('#selectLangModal').classList.add('open');
      } else {
        setTimeout(showMiniDialog, 5000, subscribeHtml)
      }
    }


    setTimeout(showLayerSide, 10000)
  };
  const updateLang = (el) => {
    let code = el.getAttribute('data-code');
    let val = el.getAttribute('data-value');

    document.querySelector('#curentLang').setAttribute('data_code', code);
    document.querySelector('#curentLang').innerText = val;
  };

  const setLangOpen = () => {
    if (document.querySelector('.selectContainer').classList.value.indexOf('open') !== -1) {
      document.querySelector('.selectContainer').classList.remove('open');
    } else {
      document.querySelector('.selectContainer').classList.add('open');
    }
  };

  const goToPage = isClose => {
    let currCode = document.querySelector('#curentLang').getAttribute('data_code');

    document.querySelector('#selectLangModal').classList.remove('open');

    setTimeout(showMiniDialog, 5000, subscribeHtml)
    // 如果是单纯的关闭，直接退出去
    if (isClose) {
      return setTimeout(showMiniDialog, 5000, subscribeHtml)
    }

    var d = new Date();
    d.setTime(d.getTime() + 3 * 24 * 60 * 60 * 1000); // 3天后到期
    var expires = d.toGMTString();
    {% comment %} delCookie('selectLang');

    setTimeout(() => {
      document.cookie = `selectLang=${currCode};expires=${expires};path=/`;
    }, 300); {% endcomment %}

    storage.set('selectLang', currCode)
    
    
    gotoLocation(currCode)

    setTimeout(showMiniDialog, 10000, subscribeHtml)

    console.log('currCode', currCode);
  };

  function getCookie(cname) {
    var name = cname + '=';
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i].trim();
      if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
    }
    return '';
  }

  function delCookie(name) {
    var exp = new Date();
    exp.setTime(exp.getTime() - 1);
    var cval = getCookie(name);
    if (cval != null) {
      document.cookie = name + '=' + cval + ';expires=Thu, 01 Jan 1970 00:00:00 UTC;path=/;';
    }
  }


  function hideLayerSide() {
    sessionStorage.setItem('jobradMessage', 'jobradMessage')

    $(".message-box").animate({}, 300, function () {
      //第一个花括号里面是动画内容，可以为空，但不能省去中括号
      $(".message-box").css({ "right": "-367px" }); //在回调函数里面改变css属性来实现transform中的动画变换
    })

    $(".message-box-mobile").animate({}, 300, function () {
      //第一个花括号里面是动画内容，可以为空，但不能省去中括号
      $(".message-box-mobile").css({ "bottom": "-180px" }); //在回调函数里面改变css属性来实现transform中的动画变换
    })
  }
  //展示div
  function showLayerSide() {

    if (sessionStorage.getItem('jobradMessage')) {
      return
    }


    $(".message-box").animate({}, 300, function () {
      //第一个花括号里面是动画内容，可以为空，但不能省去中括号
      $(".message-box").css({ "right": "18px" }); //在回调函数里面改变css属性来实现transform中的动画变换
    })

    $(".message-box-mobile").animate({}, 300, function () {
      //第一个花括号里面是动画内容，可以为空，但不能省去中括号
      $(".message-box-mobile").css({ "bottom": "0" }); //在回调函数里面改变css属性来实现transform中的动画变换
    })
  }


  function showMiniDialog(html = '') {
    if (storage.get('emailDialogHideDay')) {
      return
    }
 
    $('body .mini-dialog').remove()
    setTimeout(() => {
      $("body").append(`<div class="mini-dialog" style="display: flex;">${html}</div>`)

      {% comment %} setTimeout(() => {
        $('body .mini-dialog > div').on('click', e => {
          e.stopPropagation();
          return false;
        })
      }, 100) {% endcomment %}


      setTimeout(() => {
          $('.subscribe-container form').on("submit", function (event) {
            const email = $('.subscribe-container form input[type="email"]').val()
            console.log('email', email)

          const formData = new FormData()
          formData.append('form_type', 'customer')
          formData.append('contact[tags]', 'newsletter')
          formData.append('contact[email]', email)
          formData.append('commit', '')

          console.log('formData', formData)



          fetch("/contact", {
              method: "POST",
              headers: {
                "Content-Type": "application/x-www-form-urlencoded",
              },
              body: formData
          })

          closeMiniDialog(3)

        
            event.preventDefault();
            return false;
        })
      }, 1000)
    })
  }

  function closeMiniDialog(day = 14) {
    // console.log(a === document.querySelector('body .mini-dialog'))
    $('body .mini-dialog').remove()


    storage.set('emailDialogHideDay', 'emailDialogHideDay', day)
  }

</script>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
