<article>
  <header style="--background-image-pc: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/image_b4ba2d8d-4613-4632-870e-deac6d227c00.png?v=1723791717');">
    <div class="background-blur"></div>
    <section class="flex flex-center flex-column text-center height-600 mb-height-420">
      <h1 class="color-white mb-font-size-24">Urtopia in Spanien: Spaß, Fahrräder und Massenandrang!</h1>
    </section>
  </header>
  <section class="margin-top-60 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <p class="margin-bottom-40">
      <span>
        Urtopia hat sich kürzlich mit lokalen Händlern zusammengetan, um zwei aufregende Testfahrten in Spanien zu veranstalten. Als Veranstaltungsorte wurden Vialia und CiCLOSFERIA gewählt. Dies waren unsere allerersten Veranstaltungen in Spanien, und sie erwiesen sich als unglaubliche Erlebnisse!
      </span>
    </p>
  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h2 class="font-size-28 margin-bottom-40 mb-font-size-20 mb-margin-bottom-28">
      Probefahrt in CiCLOSFERIA
    </h2>
    <p class="margin-bottom-40">
      <span>
        Wenn Sie auf der Suche nach ultimativer Radsportveranstaltung in Spanien sind, dann sind Sie bei der CiCLOSFERIA genau richtig. Diese Stadtrad- und Touring-Messe ist ein Muss für alle Radfahrer.
      </span>
    </p>

    <div class="grid-box grid-columns-2 grid-column-gap-16 margin-bottom-40">
      <img
        alt=""
        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/image_b4ba2d8d-4613-4632-870e-deac6d227c00.png?v=1723791717"
        class="fade"
      >
      <img
        style="height: 100%; object-fit: cover;"
        alt=""
        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/2024-08-15_17.00.26.png?v=1723792392"
        class="fade"
      >
    </div>
    <p class="margin-bottom-40">
      <span>
        Während der zweitägigen Veranstaltung kamen 11.500 Besucher. Ein großer Teil dieser Besucher kam zu unserem Stand, um alle E-Bikes von Urtopia zu sehen und detaillierte Informationen über sie zu erhalten. Rund 100 Fachleute - Inhaber von Fahrradgeschäften, Fahrradverleiher und Behörden - informierten sich über die E-Bikes, ihre technischen Daten und Vorteile. Etwa 100 Personen konnten die Räder auf einem abgesperrten Parcours auf der Messe selbst testen und die Modelle Fusion, Carbon oder Chord ausprobieren. Über 500 Flyer mit detaillierten Informationen zu unserem E-Bike-Angebot wurden verteilt. Das Urtopia erregte durch sein schlankes Design und seine intelligenten Funktionen viel Aufmerksamkeit. Als wir die Urtopia-Mitarbeiter vor Ort fragten, wie sie sich gefühlt haben, gaben sie zu, dass es anstrengend, aber auch unglaublich lohnend war. Einer von ihnen meinte scherzhaft: "Das waren vielleicht die zwei arbeitsreichsten Tage meines Jahres, haha!
      </span>
    </p>
    <div class="grid-box grid-columns-2 grid-column-gap-16 margin-bottom-16">
      <img
        alt=""
        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/2024-08-15_16.59.22.png?v=1723793160"
        class="fade"
      >
      <img
        style="height: 100%; object-fit: cover;"
        alt=""
        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/2024-08-15_16.59.33.png?v=1723793160"
        class="fade"
      >
    </div>
    <div class="grid-box grid-columns-2 grid-column-gap-16 margin-bottom-40">
      <img
        alt=""
        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/2024-08-15_16.59.40.png?v=1723793161"
        class="fade"
      >
      <img
        style="height: 100%; object-fit: cover;"
        alt=""
        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/2024-08-15_16.58.56.png?v=1723793160"
        class="fade"
      >
    </div>
  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h2 class="font-size-28 margin-bottom-40 mb-font-size-20 mb-margin-bottom-28">
      Probefahrt in Vialia
    </h2>
    <p class="margin-bottom-40">
      <span>
        Vialia, das beliebteste Einkaufszentrum der 300.000 Einwohner zählenden Stadt Vigo, war der ideale Ort für die Präsentation der Urtopia-Flaggschiffe: Carbon 1, Carbon 1 Pro, Chord und Fusion. Wir wollten so vielen Menschen wie möglich das volle Urtopia-Fahrgefühl vermitteln.
      </span>
    </p>
    <div class="grid-box grid-columns-2 grid-column-gap-16 margin-bottom-40">
      <img
        alt=""
        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/2024-08-15_16.57.56.png?v=1723793295"
        class="fade"
      >
      <img
        alt=""
        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/2024-08-15_16.57.45.png?v=1723793295"
        class="fade"
      >
    </div>
    <p class="margin-bottom-40">
      <span>
        Es war unsere erste Veranstaltung in Spanien und sie dauerte zwei Tage. Die Resonanz war fantastisch - schauen Sie sich nur die Zahlen an! An den beiden Tagen haben rund 35.000 Menschen das Einkaufszentrum durchquert, und etwa 15 % davon haben im Urtopia-Shop Halt gemacht, um sich unsere verschiedenen Fahrradmodelle anzuschauen, sich über ihre Funktionsweise zu informieren und einige haben sogar eine Probefahrt gemacht. Wir haben mehr als 300 Flyer mit Informationen über alle unsere E-Bike-Modelle verteilt. Diese hervorragenden Zahlen geben uns großes Vertrauen in den spanischen Markt.
      </span>
    </p>
    <div class="grid-box grid-columns-2 grid-column-gap-16 margin-bottom-40">
      <img
      style="height: 100%; object-fit: cover;"
        alt=""
        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/2024-08-15_16.57.29.png?v=1723793386"
        class="fade"
      >
      <img
        alt=""
        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/2024-08-15_16.57.38.png?v=1723793386"
        class="fade"
      >
    </div>
  </section>
  <section class="margin-top-80 margin-bottom-80 max-width-720 mb-margin-top-60 mb-margin-bottom-60">
    <h2 class="font-size-28 margin-bottom-40 mb-font-size-20 mb-margin-bottom-28">Eine große Zukunft in Spanien</h2>
    <p class="margin-bottom-40">
      <span>
        Diese zwei Urtopia-Veranstaltungen waren eine unglaubliche Erfahrung! Unsere ersten Veranstaltungen in Spanien haben uns so viele positive Überraschungen gebracht. Freuen uns schon auf die Nächste in diesem wunderschönen Land!
      </span>
    </p>
    <div class="flex flex-center margin-top-40 margin-bottom-60">
      <a href="/products/urtopia-carbon-1-pro-ebike" class="my-button my-button-origin" target="_blank">Order Now</a>
    </div>
  </section>
</article>
