{{ 'fusion-new.scss.css' | asset_url | stylesheet_tag: preload: true }}

<div class="weight">
        <div class="centeral-content">
            <h3 class="u48Medium_v2">More Carbon.<br>Less Weight.</h3>
            <p class="u17Light_v2">
                <span>
                    The carbon fiber contributes to the unique curved design and smooth finish, offering lightweight yet
                    sturdy construction. Resilient to impact and corrosion, the carbon frame ensures durability and
                    long-lasting performance for all your riding needs.
                </span>
            </p>
            <ul class="u24Medium_v2">
                <li>Super Lightweight e-SUV</li>
                <li>Racecar-grade carbon fiber</li>
            </ul>
        </div>
    </div>
    <div class="weight embrace">
        <div class="centeral-content">
            <h3 class="u48Medium_v2">Embrace Extended<br>Adventures</h3>
            <p class="u17Light_v2">
                <span>
                    Confidently embark on long-distance journeys with Fusion’s extensive range up to 240 km (Dual
                    Battery) and dependable hydraulic disc brakes for superior all-weather control during extended
                    rides.
                </span>
            </p>
            <ul class="u24Medium_v2">
                <li>240 km all-day range</li>
                <li>Dual battery system (≈ 900 Wh)</li>
            </ul>
        </div>
    </div>
    <div class="weight effortless">
        <video playsinline loop autoplay muted
            src="https://cdn.shopify.com/videos/c/o/v/175129e6e147428d9ec73c981c392cc1.mp4"></video>
        <div class="centeral-content">
            <h3 class="u48Medium_v2">Effortless <br>Terrain Mastery</h3>
            <p class="u17Light_v2">
                <span>
                    With a robust 80Nm middle motor and wide range gears, the Fusion tackles hills and trails with ease.
                    Power output for each assist level can be adjusted via the app, allowing the ride to be tailored for
                    either powerful climbs or energy-efficient long rides.
                </span>
            </p>
            <ul class="u24Medium_v2">
                <li>80 Nm Torque</li>
                <li>Tunable mid-drive motor</li>
            </ul>
        </div>
    </div>
    <div class="quality">
        <div class="centeral-content">
            <h3 class="u36Medium_v2">Quality in details</h3>
            <div class="items swiper-wrapper">
                <div class="swiper-slide">
                    <img class="lozad"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x_9d52b9f4-7cc4-49e2-923f-dc01f9aac0c8.jpg?v=1726036978"
                        alt="">
                    <span class="u20Medium_v2">Innovative Carbon Step-thru</span>
                    <span class="u14Light_v2">The Fusion eBike features a lightweight T1000 carbon fiber frame,
                        engineered for optimal rigidity and strength. The deep step-through design ensures easy access
                        and a comfortable ride for all ages and abilities.</span>
                </div>
                <div class="swiper-slide">
                    <img class="lozad"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x_8b96cc63-43dd-4a11-abbb-45a05b9d9cec.jpg?v=1726036984"
                        alt="">
                    <span class="u20Medium_v2">Unique Dual Battery System</span>
                    <span class="u14Light_v2">Featuring an innovative dual battery system with a 900 Wh battery for up
                        to 240 km. This distinctive setup delivers outstanding range and flexibility, redefining
                        long-distance riding.</span>
                </div>
                <div class="swiper-slide">
                    <img class="lozad"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x_7ed4132d-ca8f-467f-86af-770c03156f18.jpg?v=17260369937"
                        alt="">
                    <span class="u20Medium_v2">Customizable Mid-Drive Power</span>
                    <span class="u14Light_v2">Equipped with an 80Nm Bafang mid-drive motor for effortless climbing, the
                        Fusion also features customizable assist settings, allowing adjustment of power levels for
                        different terrains. This integration ensures a highly personalized riding experience.</span>
                </div>
                <div class="swiper-slide">
                    <img class="lozad"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/aaaaa_2x_1ad23026-ee58-4236-b0b5-7e82744cedb9.jpg?v=1726036999"
                        alt="">
                    <span class="u20Medium_v2">Comfort-Oriented e-SUV</span>
                    <span class="u14Light_v2">The ergonomic geometry provides an upright riding position to reduce long
                        ride strain. With adjustable handlebar (up to 30 mm) and a 100 mm SUNTOUR front suspension fork,
                        riders experience enhanced comfort and smoother rides over various terrains.</span>
                </div>
                <div class="swiper-slide">
                    <img class="lozad"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x_f1357b56-bd4c-4fb1-84ce-001972da707a.jpg?v=1726037005"
                        alt="">
                    <span class="u20Medium_v2">SmartBar with GPS & 4G</span>
                    <span class="u14Light_v2">The SmartBar features built-in 4G connectivity and a GPS module, offering
                        advanced theft tracking and real-time navigation. This technology offers confident navigation
                        and enhanced security, keeping the bike protected and traceable.</span>
                </div>
                <div class="swiper-slide">
                    <img class="lozad"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x_5f9f0074-41ae-48f6-aa9f-521ed5db5007.jpg?v=1726037011"
                        alt="">
                    <span class="u20Medium_v2">Robust MIK Rear Rack</span>
                    <span class="u14Light_v2">The MIK rear rack supports up to 27 kg, allowing easy attachment and
                        secure transport of various cargo. This versatile system enhances practicality, making it ideal
                        for daily commutes and extended trips.</span>
                </div>
                <div class="swiper-slide">
                    <img class="lozad"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/10_2x_fac588a2-744b-49bd-9920-623eacf697b2.jpg?v=1726037016"
                        alt="">
                    <span class="u20Medium_v2">4 Modes x 10 Gears Transmission</span>
                    <span class="u14Light_v2">The Fusion eBike features a SHIMANO CUES 10-speed transmission and a
                        4-level electric assist system, enhanced by a precise torque sensor. This integration ensures
                        smooth acceleration across all gears.</span>
                </div>
                <div class="swiper-slide">
                    <img class="lozad"
                        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/sssa_2x_046237b8-176a-425a-b288-d0c35632d30c.jpg?v=1726037021"
                        alt="">
                    <span class="u20Medium_v2">Comfort and Safety Tires</span>
                    <span class="u14Light_v2">Schwalbe Big Apple tires (28x2.15) offers excellent comfort and low
                        rolling resistance for a smooth ride on city and trekking surfaces. With puncture protection
                        layer guarding against flats and reflective stripes ensuring high visibility, these wide tires
                        offer durability, safety, and comfort.</span>
                </div>
            </div>
            <div class="swiper-scrollbar"></div>
            <div class="buttons mobileHide">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    <div class="boxs">
        <div class="centeral-content">
            <img class="lozad"
                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2x_4c0fe3dc-fb65-4a01-9431-432ad5a9cad1.jpg?v=1726040487&width=800"
                alt="">
            <div>
                <h2 class="u30Medium_v2">Enjoy Easy <br>Entry Comfort</h2>
                <p class="u17Light_v2">
                    <span>The deep step-through frame ensures easy access and a comfortable riding experience. With an adjustable stem and SR Suntour suspension fork, Fusion offers an upright riding position and smooth handling.</span>
                </p>
                <ul class="u24Medium_v2">
                    <li>Low step-through</li>
                    <li>Suspension fork (100 mm travel)</li>
                </ul>
            </div>
            <div>
                <h2 class="u30Medium_v2">Charge up anytime,<br>anywhere</h2>
                <p class="u17Light_v2">
                    <span>The removable battery is cleverly concealed within the downtube of the bike, blending seamlessly with the frame color design. You can’t even tell its an ebike at first sight.</span>
                </p>
                <ul class="u24Medium_v2">
                    <li>Large Capacity (540 Wh)</li>
                    <li>Seamlessly Integrated</li>
                </ul>
            </div>
            <img class="lozad"
                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/24595_2x_40014722-0f0a-4ad4-9a59-776c74fdb8d5.jpg?v=1726040492&width=800"
                alt="">
        </div>
    </div>


    <script>
      new Swiper('.quality .centeral-content', {
        slidesPerView: global_config.is_mobile ? 1.25 : 3,
        spaceBetween: global_config.is_mobile ? 16 : 32,
        navigation: {
            nextEl: '.quality .centeral-content .swiper-button-next',
            prevEl: '.quality .centeral-content .swiper-button-prev',
        },
        scrollbar: {
            el: '.quality .centeral-content .swiper-scrollbar',
            draggable: true
        },
    });
    </script>