{{ 'blog.scss.css' | asset_url | stylesheet_tag: preload: true }}

<article>
  <header style="--background-image-pc: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/image_cac49c3b-5f53-41f6-b070-a917a3abb760.png?v=1697543466');">
    <div class="background-blur"></div>
    <section class="flex flex-center flex-column text-center height-600 mb-height-420">
      <h1 class="color-white mb-font-size-24">An Ambassador Story</h1>
      <h2 class="color-light-gray font-size-24 margin-top-32 mb-font-size-16">Arsalan Minhas</h2>
    </section>
  </header>
  <section class="margin-top-60 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <p>
      If I had to describe Arsalan, a Pakistani born and raised entrepreneur, in three words, it would be that he is
      adventurous, curious and articulate. First, Arsalan is adventurous because he loves to travel the world,
      experience new cultures and learn about all walks of life. Second, he is curious because he loves to read and
      learn about anything that interests him. Finally, he is articulate because he is a talented speaker. During our
      interview, I was amazed at how well he expressed his feelings, thoughts, and beliefs. So it made sense when he
      told me that he regularly gives keynote speeches for his day job at Hyland Software. I was grateful to experience
      this firsthand at the Hyland Summit in Düsseldorf, where Arsalan spoke about digital transformation and how AI is
      having its iPhone moment thanks to tools like Chat GPT. I must say that I enjoyed his keynote presentation with
      the important facts mentioned about the usefulness of AI and his amusing comedy sketch that eloquently conveyed
      the message.
    </p>
    <img
      alt="Urtopia e-bike let you keep fit"
      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/output_8ec3052a-b5aa-48da-9249-04c244374f5a.jpg?v=1698921518"
      class="margin-top-60 mb-margin-top-40 fade"
    >
  </section>
  <section class="margin-top-60 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <p>
      This incredible entrepreneur is deeply passionate about making a positive difference in the lives of
      underprivileged people and children. This is what truly brings him joy and gives him a clear purpose for getting
      up in the morning. In addition to his 9 to 5 job as a sales engineer at Hyland Software, where he gets to travel
      the world thanks to their annual summits where he routinely delivers keynote speeches, Arsalan also has his own
      startup. His startup, Digital Munich GmbH, focuses on tech trends such as AI, augmented reality and IoT. These
      so-called tech trends serve what the startup truly believes in and wants to do at its core, which is to positively
      impact the lives of poor people and underprivileged children in third world countries. The main reason for the
      creation of the startup is the will to give back to people in need and change their lives for the better. It is
      not about making money. For example, the company achieves this objective by promoting tourism in a third world
      country like Pakistan by developing augmented reality and virtual reality applications in which the user wears
      glasses. This allows the user to have an immersive 3D experience of Pakistan's great mountains and other fantastic
      tourist attractions. Another way the company helps the community is by supporting schools that educate
      underprivileged children. With proper time management, which Arsalan has mastered, he is able to not only grow in
      his day-to-day job as a sales engineer, but also make a positive difference in the world through his startup,
      which is very close to his heart.
    </p>
    <div class="grid-box grid-columns-2  mb-grid-columns-1 mb-grid-row-gap-20 grid-column-gap-20  margin-top-60 mb-margin-top-40">
      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/output_1.jpg?v=1698921763" class="fade" alt="">
      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1280X1280.jpg?v=1698921766" class="fade" alt="">
    </div>
  </section>
  <section class="margin-top-60 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <h6 class="margin-bottom-24 mb-font-size-20">It was love at first sight with Urtopia</h6>
    <p>
      Arsalan, who usually ignores online ads takes time to fully commit before buying a significant purchase, but when
      it came to the Urtopia e-bike, for the first time in his life it was a different story. He utterly fell in love
      with the Carbon 1 after clicking on a Facebook ad. It was love at first sight at its finest. The unique style and
      look of the e-bike compelled him to purchase not only one, but two Carbon 1 e-bikes directly! He bought one e-bike
      for his family and one for himself. Nowadays, he uses his Carbon 1 to recharge his batteries by going on exciting
      and beautiful rides in nature for his own relaxation and pleasure.
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/output_2.jpg?v=1698922834"
      class="margin-top-60 mb-margin-top-40 fade"
      alt=""
    >
  </section>
  <section class="margin-top-60 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <h6 class="margin-bottom-24 mb-font-size-20">Becoming an Urtopia brand ambassador</h6>
    <p>
      Arsalan became an Urtopia brand ambassador to infect other bike aficionados about the transformative experience of
      riding the Carbon 1 e-bike. As an avid cyclist himself, Arsalan recognized the exceptional quality and unique
      design of Urtopia's e-bikes, and he couldn't help but share his enthusiasm with others.<br>
      <br>
      Through his ambassadorship, Arsalan aims to inspire others to embrace a more sustainable and thrilling mode of
      transportation while exploring the beauty of nature. He believes that the Carbon 1 e-bike not only offers a
      thrilling riding experience but also contributes to preserving the environment by reducing carbon emissions. By
      infecting other bike enthusiasts with his love for Urtopia, Arsalan hopes to create a community of like-minded
      individuals who share his vision for a greener and more adventurous future. <br>
      <br>
      As an Urtopia brand ambassador, Arsalan actively engages with his audience, sharing his personal stories and
      experiences with the e-bike. If you have any questions or concerns about this remarkable e-bike, rest assured that
      Arsalan will patiently address them with his firsthand knowledge and expertise.
    </p>
    <img
      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/output.png?v=1698923020"
      class="margin-top-60 mb-margin-top-40 fade"
      alt=""
    >
  </section>
  <section class="margin-top-60 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <h6 class="margin-bottom-24 mb-font-size-20">Adventure sports enthusiast</h6>
    <p>
      Skydiving? Walking with lions? Flying? Yes, yes, and yes for Arsalan. Arsalan doesn't like it when outdoor
      activities get boring or normal. He prefers getting out of his comfort zone and expanding his horizons. What
      better way to do that then skydive, walk with lions, and fly airplanes? By constantly seeking out these thrilling
      experiences, Arsalan challenges himself to grow as an individual. He believes that true personal growth lies
      outside of one's comfort zone. Stepping into unfamiliar territory allows him to confront his weaknesses head-on
      and develop resilience in the face of adversity. Arsalan knows that life is too short to be lived in monotony. By
      embracing the extraordinary and seeking out thrilling adventures, he continues to push his own boundaries, defy
      his fears, and ultimately become the best version of himself. And with every new experience, he welcomes the
      opportunity to learn, evolve, and discover just how far he can go.
    </p>
    <div class="grid-box grid-columns-2 grid-column-gap-20 grid-row-gap-20 margin-top-60 mb-margin-top-40 mb-grid-columns-1 mb-grid-row-gap-20">
      <img
        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/6d845d06-94e0-4d79-9688-0a7384226113.jpg?v=1698923133"
        class="fade"
        alt=""
      >
      <img
        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/d9b1c13a-4a95-43ad-a74b-1a3efb1448bd.jpg?v=1698923133"
        class="fade"
        alt=""
      >
      <img
        src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/194e696d-478b-4eff-8019-4aab7ad5a08f.jpg?v=1698923133"
        class="fade"
        alt=""
      >
      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1280X1280_1.jpg?v=1698923133" class="fade" alt="">
    </div>
  </section>
  <section class="margin-top-60 margin-bottom-60 max-width-720 mb-margin-top-40 mb-margin-bottom-40">
    <h6 class="margin-bottom-24 mb-font-size-20">From dreamer to achiever</h6>
    <p>
      After completing his Bachelor's Degree in Computer Engineering in Pakistan, he moved to Germany with the intention
      of staying for only a few years. However, Germany ended up becoming his permanent home. Despite coming from humble
      beginnings, he has managed to lead a fulfilling life. Rather than letting his background hold him back, it has
      motivated him to grow and succeed.
    </p>
    <br>
    <br>
    <p>
      As someone who started as a dreamer and has become an achiever, I was curious to learn about three pieces of
      advice that have helped him in his personal life, as well as what advice he would offer others. Arsalan shared,
      "First, it's important to have a big dream, but it's even more crucial to have an actionable plan with specific
      goals. Second, wholeheartedly committing yourself to that plan is what will truly turn your dreams into reality.
      Lastly, Arsalan stresses the importance of investing in oneself. Whether it's through education, health, or
      fitness, investing in yourself is paramount. After all, if you don't invest in yourself, who will?"
      <div class="margin-top-40"></div>
      <i class="font-weight-700" style="color: #555;">It's important to have a big dream, but it's even more crucial to have an actionable plan with specific goals.
        <br>
        <br>
        -Arsanal Minhas</i>
    </p>

    <img
      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/70b9a92d-7b89-4a41-ac19-c01dd3e09738.jpg?v=1698923293"
      class="margin-top-60 margin-bottom-60 mb-margin-bottom-60 mb-margin-top-40 fade"
      alt=""
    >
    <p>
      To conclude, Arsalan Minhas stands as an exemplary ambassador who embodies the spirit of adventure, intellectual
      curiosity, and the determination to make a positive impact on the world. His entrepreneurial ventures, dedication
      to personal growth, and commitment to helping others serve as an inspiration for individuals aspiring to make a
      difference in their own lives and in society at large.
    </p>
  </section>
</article>
