<link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/laydatev3.css">
{{ 'testride.scss.css' | asset_url | stylesheet_tag }}

<div class="testride">
    <div class="banner">
        <div class="centeral-content">
            <div class="u48DemiBold_v2">Your first hand on Urtopia</div>
            <div class="u17Medium_v2">Take your first step in to experience the stunning appearance and smooth riding.
                Book
                a test ride today with our partners and ambassadors! Their extensive expertise and enthusiasm will help
                you
                out with any questions in and out.</div>
        </div>
    </div>
    <div class="map">
        <div class="centeral-content">
            <div class="u36DemiBold_v2">Choose your location</div>
            <div id="storepoint-container" data-tags="de,Test Ride" data-map-id="162f21804990ff"></div>
        </div>
    </div>
    <div class="explained">
        <div class="centeral-content">
            <div class="u36DemiBold_v2">Test ride <br>options explained</div>
            <div class="item">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/IMG_0884_2x_8bbd4ebe-02ed-45b5-9d98-34d41a1c9a9f.jpg?v=1680586879"
                    alt="">
                <div class="title">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/shop_2x_21db8206-c4af-4fe9-98e5-a23ed770e4e8.png?v=1680587063"
                        alt="">
                    <span class="u20DemiBold_v2">Partner Store</span>
                </div>
                <div class="u17Light_v2">There you can view and test ride our e-bike models, get in-person advice from
                    our e-bike experts.
                    We even have in-stock models ready for immediate purchase.</div>
            </div>
            <div class="item">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221005-untitled-9056_2x_1a6940cb-42b6-4047-9c86-b70dda745f36.jpg?v=1680587516"
                    alt="">
                <div class="title">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/user_2x_1ee32fa1-d94b-4eda-be5e-deb33536a73b.png?v=1680587584"
                        alt="">
                    <span class="u20DemiBold_v2">Ambassadors</span>
                </div>
                <div class="u17Light_v2">Ambassadors are Urtopia representatives who are passionate about our e-bikes.
                    While an ambassador may not have every model on hand they are there to meet you to show you the ins
                    and outs of our bikes. They offer real insight into the benefits of being a daily e-bike user.</div>
            </div>
        </div>
    </div>
    <div class="howto">
        <div class="centeral-content">
            <div class="u36DemiBold_v2">How to Test Ride</div>
            <div class="items">
                <div class="item">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/booking-2_2x_9223282e-c6ac-4785-87d7-f8fa9bdeb492.png?v=1680588590"
                        alt="">
                    <span class="u20DemiBold_v2">Book It</span>
                    <span class="u17Light_v2">Choose a location and pick the date, you will receive an email to welcome
                        and confirm.</span>
                </div>
                <div class="item">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/users_2x_2becf589-29a4-4869-a3ec-a43f56f637f6.png?v=1680588585"
                        alt="">
                    <span class="u20DemiBold_v2">Meet us</span>
                    <span class="u17Light_v2">Bring nothing other than your curiosity. Meet our Local experts in your
                        city.</span>
                </div>
                <div class="item">
                    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/bike_2x_b310fe93-d3f0-4623-9ffd-91265fb9abf2.png?v=1680588485"
                        alt="">
                    <span class="u20DemiBold_v2">Ride it out</span>
                    <span class="u17Light_v2">Scan the QR code at store to login. Unlock the bike and all the
                        fun.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="whatto">
        <div class="centeral-content">
            <div class="u36DemiBold_v2">What to experience</div>
            <div class="u17Light_v2">From the effortless power of the electric motor to the comfortable and stylish
                design, experience the thrill for yourself by booking a test ride today!</div>
            <div class="videos">
                <div>
                    <video muted playsinline autoplay loop
                        src="https://player.vimeo.com/progressive_redirect/playback/814462353/rendition/1080p/file.mp4?loc=external&signature=11383a8e982e4f086f6b10b252f533c2841151e1cf6f9f5feeefaf79431cd15c"></video>
                </div>
                <div>
                    <span class="u20DemiBold_v2 mobileHide">Full Carbon Fiber <br> Weight only 15 kg</span>
                    <span class="u20DemiBold_v2 pcHide">Full Carbon Fiber <br> Weight only 15 kg</span>
                    <span class="u20DemiBold_v2">Try the advantage <br> of a lightweight e-bike</span>
                    <video muted playsinline autoplay loop
                        src="https://player.vimeo.com/progressive_redirect/playback/814462300/rendition/1080p/file.mp4?loc=external&signature=35b1c5e5b7c43b3e18e042ebe5593b25890c8d8af27c31f0cb73ca5dd9483dd7"></video>
                    <span class="u20DemiBold_v2">The riding experience <br> will not let you down</span>
                </div>
            </div>
        </div>
    </div>
    <div class="smart">
        <div class="centeral-content">
            <div>
                <span class="u20DemiBold_v2">Smart</span>
                <span class="u36DemiBold_v2">Elevate<br class="mobileHide"> Your Ride</span>
                <span class="u17Light_v2">Explore with a customized smart partner: talk, navigate, and never lose track
                    of the bike.</span>
                <a class="my-button my-button-black">Book a free test ride</a>
            </div>
            <img class="pcHide"
                src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20473_2x_ec77d911-5440-468e-a1c9-9b50497550e5.jpg?v=1680597546"
                alt="">
            <div class="mobileHide">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20834_2x_e92f1711-9e53-401b-a684-f9d6babe870b.png?v=1680595868"
                    alt="">
                <div></div>
            </div>
        </div>
    </div>
    <div class="notin">
        <div style="background-color: rgba(0, 0, 0, 0.65);flex: 1;">
            <div class="centeral-content">
                <span class="u36DemiBold_v2">Not in your city?</span>
                <span class="u17Light_v2">We got you covered, contact us for more test ride opportunity, or just visit
                    one of our partner store to test ride.</span>
                <div class="buttons">
                    <a class="my-button" href="">Contact us</a>
                    <a class="my-button" href="">Find a dealer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="faqs">
        <div class="centeral-content">
            <div class="faq">
                <div class="titlee">Test-ride FAQs</div>
                <div class="swiper swiper-no-swiping faq-list">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="urtopia-calendar"></div>
</div>

<script>
    const getNowDate = (v = +new Date()) => new Date(+new Date(v) + (8 * 60 * 60 * 1000)).toISOString().split('T').shift()
    const findOffset = ([nowWeek, vailableWeek]) => {
                    if (nowWeek === vailableWeek) {
                      return 0
                    }
    
                    return vailableWeek > nowWeek ? vailableWeek - nowWeek : 7 - (nowWeek - vailableWeek)
                  }
    
    const oneDay = 24 * 60 * 60 * 1000
    
    const findStore = name => {
            for (const city of testRides) {
                for (const store of city.stores) {
                  const businessHours = store.businessHours
                  const disableDate = store.disableDate || []
                  // 查找可预约到星期几
                  const findAvailableWeek = d => businessHours[d] ? d : findAvailableWeek(d === 6 ? 0 : ++d)
                  // 可用日期计算
                  const findAvalibaleDate = date => {
                      const str = getNowDate(date)
                      const timestamp = +new Date(str)
                      const currentWeek = new Date(str).getDay()
                      const AvailableWeek = findAvailableWeek(currentWeek)
    
                      const findDisable = disableDate.find(i => getNowDate(i) === str)
    
                      if (findDisable) {
                        // console.log(str, timestamp, find, getNowDate(find))
                        return findAvalibaleDate(timestamp + oneDay)
                      }
    
                      return currentWeek === AvailableWeek ? str : findAvalibaleDate(timestamp + (oneDay * findOffset([currentWeek, AvailableWeek])))
                  }
    
                  store.findAvalibaleDate = () => {
                    const time = new Date(findAvalibaleDate(new Date())).toString().split(' ')
    
                    return `${time[2]}. ${time[1]}`
                  }
    
                    if (store.name.replace(/ /g, '') === name.replace(/ /g, '')) {
                        return store
                    }
                }
            }
        }
    
      function CalendarOpen(shopPoint, shop, isSpecDay = false, timetp = 0) {
        console.log(arguments)
    
        laydate.render({
          elem: '#urtopia-calendar',
          lang: 'en',
          min: 0,
          max: 90,
          showBottom: false,
          position: "static",
          showSide: true,
          showInfoBottom: true,
          type: 'date',
          shopList: typeof shop === 'string' ? JSON.parse(shop.replace(/'/g, '"')) : shop,
          isSpecDay,
          TimePeriodization: timetp,
          //  shopInfo: shopInfo
        });
        let body = {
          trace_name: "testride-bookNow",
          extras: {
            "test1": shopPoint,
          }
        }
        fetch("https://api.newurtopia.com/third_part/book_ride/traces", {
          method: "POST",
          body: JSON.stringify(body),
          headers: {
            "Content-Type": "application/json",
          },
        })
      }
    
    
      function booknow (name) {
        const store = findStore(name)
    
        if (!store) {
          return
        }
    
        
        console.log(store)
    
        CalendarOpen(store.testrideSpot, { [store['phone']]: store })
      }
    </script>