{{ 'blog.scss.css' | asset_url | stylesheet_tag: preload: true }}


<article>
  <section class="margin-top-bottom-120">
    <h1 class="margin-bottom-48 color-orange font-size-88">Font</h1>
    <div class="grid-box grid-columns-2 grid-column-gap-24">
      <div class="flex flex-column">
        <h4 class="color-black height-80">font-size</h4>
        <p class="font-size-64 margin-bottom-12">64px</p>
        <p class="font-size-52 margin-bottom-12">52px</p>
        <p class="font-size-48 margin-bottom-12">48px</p>
        <p class="font-size-44 margin-bottom-12">44px</p>
        <p class="font-size-40 margin-bottom-12">40px</p>
        <p class="font-size-36 margin-bottom-12">36px</p>
        <p class="font-size-32 margin-bottom-12">32px</p>
        <p class="font-size-28 margin-bottom-12">28px</p>
        <p class="font-size-24 margin-bottom-12">24px</p>
        <p class="font-size-20 margin-bottom-12">20px</p>
        <p class="font-size-16 margin-bottom-12">16px</p>
      </div>
      <div class="flex flex-column">
        <h4 class="color-black height-80">font-weight</h4>
        <p class="font-size-64 font-weight-700 margin-bottom-12">weight-700</p>
        <p class="font-size-64 font-weight-600 margin-bottom-12">weight-600</p>
        <p class="font-size-64 font-weight-500 margin-bottom-12">weight-500</p>
        <p class="font-size-64 font-weight-400 margin-bottom-12">weight-400</p>
        <p class="font-size-64 font-weight-300 margin-bottom-12">weight-300</p>
        <p class="font-size-64 font-weight-200 margin-bottom-12">weight-200</p>
        <p class="font-size-64 font-weight-100 margin-bottom-12">weight-100</p>
      </div>

    </div>
    <h4 class="margin-top-bottom-20">Use:
    </h4>
    <div class="grid-box grid-columns-2 grid-column-gap-24">
      <table class="border-radius-10 padding-top-bottom-12">
        <thead class="font-size-24">
          <tr>
            <th>Class</th>
            <th>Properties</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>font-size-16</td>
            <td>font-size: 16px;</td>
          </tr>
          <tr>
            <td>font-size-20</td>
            <td>font-size: 20px;</td>
          </tr>
          <tr>
            <td>font-size-24</td>
            <td>font-size: 24px;</td>
          </tr>
          <tr>
            <td>font-size-28</td>
            <td>font-size: 28px;</td>
          </tr>
          <tr>
            <td>font-size-32</td>
            <td>font-size: 32px;</td>
          </tr>
          <tr>
            <td>font-size-36</td>
            <td>font-size: 36px;</td>
          </tr>
          <tr>
            <td>font-size-40</td>
            <td>font-size: 40px;</td>
          </tr>
          <tr>
            <td>font-size-44</td>
            <td>font-size: 44px;</td>
          </tr>
          <tr>
            <td>font-size-48</td>
            <td>font-size: 48px;</td>
          </tr>
          <tr>
            <td>font-size-54</td>
            <td>font-size: 54px;</td>
          </tr>
          <tr>
            <td>font-size-64</td>
            <td>font-size: 64px;</td>
          </tr>
        </tbody>
      </table>
      <table class="border-radius-10 padding-top-bottom-12">
        <thead class="font-size-24">
          <tr>
            <th>Class</th>
            <th>Properties</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>font-weight-700</td>
            <td>font-weight: 700;</td>
          </tr>
          <tr>
            <td>font-weight-600</td>
            <td>font-weight: 600;</td>
          </tr>
          <tr>
            <td>font-weight-500</td>
            <td>font-weight: 500;</td>
          </tr>
          <tr>
            <td>font-weight-400</td>
            <td>font-weight: 400;</td>
          </tr>
          <tr>
            <td>font-weight-300</td>
            <td>font-weight: 300;</td>
          </tr>
          <tr>
            <td>font-weight-200</td>
            <td>font-weight: 200;</td>
          </tr>
          <tr>
            <td>font-weight-100</td>
            <td>font-weight: 100;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="margin-top-bottom-120">
    <h1 class="margin-bottom-48 color-orange font-size-88">Color</h1>
    <div class="grid-box grid-columns-4 grid-column-gap-24">
      <div class="flex flex-column color-white">
        <h4 class="flex flex-center color-black height-120">black</h4>
        <div class="flex flex-center background-black height-80">#000000</div>
        <div class="flex flex-center background-black height-80 opacity-95">95%</div>
        <div class="flex flex-center background-black height-80 opacity-85">85%</div>
        <div class="flex flex-center background-black height-80 opacity-65">65%</div>
        <div class="flex flex-center background-black height-80 opacity-45">45%</div>
        <div class="flex flex-center background-black height-80 opacity-25">25%</div>
        <div class="flex flex-center background-black height-80 opacity-15">15%</div>
      </div>
      <div class="flex flex-column color-white">
        <h4 class="flex flex-center color-black height-120">orange</h4>
        <div class="flex flex-center background-orange height-80">#FD4B17</div>
        <div class="flex flex-center background-orange height-80 opacity-95">95%</div>
        <div class="flex flex-center background-orange height-80 opacity-85">85%</div>
        <div class="flex flex-center background-orange height-80 opacity-65">65%</div>
        <div class="flex flex-center background-orange height-80 opacity-45">45%</div>
        <div class="flex flex-center background-orange height-80 opacity-25">25%</div>
        <div class="flex flex-center background-orange height-80 opacity-15">15%</div>
      </div>
      <div class="flex flex-column color-white">
        <h4 class="flex flex-center color-black height-120">secondary</h4>
        <div class="flex flex-center background-secondary height-80">#191D3B</div>
        <div class="flex flex-center background-secondary height-80 opacity-95">95%</div>
        <div class="flex flex-center background-secondary height-80 opacity-85">85%</div>
        <div class="flex flex-center background-secondary height-80 opacity-65">65%</div>
        <div class="flex flex-center background-secondary height-80 opacity-45">45%</div>
        <div class="flex flex-center background-secondary height-80 opacity-25">25%</div>
        <div class="flex flex-center background-secondary height-80 opacity-15">15%</div>
      </div>
      <div class="flex flex-column color-white">
        <h4 class="flex flex-center color-black height-120">yellow</h4>
        <div class="flex flex-center background-yellow height-80">#FFDA12</div>
        <div class="flex flex-center background-yellow height-80 opacity-95">95%</div>
        <div class="flex flex-center background-yellow height-80 opacity-85">85%</div>
        <div class="flex flex-center background-yellow height-80 opacity-65">65%</div>
        <div class="flex flex-center background-yellow height-80 opacity-45">45%</div>
        <div class="flex flex-center background-yellow height-80 opacity-25">25%</div>
        <div class="flex flex-center background-yellow height-80 opacity-15">15%</div>
      </div>
    </div>
  </section>
  <section class="margin-top-bottom-120">
    <h1 class="margin-bottom-48 color-orange font-size-88">Margin</h1>
    <div class="flex flex-center background-secondary height-80 margin-top-8 color-white">6px</div>
    <div class="flex flex-center background-secondary height-80 margin-top-12 color-white">12px</div>
    <div class="flex flex-center background-secondary height-80 margin-top-20 color-white">20px</div>
    <div class="flex flex-center background-secondary height-80 margin-top-24 color-white">24px</div>
    <div class="flex flex-center background-secondary height-80 margin-top-28 color-white">28px</div>
    <div class="flex flex-center background-secondary height-80 margin-top-36 color-white">36px</div>
    <div class="flex flex-center background-secondary height-80 margin-top-44 color-white">44px</div>
    <div class="flex flex-center background-secondary height-80 margin-top-48 color-white">48px</div>
    <div class="flex flex-center background-secondary height-80 margin-top-60 color-white">60px</div>
    <div class="flex flex-center background-secondary height-80 margin-top-72 color-white">72px</div>
  </section>
  <section class="margin-top-bottom-120">
    <h1 class="margin-bottom-48 color-orange font-size-88">Padding</h1>
    <div class="flex flex-center background-secondary height-20 margin-top-12 padding-8 color-white">6px</div>
    <div class="flex flex-center background-secondary height-20 margin-top-12 padding-12 color-white">12px</div>
    <div class="flex flex-center background-secondary height-20 margin-top-12 padding-20 color-white">18px</div>
    <div class="flex flex-center background-secondary height-80 margin-top-12 padding-24 color-white">24px</div>
    <div class="flex flex-center background-secondary height-80 margin-top-12 padding-32 color-white">30px</div>
    <div class="flex flex-center background-secondary height-80 margin-top-12 padding-36 color-white">36px</div>
    <div class="flex flex-center background-secondary height-80 margin-top-12 padding-42 color-white">42px</div>
    <div class="flex flex-center background-secondary height-80 margin-top-12 padding-48 color-white">48px</div>
    <div class="flex flex-center background-secondary height-80 margin-top-12 padding-60 color-white">60px</div>
    <div class="flex flex-center background-secondary height-80 margin-top-12 padding-72 color-white">72px</div>
  </section>
  <section class="margin-top-bottom-120">
    <h1 class="margin-bottom-48 color-orange font-size-88">Box</h1>
    <div class="flex flex-align-center margin-bottom-24">
      <div class="flex flex-center background-secondary height-160 width-160 color-white margin-right-36 font-size-20">160 ✖ 160</div>
      <div class="flex flex-center background-secondary height-120 width-200 color-white margin-right-36 font-size-20">120 ✖ 200</div>
      <div class="flex flex-center background-secondary height-200 width-120 color-white margin-right-36 font-size-20">200 ✖ 120</div>
    </div>
    <div class="flex flex-align-center margin-bottom-24">
      <div class="flex flex-center background-secondary height-320 width-320 color-white margin-right-44 font-size-24">320 ✖ 320</div>
      <div class="flex flex-center background-secondary height-240 width-400 color-white margin-right-44 font-size-24">240 ✖ 400</div>
      <div class="flex flex-center background-secondary height-400 width-240 color-white margin-right-44 font-size-24">400 ✖ 240</div>
    </div>
    <div class="flex flex-align-center margin-bottom-24">
      <div class="flex flex-center background-secondary height-480 width-480 color-white margin-right-20 font-size-60">480 ✖ 480</div>
      <div class="flex flex-center background-secondary height-240 width-720 color-white margin-right-20 font-size-60">240 ✖ 720</div>
    </div>
    <div class="flex flex-center background-secondary height-600 width-600 color-white margin-bottom-12 font-size-84">600 ✖ 600</div>
  </section>
  <section class="margin-top-bottom-120">
    <h1 class="margin-bottom-48 color-orange font-size-88">Border-Radius</h1>
    <div class="flex flex-align-center">
      <div class="flex flex-center background-secondary height-160 width-160 color-white margin-right-36 font-size-20 border-radius-10">10px</div>
      <div class="flex flex-center background-secondary height-160 width-160 color-white margin-right-36 font-size-20 border-radius-20">20px</div>
      <div class="flex flex-center background-secondary height-160 width-160 color-white margin-right-36 font-size-20 border-radius-30">30px</div>
      <div class="flex flex-center background-secondary height-160 width-160 color-white margin-right-36 font-size-20 border-radius-40">40px</div>
      <div class="flex flex-center background-secondary height-160 width-160 color-white margin-right-36 font-size-20 border-radius-50">50px</div>
      <div class="flex flex-center background-secondary height-160 width-160 color-white margin-right-36 font-size-20 border-radius-60">60px</div>
    </div>
  </section>
  <section class="margin-top-bottom-120">
    <h1 class="margin-bottom-48 color-orange font-size-88">Heading</h1>
    <h1 class="margin-bottom-32">h1. Heading-01</h1>
    <h2 class="margin-bottom-32">h2. Heading-02</h2>
    <h3 class="margin-bottom-32">h3. Heading-03</h3>
    <h4 class="margin-bottom-32">h4. Heading-04</h4>
    <h5 class="margin-bottom-32">h5. Heading-05</h5>
    <h6 class="margin-bottom-32">h6. Heading-06</h6>
    <h4 class="margin-top-60 margin-bottom-20">Use:
    </h4>
    <table class="border-radius-10 padding-top-bottom-12">
      <thead class="font-size-24">
        <tr>
          <th>Category</th>
          <th>HTML</th>
          <th>Properties</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>H1</td>
          <td>
            <xmp copy>
              <h1>h1. Heading-01</h1>
            </xmp>
          </td>
          <td>font-size: 3em;</td>
        </tr>
        <tr>
          <td>H2</td>
          <td>
            <xmp copy>
              <h1>h2. Heading-02</h1>
            </xmp>
          </td>
          <td>font-size: 2.4em;</td>
        </tr>
        <tr>
          <td>H3</td>
          <td>
            <xmp copy>
              <h1>h3. Heading-03</h1>
            </xmp>
          </td>
          <td>font-size: 2.1em;</td>
        </tr>
        <tr>
          <td>H4</td>
          <td>
            <xmp copy>
              <h1>h4. Heading-04</h1>
            </xmp>
          </td>
          <td>font-size: 1.8em;</td>
        </tr>
        <tr>
          <td>H5</td>
          <td>
            <xmp copy>
              <h1>h5. Heading-05</h1>
            </xmp>
          </td>
          <td>font-size: 1.5em;</td>
        </tr>
        <tr>
          <td>H6</td>
          <td>
            <xmp copy>
              <h1>h6. Heading-06</h1>
            </xmp>
          </td>
          <td>font-size: 1.2em;</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="margin-top-bottom-120">
    <h1 class="margin-bottom-48 color-orange font-size-88">Paragraph</h1>
    <p class="margin-bottom-24">This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.</p>
    <p class="margin-bottom-24">This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.</p>
    <p class="margin-bottom-24">This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.</p>
    <p>This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.</p>
    <h4 class="margin-top-60 margin-bottom-20">Use:
    </h4>
    <table class="border-radius-10 padding-top-bottom-12">
      <thead class="font-size-24">
        <tr>
          <th>Category</th>
          <th>HTML</th>
          <th>Properties</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Basic</td>
          <td>
            <xmp copy>
              <p><span>This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.This is a long paragraph.</span></p>
            </xmp>
          </td>
          <td class="text-nowrap">color:#555;<br>line-height:1.5em;</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="margin-top-bottom-120">
    <h1 class="margin-bottom-48 color-orange font-size-88">Text</h1>
    <div class="flex flex-column">
      <span class="margin-bottom-12">This is a This is a loooooooooooooooooooooooooooooooong text. text. (base)</span>
      <span class="margin-bottom-12 text-disabled">This is a This is a loooooooooooooooooooooooooooooooong text. text. (disabled)</span>
      <span class="margin-bottom-12 color-orange">This is a This is a loooooooooooooooooooooooooooooooong text. text. (color)</span>
      <u class="margin-bottom-12">This is a This is a loooooooooooooooooooooooooooooooong text. text. (underline)</u>
      <del class="margin-bottom-12">This is a This is a loooooooooooooooooooooooooooooooong text. text. (delete)</del>
      <strong class="margin-bottom-12">This is a This is a loooooooooooooooooooooooooooooooong text.. (strong)</strong>
      <i class="margin-bottom-12">This is a This is a loooooooooooooooooooooooooooooooong text.. (italic)</i>
      <a
        href="https://newurtopia.de"
        target="_blank"
        class="margin-bottom-12">This is a This is a loooooooooooooooooooooooooooooooong text.. (link)</a>
    </div>
    <h4 class="margin-top-60 margin-bottom-20">Use:
    </h4>
    <table class="border-radius-10 padding-top-bottom-12">
      <thead class="font-size-24">
        <tr>
          <th>Category</th>
          <th>HTML</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Basic</td>
          <td>
            <xmp copy>
              <span>This is a This is a loooooooooooooooooooooooooooooooong text.</span>
            </xmp>
          </td>
        </tr>
        <tr>
          <td>Disabled</td>
          <td>
            <xmp copy>
              <span class="text-disabled">This is a This is a loooooooooooooooooooooooooooooooong text.</span>
            </xmp>
          </td>
        </tr>
        <tr>
          <td>Color</td>
          <td>
            <xmp copy>
              <span class="color-orange">This is a This is a loooooooooooooooooooooooooooooooong text.</span>
            </xmp>
          </td>
        </tr>
        <tr>
          <td>Underline</td>
          <td>
            <xmp copy>
              <u>This is a This is a loooooooooooooooooooooooooooooooong text.</u>
            </xmp>
          </td>
        </tr>
        <tr>
          <td>Delete</td>
          <td>
            <xmp copy>
              <del>This is a This is a loooooooooooooooooooooooooooooooong text.</del>
            </xmp>
          </td>
        </tr>
        <tr>
          <td>Strong</td>
          <td>
            <xmp copy>
              <strong>This is a This is a loooooooooooooooooooooooooooooooong text.</strong>
            </xmp>
          </td>
        </tr>
        <tr>
          <td>Italic</td>
          <td>
            <xmp copy>
              <i>This is a This is a loooooooooooooooooooooooooooooooong text.</i>
            </xmp>
          </td>
        </tr>
        <tr>
          <td>Link</td>
          <td>
            <xmp copy>
              <a href="https://newurtopia.de" target="_blank">This is a This is a loooooooooooooooooooooooooooooooong text.</a>
            </xmp>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="margin-top-bottom-120">
    <h1 class="margin-bottom-48 color-orange font-size-88">Image</h1>
    <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1_cc8f8aa6-d2fe-4b81-8c36-6311b511a19d.jpg?v=1692358285" alt="">
    <div class="grid-box grid-columns-3 grid-column-gap-24 margin-top-60">
      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1_cc8f8aa6-d2fe-4b81-8c36-6311b511a19d.jpg?v=1692358285" alt="">
      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1_cc8f8aa6-d2fe-4b81-8c36-6311b511a19d.jpg?v=1692358285" alt="">
      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1_cc8f8aa6-d2fe-4b81-8c36-6311b511a19d.jpg?v=1692358285" alt="">
    </div>
    <div class="grid-box grid-columns-2 grid-column-gap-24 margin-top-60 text-center">
      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1_cc8f8aa6-d2fe-4b81-8c36-6311b511a19d.jpg?v=1692358285" alt="">
      <p class="flex flex-center">
        <span>
          This is a loooooooooooooooooooooooooooooooong text. This is a loooooooooooooooooooooooooooooooong text. This is a loooooooooooooooooooooooooooooooong text. This is a loooooooooooooooooooooooooooooooong text.
          This is a loooooooooooooooooooooooooooooooong text. This is a loooooooooooooooooooooooooooooooong text. This is a loooooooooooooooooooooooooooooooong text. This is a loooooooooooooooooooooooooooooooong text.
        </span>
      </p>
    </div>
    <div class="grid-box grid-columns-2 grid-column-gap-24 margin-top-60 text-center">
      <p class="flex flex-center">
        <span>
          This is a loooooooooooooooooooooooooooooooong text. This is a loooooooooooooooooooooooooooooooong text. This is a loooooooooooooooooooooooooooooooong text. This is a loooooooooooooooooooooooooooooooong text.
          This is a loooooooooooooooooooooooooooooooong text. This is a loooooooooooooooooooooooooooooooong text. This is a loooooooooooooooooooooooooooooooong text. This is a loooooooooooooooooooooooooooooooong text.
        </span>
      </p>
      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1_cc8f8aa6-d2fe-4b81-8c36-6311b511a19d.jpg?v=1692358285" alt="">
    </div>
    <h4 class="margin-top-60 margin-bottom-20">Use:
    </h4>
    <table class="border-radius-10 padding-top-bottom-12">
      <thead class="font-size-24">
        <tr>
          <th>Category</th>
          <th>HTML</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Fill Content</td>
          <td>
            <xmp copy>
              <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1_cc8f8aa6-d2fe-4b81-8c36-6311b511a19d.jpg" alt="">
            </xmp>
          </td>
        </tr>
        <tr>
          <td>Column</td>
          <td>
            <xmp copy>
              <div class="grid-box grid-columns-3 grid-column-gap-24">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1_cc8f8aa6-d2fe-4b81-8c36-6311b511a19d.jpg" alt="">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1_cc8f8aa6-d2fe-4b81-8c36-6311b511a19d.jpg" alt="">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1_cc8f8aa6-d2fe-4b81-8c36-6311b511a19d.jpg" alt="">
              </div>
            </xmp>
          </td>
        </tr>
        <tr>
          <td>Image with Text</td>
          <td>
            <xmp copy>
              <div class="grid-box grid-columns-2 grid-column-gap-24 text-center">
                <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/1_cc8f8aa6-d2fe-4b81-8c36-6311b511a19d.jpg?" alt="">
                <p class="flex flex-center">
                  <span>
                    This is a loooooooooooooooooooooooooooooooong text.
                    This is a loooooooooooooooooooooooooooooooong text.
                  </span>
                </p>
              </div>
            </xmp>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="margin-top-bottom-120">
    <h1 class="margin-bottom-48 color-orange font-size-88">Video</h1>
    <h4 class="margin-top-40 margin-bottom-28">YouTube:
    </h4>
    <div class="video">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/GBt6O-Zw8C8?start=0&autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <h4 class="margin-top-80 margin-bottom-28">Internal:
    </h4>
    <div class="video">
      <video
        muted
        playsinline
        autoplay
        loop
        poster="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18289.jpg?v=1678183108">
        <source src="https://player.vimeo.com/progressive_redirect/playback/804813270/rendition/1080p/file.mp4?loc=external&amp;signature=b4ef0be9fe17055f9e9af17495e1c3950e3237013d10121b24c64d9a7b84abae" type="video/mp4">
      </video>
    </div>
    <h4 class="margin-top-60 margin-bottom-20">Use:
    </h4>
    <table class="border-radius-10 padding-top-bottom-12">
      <thead class="font-size-24">
        <tr>
          <th>Category</th>
          <th>HTML</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>YouTube</td>
          <td>
            <xmp class="text-wrap" copy>
              <div class="video">
                  <iframe
                      width="100%"
                      height="100%"
                      src="https://www.youtube.com/embed/GBt6O-Zw8C8?start=0&autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen>
                  </iframe>
              </div>
            </xmp>
          </td>
        </tr>
        <tr>
          <td>Internal</td>
          <td>
            <xmp class="text-wrap" copy>
              <div class="video">
                <video
                    muted
                    playsinline
                    autoplay
                    loop
                    poster="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18289.jpg?v=1678183108">
                    <source src="https://player.vimeo.com/progressive_redirect/playback/804813270/rendition/1080p/file.mp4?loc=external&amp;signature=b4ef0be9fe17055f9e9af17495e1c3950e3237013d10121b24c64d9a7b84abae" type="video/mp4">
                </video>
              </div>
            </xmp>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section style="background-color: #ccc;" class="padding-top-60 padding-bottom-100 margin-bottom-120">
    <h1 class="margin-bottom-48 color-orange font-size-88">Button</h1>
    <div class="flex flex-align-center">
      <div class="my-button margin-right-20">Order now</div>
      <div class="my-button my-button-black margin-right-20">Order now</div>
      <div class="my-button my-button-origin margin-right-20">Order now</div>
      <div class="my-button my-button-white margin-right-20">Order now</div>
      <div class="my-button my-button-ghost margin-right-20">Order now</div>
      <a class="my-link" href="https://newurtopia.de">Learn More</a>
    </div>
    <div class="flex flex-align-center margin-top-24">
      <div class="my-button my-button-black margin-right-20 width-320">Add to Cart</div>
      <div class="my-button my-button-origin margin-right-20 width-320">Buy now</div>
    </div>
    <div class="flex flex-align-center margin-top-24">
      <a class="my-button my-button-black margin-right-20 width-240">Go to Home page</a>
      <a class="my-button my-button-ghost margin-right-20 width-280">Go to Cart</a>
    </div>
    <div class="flex flex-align-center margin-top-24">
    </div>
    <h4 class="margin-top-60 margin-bottom-20">Use:
    </h4>
    <table class="border-radius-10 padding-top-bottom-12">
      <thead class="font-size-24">
        <tr>
          <th>Category</th>
          <th>HTML</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Basic</td>
          <td>
            <xmp copy>
              <a href="/" class="my-button">Order now</a>
            </xmp>
          </td>
        </tr>
        <tr>
          <td>Black</td>
          <td>
            <xmp copy>
              <a href="/" class="my-button my-button">Order now</a>
            </xmp>
          </td>
        </tr>
        <tr>
          <td>Orange</td>
          <td>
            <xmp copy>
              <a href="/" class="my-button my-button-origin">Order now</a>
            </xmp>
          </td>
        </tr>
        <tr>
          <td>White</td>
          <td>
            <xmp copy>
              <a href="/" class="my-button my-button-white">Order now</a>
            </xmp>
          </td>
        </tr>
        <tr>
          <td>Ghost</td>
          <td>
            <xmp copy>
              <a href="/" class="my-button my-button-ghost">Order now</a>
            </xmp>
          </td>
        </tr>
        <tr>
          <td>Link</td>
          <td>
            <xmp copy>
              <a href="/" class="my-link">Learn More</a>
            </xmp>
          </td>
        </tr>
        <tr>
          <td>AddToCart</td>
          <td>
            <xmp copy>
              <a href="/" class="my-button my-button-black width-320">Add to Cart</a>
            </xmp>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="padding-top-60 padding-bottom-100 margin-bottom-120">
    <h1 class="margin-bottom-48 color-orange font-size-88">Other</h1>
    <table class="border-radius-10 padding-top-bottom-12">
      <thead class="font-size-24">
        <tr>
          <th>Class</th>
          <th>HTML</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Basic</td>
          <td>
            <xmp copy>
              <a href="/" class="my-button">Order now</a>
            </xmp>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</article>

<script>
  $('article [copy]').on('click', e => {
    navigator.clipboard.writeText($(e.target).text())
  })
</script>