.product {
    margin: 80px 0;

    .mb16 {
        margin-bottom: 12px;
    }

    .centeral-content {
        display: grid;
        grid-template-columns: 1.77fr 1fr;

        .product-panel {
            display: flex;
            flex-direction: column;
            min-width: 400px;

            .sale {
                background-image: linear-gradient(180deg, #EE6426, #F4492A);
                border-radius: 25px;
                display: flex;
                justify-content: space-between;
                padding: 0 10px;
                align-items: center;

                .u17DemiBold_v2 {
                    color: #fff;
                    flex: 1;
                    text-align: center;
                    line-height: 1em;
                }

                .u20DemiBold_v2 {
                    color: #EB5A2D;
                    background-color: #fff;
                    border-radius: 20px;
                    padding: 3px 10px;
                    margin: 6px 0;
                }
            }

            .sale_acc {
                border-radius: 10px;
                box-shadow: 0px 3px 20px #00000015;
                padding: 8% 2% 2.5%;
                position: relative;

                .u14Light_v2 {
                    background-image: linear-gradient(180deg, #EE6426, #F4492A);
                    color: #fff;
                    position: absolute;
                    border-radius: 10px;
                    left: 0;
                    top: 0;
                    padding: 1% 2%;
                }

                .accs {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-column-gap: 5%;

                    .acc {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        text-align: center;

                        img {
                            max-width: 50%;
                        }
                    }
                }

                .u11Light_v2 {
                    margin-top: 2.5%;
                }
            }

            .count-down {
                color: #EB5A2D;
            }

            .options {
                .Style {
                    display: flex;

                    &>div {
                        width: 30px;
                        height: 30px;
                        margin-right: 5%;
                        border-radius: 50%;
                        cursor: pointer;
                        box-sizing: content-box;

                        &::after {
                            content: "";
                            display: inline-block;
                            height: 26px;
                            margin: 2px;
                            width: 26px;
                            border-radius: 100%;
                        }

                        &[attribute="Sirius"] {
                            background-color: #FA812B;
                        }

                        &[attribute="Lyra"] {
                            background-color: #747474;
                        }

                        &[attribute="vanilla"] {
                            background-color: #FAF5E7;
                        }

                        &[attribute="Midnight in Paris"] {
                            background-color: #FFEC0B;
                            position: relative;
                        }

                        &[attribute="Midnight in Paris"]::before {
                            content: "";
                            display: inline-block;
                            background-color: #ff6c00;
                            position: absolute;
                            z-index: 1;
                            width: 26px;
                            height: 50%;
                            border-top-right-radius: 100px;
                            border-top-left-radius: 100px;
                            top: 2px;
                            left: 2px;
                            right: 2px;
                        }
                    }

                    .active {
                        background-color: transparent !important;
                        border: 2px solid #666;

                        &[attribute="Sirius"]::after {
                            background-color: #FA812B;
                        }

                        &[attribute="Lyra"]::after {
                            background-color: #747474;
                        }

                        &[attribute="vanilla"]::after {
                            background-color: #FAF5E7;
                        }

                        &[attribute="Midnight in Paris"]::after {
                            background-color: #FFEC0B;
                        }
                    }
                }
            }
        }
    }
}


.carbon-one {
    .mediaaaaa {
        padding: 80px 0;

        .centeral-content {
            display: grid;
            grid-template-columns: repeat(3, 300px);
            grid-row-gap: 10vh;
            justify-content: space-between;


            &>div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                img {
                    &:nth-child(3) {
                        max-width: 100px;
                        margin: 15px 0;
                    }

                    &:nth-child(4) {
                        height: 60px;
                        width: auto;
                    }
                }
            }
        }
    }



    .assembly {
        margin: 120px 0;

        .centeral-content {
            display: grid;
            grid-template-columns: 1fr 1.8fr;

            &>div {
                &:first-child {
                    padding: 14vh 3.5vw;

                    .u36DemiBold_v2 {
                        margin-bottom: 40px;
                    }
                }

                &:last-child {
                    background: center center/cover no-repeat;
                    background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20940_2x_f524b1be-7a39-4892-b6d0-279d260cbbd2.jpg?v=1682581556');
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 76px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


@media (max-width: 767px) {
    .carbon-one {
        .mediaaaaa {
            .centeral-content {
                display: flex;
                justify-content: unset;
                overflow: hidden;
                box-sizing: content-box;
                padding: unset;


                &>div {
                    padding: 0 8vw;
                }
            }

            .swiper-pagination {
                position: static;
                margin-top: 30px;


                .swiper-pagination-bullet {
                    height: 6px;
                    width: 6px;
                }

                .swiper-pagination-bullet-active {
                    width: 30px;
                    height: 6px;
                    border-radius: 5px;
                    transition: all .3s;
                }
            }


        }


        .assembly {
            margin: 60px 0;
    
            .centeral-content {
                grid-template-columns: 1fr;
    
                &>div {
                    &:last-child {
                        height: calc(84vw - 60px);
                    }

                    &:first-child {                        
                        order: 1;
                        padding: 40px 15px;


                        .u36DemiBold_v2 {
                            font-size: 24px;
                            margin-bottom: 20px;
                        }


                        .u17DemiLight_v2 {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}