.chord-ebike {
    background-color: #F7F8FA;

    .topbar {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 666;
        width: 100%;
        background-color: rgb(255 255 255 / 65%);
        backdrop-filter: saturate(180%) blur(20px);
        box-shadow: 0px 3px 6px #00000014;
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
        height: 60px; 

        .centeral-content {
            display: flex;
            align-items: center;
            height: 100%;

            a {
                text-align: center;
            }

            a + a {
                margin-left: 15px;
            }
            
            .my-button {
                padding: 7px 20px;
                font-size: 12px;
            }
        }
    }

    .banner {
        height: calc(100vh - 166px);
        position: relative;
        overflow: hidden;
        color: #fff;
        display: flex;
        align-items: center;

        .centeral-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            z-index: 1;

            .u24Light_v2 {
                margin: 2vh 0 10vh;
            }

            .my-button {
                margin: 0 12px 12px 0;
            }
        }

        video {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            height: 100%;
            object-fit: cover;
        }
    }


    .artist {
        padding: 140px 0;

        .centeral-content {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 6vw;

            &>div {
                display: flex;
                flex-direction: column;

                .u20Medium_v2 {
                    margin: 20px 0 96px;
                }

                .boxs {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);

                    &>div {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        background-color: #fff;
                        border-radius: 10px;
                        box-shadow: -20px -20px 50px 1px #ffffff;
                        padding: 20% 0;

                        &:first-child {
                            background-color: transparent;
                            box-shadow: none;
                            padding: 16% 0;
                        }

                        &:not(:first-child) {
                            padding-left: 20%;
                        }

                        .u48DemiBold_v2+.u48DemiBold_v2 {
                            margin-top: 40px;
                        }

                        &:last-child {
                            color: #fff;
                            background: url(https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_20536.jpg) left top/cover no-repeat;
                            border-radius: 10px;
                            box-shadow: -20px -20px 50px 1px #ffffff;
                        }
                    }


                }
            }
        }
    }

    .bikes {
        padding-bottom: 140px;

        .centeral-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 4vw;

            &>div {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                position: relative;
                padding: 40px 10px 60px;
                box-sizing: border-box;
                background-color: #fff;
                border-radius: 15px;
                box-shadow: 5px 10px 15px 0 #e9e9e9;

                .dots {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;

                    &>div {
                        width: 20px;
                        height: 20px;
                        margin: 7.5px;
                        border-radius: 50%;
                        cursor: pointer;
                        box-sizing: content-box;

                        &::after {
                            content: "";
                            display: inline-block;
                            height: 16px;
                            margin: 2px;
                            width: 16px;
                            border-radius: 100%;
                        }

                        &[white] {
                            background-color: #ddd;
                        }

                        &[black] {
                            background-color: #000;
                        }
                    }

                    .active {

                        &[white],
                        &[black] {
                            background-color: transparent;
                            border: 2px solid #666;
                        }

                        &[white]::after {
                            background-color: #ddd;
                        }

                        &[black]::after {
                            background-color: #000;
                        }
                    }


                }


                .infos {
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                    align-items: flex-end;

                    .u20Light_v2 {
                        margin-top: 8px;
                    }
                }
            }
        }
    }

}


