.chord-ebike {
    background-color: #F7F8FA;

    .topbar {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 666;
        width: 100%;
        background-color: rgb(255 255 255 / 65%);
        backdrop-filter: saturate(180%) blur(20px);
        box-shadow: 0px 3px 6px #00000014;
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
        height: 60px; 


    }


}


