@keyframes toTop {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    /* 50% {
      opacity: 0.5;
      transform: translateY(-20px);
    } */

    100% {
        transform: translateY(-40px);
        opacity: 1;
    }
}

@keyframes toBottom {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    /* 50% {
      opacity: 0.5;
      transform: translateY(20px);
    } */

    100% {
        transform: translateY(40px);
        opacity: 0;
    }
}

.collection-banner {
    background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230630-094636.jpg?v=1688090212') center center/cover no-repeat;
    .centeral-content {
        height: 650px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: #fff;

        & > div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .u72DemiBold_v2 {
                margin: 10px 0 40px;
            }

            .u17Light_v2 {
                max-width: 400px;
            }
        }
    }
}

.banner {
    height: calc(100vh - 106px);
    position: relative;
    color: #fff;
    overflow-x: hidden;

    .centeral-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;

        &>div {
            &:first-child {
                flex: 1;
                display: flex;
                flex-direction: column;
            }

            &:last-child {
                display: flex;
                flex-direction: column;
            }
        }

        .buttons {
            a {
                margin: 0 12px 12px 0;
            }

            &>a+a {
                margin: 0;
            }
        }
    }

    .swiper-wrapper {
        .swiper-slide {
            background: center center/cover no-repeat;
        }


        // 常规banner
        .common {
            background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230418-105138.jpg?v=1681786322');

            .centeral-content {
                &>div {
                    &:last-child {
                        max-width: 500px;
                        text-align: left;
                    }
                }
            }

            .right {
                .u60DemiBold_v2 {
                    margin: 10px 0 110px;
                }
            }
        }


        // maksim banner
        .maksim {
            background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230418-110500.jpg?v=1681787114');

            .centeral-content {
                &>div {
                    &:last-child {
                        max-width: 550px;
                    }
                }
            }

            .right {
                .u48DemiBold_v2 {
                    margin: 16px 0 136px;
                }
            }
        }

      .summer-sale {
            background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_21039_2x_1cb9b026-5642-49ed-9914-abb3e6630212.jpg?v=1688695332');

            .centeral-content {
                // height: 85%;
                
                &>div {
                    & > img {
                        max-width: 318px;
                    }

                    .u36DemiBold_v2 {
                        margin: 20px 0 60px;
                    }
                }
            }
        }

        .leasing {
            background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20984_2x_94ab1de8-17d3-48cd-b2f3-1ec58ed8098e.jpg?v=1686661143');

            .centeral-content {
                & > div {
                    &:last-child {
                        flex: 1;

                        .imgaes {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: 60px;
                            grid-gap: 40px;
                            margin: 70px 0 140px;

                            img {
                                width: auto;
                                max-height: 60px;
                            }
                        }
                    }
                }
            }
        }



        .count-down {
            height: 300px;
            transform: translateX(-35px);
            overflow: hidden;
            margin-top: -10px;
        }

        .count-down-gif {
            max-width: 370px;
            overflow: hidden;
            margin-top: 20px;

            img {
                transform: translateY(15%);
            }
        }
    }


    .swiper-pagination-bullet {
        height: 6px;
        width: 6px;
        background-color: #d5d5d5;
        opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
        width: 30px;
        height: 6px;
        border-radius: 5px;
        transition: all .3s;
        opacity: 1;
    }
}


.home-page-media {
    display: flex;
    height: 340px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 75px 0;
    box-sizing: border-box;
    background-color: #f7f8fa;

    .texts {
        flex: 1;
        font: normal normal bold 30px/40px Urbane;
        display: flex;
        align-items: center;
        flex-direction: column;

        div {
            animation-duration: 0.5s;
            animation-timing-function: ease-out;
        }

        .toTop {
            opacity: 1;
            animation-name: toTop;
            transform: translateY(-40px);
        }

        .toBottom {
            opacity: 0;
            animation-name: toBottom;
            transform: translateY(40px);
        }
    }

    .logos {
        img {
            height: 48px;
            width: auto;
            margin: 0 39px;
            opacity: 0.5;

            &[active] {
                opacity: 1;
            }
        }
    }
}


.home-page-media-mb {
    padding-top: 65px;
    padding-bottom: 65px;
    background-color: #f7f8fa;
    overflow: hidden;

    .swiper-slide {
        box-sizing: border-box;
        padding: 0 10%;
          display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        img {
            height: 48px;
          width: auto;
        }

        .u20Medium {
            font-weight: 600;
            margin: 20px 0 40px;
            font-size: 22px;
            line-height: 26px;
        }
    }

    .swiper-pagination {
        position: static;
    }

    .swiper-pagination-bullet {
        height: 6px;
        width: 6px;
    }

    .swiper-pagination-bullet-active {
        width: 30px;
        height: 6px;
        border-radius: 5px;
        transition: all .3s;
    }
}


@media (max-width: 767px) {
    .collection-banner {
        background: none;

        .centeral-content {
            grid-template-columns: 1fr;
            padding: 0;
            height: unset;

            & > div {
                justify-content: unset;

                .u36DemiBold_v2 {
                    font-size: 20px;
                    color: var(--sale-color1);
                }

                .u72DemiBold_v2 {
                    font-size: 36px;
                    margin: 0 0 10px;

                    span {
                        color: var(--sale-color1);
                    }
                }

                .u17Light_v2 {
                    font-size: 14px;
                }

                &:first-child {
                    background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230630-094707.jpg?v=1688090223') center center/cover no-repeat;
                    height: 56vw;
                }

                &:last-child {
                    color: #000;
                    padding: 8vw;
                    background-color: #f7f8fa;
                }
            }
        }
    }


    .banner {
        height: calc(100vh - 98px);

        .centeral-content {
            &>div {
                &:last-child {
                    height: 100%;
                }
            }

            // .buttons {
            //     a {
            //         margin: 0 12px 12px 0;
            //     }

            //     & > a + a {
            //         margin: 0;
            //     }
            // }
        }


        .swiper-wrapper {
            .swiper-slide {
                background-position-y: top;
            }

            // 常规banner
            .common {
                background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230418-102832.png?v=1681784932');

                .right {
                    padding: 20vw 0;
                    color: #000;

                    .u24Medium_v2 {
                        font-size: 17px;
                    }

                    .u60DemiBold_v2 {
                        font-size: 30px;
                        margin-bottom: 0;
                        // margin: 10px 0 110px;
                    }
                }
            }


            .maksim {
                background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20869_2x_095b2a64-3bee-4b82-a920-f596bd11b508.jpg?v=1681788172');

                .right {
                    padding: 10vw 0 20vw;

                    .u48DemiBold_v2 {
                        font-size: 36px;
                        margin: 0;
                    }
                }
            }

            .spring-sale {
                background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18586_2x_1f62765a-3051-463a-a6d0-9d9f6fdbb0b7.jpg?v=1687281118');

                .centeral-content {
                    height: 100%;
                    align-items: unset;

                    &>div {
                        padding: 12vw 0 18vw;

                        img {
                            max-width: 250px;
                            // transform: translate(-15%);
                        }

                        .u56DemiBold_v2 {
                            font-size: 26px;
                        }

                        .u48Medium_v2,
                        .u36DemiBold_v2 {
                            font-size: 20px;
                        }

                        .u36DemiBold_v2 {
                            margin: 20px 0 0;
                        }
                    }
                }
            }

          .summer-sale {
                background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/prime_day_2x_3115957c-1fdb-4af1-90bd-988b22081918.jpg?v=1688696134');

                .centeral-content {
                    height: 100%;
                    align-items: unset;

                    &>div {
                        padding: 6vw 0 18vw;
                        align-items: center;
                        text-align: center;

                        & > img {
                            max-width: 192px;
                        }
    
                        .u36DemiBold_v2 {
                            font-size: 20px;
                            margin: 10px 0 0;
                        }
                    }
                }
            }

            .leasing {
                background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20985_2x_ce450aac-52e3-4e0b-8031-c657fa46700d.jpg?v=1686662126');
    
                .centeral-content {
                    & > div {
                        &:last-child {
                            padding: 18vw 0;
                            flex: unset;

                            .imgaes {
                                grid-template-columns: 1fr;
                                grid-gap: 24px;
                                margin-top: 12vw;
                                margin-bottom: 0;

                                img {
                                    max-height: 32px;
                                }
                            }

                            .u36DemiBold_v2 {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }



            .count-down {
                height: 150px;
                width: 180px;
                transform: translate(-17px);
                margin-bottom: unset;
                // margin-top: -15px;
            }


            .count-down-gif {
                max-width: 210px;
                margin-top: 15px;
            }

        }
    }
}