.jobrad {
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .banner {
        background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20710_e3427a37-7527-41a4-bd8b-b2c4fed0ac72.jpg?v=1679968224') center center/cover no-repeat;
        overflow-x: hidden;
        height: 700px;
        display: flex;
        align-items: center;
        color: #fff;

        .centeral-content {
            display: flex;

            &>div {
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: flex-end;

                img {
                    width: 293px;
                }

                .u24Medium_v2 {
                    margin-top: 12px;
                    margin-bottom: 40px;
                }

                &:first-child {
                    align-items: flex-start;
                }

                &:last-child {
                    align-items: flex-end;
                }
            }
        }
    }


    .benefits {
        padding: 120px 0 100px;
        background-color: #F7F8FA;

        .centeral-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            &>div {
                display: flex;
                flex: 1;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding-right: 22%;

                &>div {
                    margin-top: 40px;

                    .u24Medium {
                        font-weight: 600;
                        margin-bottom: 12px;
                    }
                }

                .my-button {
                    margin-top: 50px;
                }
            }

            &>img {
                max-width: 582px;
                object-fit: contain;
            }
        }
    }


    .works {
        padding: 120px 0;

        .centeral-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            &>div {
                padding: 0 6.6%;

                .u20Medium {
                    margin: 24px 0;
                }

                .u17Light {
                    line-height: 24px;
                }

                .my-button {
                    margin-top: 40px;
                }
            }

            &>img {
                max-width: 582px;
                object-fit: contain;
            }
        }
    }


    .calculator {
        text-align: center;
        padding-bottom: 120px;

        .u48DemiBold {
            margin-bottom: 80px;
        }

        iframe {
            border: none;
        }
    }

    .faqs {
        padding: 80px 0;

        .faq {
            .faq-list {
                .faq-title {
                    width: 100%;
                    display: flex;
                    border-style: solid;
                    border-width: 0 0 1px;
                    border-color: #ebebeb;
                    text-align: left;
                    font: normal normal 600 24px/28px Urbane;
                    letter-spacing: 0;
                    color: #000;
                    background: #fff;
                    position: relative;
                    cursor: pointer;
                    align-items: center;
                    padding: 2.5vh 9%;
                    box-sizing: border-box;

                    .faq-content-plus:before {
                        content: '\f067';
                    }
                }

                .faq-title i {
                    position: absolute;
                    /* right: 20px; */
                    left: 3%;
                    display: inline-block;
                    font-size: 17px;
                    line-height: 1;
                    font-family: FontAwesome !important;
                    font-style: normal;
                    text-rendering: auto;
                    transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
                }

                .faq-content {
                    display: none;
                    padding: 20px 18% 0 9%;
                    font: normal normal normal 17px/24px Urbane;
                    color: #000;
                    opacity: 0.9;

                    a {
                        text-decoration: underline;
                    }
                }

                .faq-content-plus {
                    transform: rotate(90deg);
                }
            }

            .titlee {
                font: normal normal 600 42px/50px Urbane;
                color: #000;
                border-bottom: 1px solid #ebebeb;
                padding-bottom: 40px;
            }
        }
    }
}


@media (max-width: 767px) {
    .jobrad {

        .banner {
            background: #fff;
            color: #000;
            height: auto;
            padding: 43px 0 60px;

            .centeral-content {
                flex-direction: column;

                &>div {
                    .u48DemiBold_v2 {
                        font-size: 30px;
                        line-height: 34px;
                    }

                    .u24Medium_v2 {
                        font-size: 17px;
                        line-height: 24px;
                        margin: 20px 0 60px;
                    }

                    img {
                        max-width: 163px;
                        margin-bottom: 20px;
                    }
                }
            }
        }


        .benefits {
            padding: 0;

            .centeral-content {
                grid-template-columns: 1fr;
                padding: 0;

                &>div {
                    padding: 40px 8% 60px;

                    .u48DemiBold {
                        font-size: 24px;
                        line-height: 30px;
                    }

                    &>div {
                        margin-top: 24px;

                        .u24Medium {
                            font-size: 17px;
                            line-height: 20px;
                        }

                        .u17Light {
                            font-size: 15px;
                            line-height: 21px;
                        }
                    }

                    .my-button {
                        margin-top: 24px;
                    }
                }

                &>img {
                    max-width: none;
                }
            }
        }

        .works {
            padding: 0;

            .centeral-content {
                grid-template-columns: 1fr;
                padding: 0;

                &>div {
                    padding: 40px 8%;

                    .u48DemiBold {
                        font-size: 24px;
                        line-height: 30px;
                    }

                    .u20Medium {
                        font-size: 17px;
                        font-weight: 600;
                    }

                    .u17Light {
                        font-size: 15px;
                        line-height: 21px;
                    }

                    .my-button {
                        margin-top: 24px;
                    }
                }

                img {
                    max-width: none;
                }
            }
        }


        .calculator {
            text-align: left;
            padding-bottom: 60px;


            .u48DemiBold {
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 40px;
            }
        }


        .faqs {
            padding: 60px 0;

            .centeral-content {
                padding: 0 4%;

                .faq {
                    .faq-list {
                        .faq-title {
                            font-size: 18px;
                            line-height: 24px;
                            padding: 20px 9%;

                            i {
                                top: 22px;
                            }
                        }

                        .faq-content {
                            padding: 10px 9%;
                            padding-right: 0;
                            font-size: 15px;
                            line-height: 21px;
                        }
                    }

                    .swiper {
                        padding-right: 10px;
                    }

                    .titlee {
                        font-size: 24px;
                        line-height: 27px;
                        padding-bottom: 24px;
                    }
                }
            }
        }
    }
}