.partners-dialog {
    background: #fff;
    border-radius: 15px;
    width: 1000px;
    display: flex;
    flex-direction: column;

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e5e5e5;
        padding: 2% 3% 2% 6%;

        img {
            max-height: 50px;
            width: auto;
        }

        span {
            color: #999;
            font-size: 30px;
            font-weight: 100;
            cursor: pointer;
            max-height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }

    .foot {
        padding: 3% 2% 3% 6%;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 35px;
        padding: 2% 4% 0 6%;

        &>div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .u20DemiBold_v2 {
            margin-bottom: 20px;
        }

        .u17DemiBold_v2 {
            margin-top: 24px;
        }

        .u14Light_v2 {
            margin-top: 12px;
        }
    }
}


.leasing-add {
    .banner_origin {
        background-image: linear-gradient(90deg, #EE6426, #F4492A);
        border-radius: 10px;
        display: inline-block;
        padding: 8px 16px;
    }

    .banner {
        background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20710_2x_ff56b746-8006-4ec2-8100-7f7a661c4df1.jpg?v=1683699884') center center/cover no-repeat;
        height: 700px;
        display: flex;
        align-items: center;
        color: #fff;

        .centeral-content {
            display: flex;

            &>div {
                display: flex;
                flex-direction: column;
                flex: 1;

                &:first-child {
                    flex: 1.25;
                    padding-bottom: 4vh;

                    .u20Light_v2 {
                        margin: 24px 0 40px;
                    }

                    .my-button {
                        margin: 0 12px 12px 0;
                    }
                }

                &:last-child {
                    align-items: flex-end;
                    justify-content: end;
                }


                img {
                    max-width: 340px;
                }
            }
        }
    }

    .partners {
        /* 设置按钮大小 */
        overflow-x: hidden;
        cursor: auto;
        color: #000;
        padding: 120px 0;

        &>.u48DemiBold_v2 {
            text-align: left;
            max-width: 1280px;
            margin: 0 auto 40px;
        }

        .swiper-slide {
            box-shadow: 3px 3px 30px #00000010;
            border-radius: 15px;
            overflow: hidden;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            box-sizing: border-box;
            // height: 450px;

            img {
                height: 35px;
                width: auto;
                margin-bottom: 6px;
            }

            .u24Medium_v2 {
                color: #CBCBCB;
            }

            .u17Light_v2 {
                margin: 12px 0;
            }

            .u17DemiBold_v2 {
                color: #000;
            }

            .my-button {
                margin-top: 30px;
            }
        }

        .buttons {
            max-width: 1280px;
            margin: auto;
            display: flex;
            justify-content: end;

            .swiper-button-prev,
            .swiper-button-next {
                margin-left: 20px;
                margin-top: 20px;
                position: static;
                background-color: #666;
                border-radius: 50%;
                padding: 20px;
                box-sizing: border-box;
                opacity: .5;
                z-index: 2;
            }

            .swiper-button-disabled {
                opacity: .25;
            }
        }
    }


    .parameters {
        padding: 100px 0 140px;
        background-color: #F7F8FA;

        .top-content {
            .select {
                background-color: #fff;
                border-radius: 30px;
                padding: 0 40px;
                margin: 30px 0 50px;
                height: 60px;
                border: 2px solid #fff;
                transition: all .3s;
                overflow: hidden;
                box-sizing: border-box;
                max-width: 370px;

                select {
                    width: 100%;
                    height: 100%;
                    font: normal normal 600 20px/1.4em urbane;
                    border: none;

                    

                    &:focus-visible {
                        outline-offset: unset;
                        box-shadow: unset;
                        outline: unset;
                        border-color: #000;
                    }

                    option[disabled] {
                        cursor: not-allowed;
                        color: #ccc;
                    }
                }

                &::after,
                &::before {
                    content: unset;
                }

                &:focus-within {
                    border: 2px solid #000;
                }
            }
        }

        .bottom-content {
            display: grid;
            grid-template-columns: 1fr 610px;
            grid-column-gap: 60px;

            &>div {
                display: flex;
                flex-direction: column;
                justify-content: center;

                &:first-child {
                    // https://cdn.shopify.com/s/files/1/0633/2068/6808/files/MaskGroup18145.png?v=1688105290
                    background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/MaskGroup18687.png?v=1688105290') center center/contain no-repeat;
                }

                .boxs {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-row-gap: 24px;

                    &>div {
                        display: flex;

                        img {
                            max-width: 35px;
                            max-height: 35px;
                            margin-right: 6px;
                        }
                    }
                }


                .boxs2 {
                    margin: 24px 0 40px;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 12px;

                    .u17DemiBold_v2 {
                        background-color: #213D4A;
                        opacity: 0.8;
                        border-radius: 10px;
                        color: #fff;
                        padding: 6px;
                        display: flex;
                        align-items: center;
                    }
                }


                .buttons {
                    display: flex;
                    flex-direction: column;
                    width: 60%;

                    a {
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }


    .why {
        margin: 120px 0;

        .centeral-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 50px;
            align-items: center;


            &>div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .u17Light_v2 {
                    margin: 36px 0;
                }
            }
        }
    }

    .what {
        display: grid;
        flex-direction: column;
        padding-top: 60px;

        .top,
        .bottom {
            .centeral-content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 80px;
            }
        }

        .bottom {
            background-color: #F7F8FA;
            padding: 40px 0 60px;
            margin-top: 40px;

            .u20DemiBold_v2 {
                margin: 24px 0 36px;
            }

            .centeral-content {
                &>div {
                    position: relative;

                    img {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
        }

        // .top {
        //     & > div {
        //         & :first-child {
        //             background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/3_2x_212df522-b272-4a54-99fa-ec6829dff114.png?v=1683709949') center center/contain no-repeat;

        //             img {
        //                 visibility: hidden;
        //             }
        //         }
        //     }
        // }
    }

    .glance {
        margin: 80px 0;

        .centeral-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            .u48DemiBold_v2 {
                margin-bottom: 20px;
            }

            .u20DemiBold_v2 {
                display: flex;
                background-color: #EFEFEF;
                border-radius: 10px;
                align-items: center;
                padding: 16px 0 16px 60px;
                margin-top: 20px;
                width: 74%;

                img {
                    max-width: 24px;
                    margin-right: 16px;
                }
            }
        }
    }


    .calculate {
        padding: 60px 0;
        background-color: #F7F8FA;

        .centeral-content {
            display: flex;
            flex-direction: column;

            .u48DemiBold_v2 {
                text-align: center;
                margin-bottom: 100px;
            }


            .videos {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 140px;

                &>div {
                    &:first-child {
                        .l {
                            margin: 12px 0 36px;
                        }
                    }

                    &:last-child {
                        display: flex;
                        flex-direction: column;

                        &>div {

                            &:last-child {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                flex: 1;
                                margin-top: 40px;
                                background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20970_2x_394cd223-4a0c-45ca-a910-6de5774a0e9d.jpg?v=1683715271') center center/cover no-repeat;

                                img {
                                    max-width: 76px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    .calculator {
        padding: 60px 0 120px;

        .u48DemiBold_v2 {
            text-align: center;
            margin-bottom: 36px;
        }

        iframe {
            border: none;
        }
    }


    .forms {
        padding: 70px 0;
        background-color: #F7F8FA;

        .centeral-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            max-width: 750px;

            &>div {
                &>.u24Medium_v2 {
                    margin: 24px 0 48px;
                }
            }

            .nothankyou {
                &>.u17Light_v2 {
                    margin: 24px 0;
                    max-width: 750px;
                }
            }

            .thankyou {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 100%;

                &>.u24Medium_v2 {
                    margin: 24px 0;
                    max-width: 750px;
                }

                .sooner {
                    background-color: #fff;
                    border-radius: 10px;
                    padding: 40px 30px 28px;
                    margin-top: 24px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    box-sizing: border-box;

                    .u24Medium_v2 {
                        padding: 28px 0 15px;
                        // max-width: 750px;
                    }

                    .choice {
                        display: grid;
                        border-top: 1px solid #eee;
                        grid-template-columns: repeat(2, minmax(300px, 1fr));
                        align-items: center;
                        text-align: left;
                        justify-items: flex-end;


                        &>img {
                            transform: translateY(-15%);
                            width: 90%;
                        }

                        &>div {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            width: 100%;

                            .u24DemiBold_v2 {
                                margin: 16px 0 8px;
                            }

                            .u17DemiBold_v2 {
                                span {
                                    &:first-child {
                                        display: inline-block;
                                        width: 70px;
                                    }
                                }
                            }

                            .u17Light_v2 {
                                color: #555;
                            }

                            img {
                                max-width: 250px;
                                margin-top: 16px;
                            }

                            .u14DemiBold_v2 {
                                background-image: linear-gradient(90deg, #EE6426, #F4492A);
                                color: #fff;
                                padding: 12px;
                                border-radius: 10px;
                                margin: 16px 0 24px;
                            }
                        }

                        .loading {
                            cursor: not-allowed;
                            opacity: 0.7;

                            i {
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }

            .forms-link {
                text-decoration: underline;
                color: #3B65EB;
                margin-top: 6px;
                display: inline-block;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }



            .item {
                display: flex;
                //max-width: 680px;
                flex-direction: column;
                width: 100%;
                position: relative;

                &+.item {
                    margin-top: 24px;
                }

                .u24Medium {
                    text-align: left;
                    margin-bottom: 12px;
                }

                .error {
                    transform: translateY(6px);
                    font-size: 12px;
                    transition: all .3s;
                    line-height: 1.25em;
                    color: red;
                    text-align: left;
                }

                input[type="text"],
                input[type="email"],
                input[type="tel"],
                select {
                    border-color: #00000034;
                    border-radius: 10px;
                    opacity: 1;
                    height: 47px;
                    line-height: 47px;
                    padding: 0 15px;
                    font-size: 17px;
                    line-height: 20px;
                    box-sizing: border-box;

                    &:focus-visible {
                        outline-offset: unset;
                        box-shadow: unset;
                        outline: unset;
                        border-color: #000;
                    }
                }

                input[type="image"] {
                    max-width: 50%;
                    // transform: translateY(-10%);
                    pointer-events: none;
                    user-select: none;
                }

                .mini-item {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 40px;

                    &>div {
                        display: flex;
                        flex-direction: column;
                    }
                }

                .checkbox {
                    display: flex;
                    align-items: center;

                    input {
                        min-width: 20px;
                        min-height: 20px;
                        margin-right: 12px;
                    }
                }

                i {
                    color: #FF0000;
                }

                .my-button {
                    margin-right: 15px;
                }

                button {
                    border: none;
                }


                .multiple-checkbox {
                    display: flex;

                    &>label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        width: 150px;
                        border: 2px solid #00000034;
                        border-radius: 10px;
                        height: 47px;
                        cursor: pointer;
                        margin-right: 15px;
                        transition: all .3s;
                        background-color: #fff;
                        position: relative;

                        img {
                            max-width: 20px;
                            margin-right: 6px;
                            display: none;
                        }


                        input {
                            opacity: 0;
                            margin: 0;
                            padding: 0;
                            position: absolute;
                        }
                    }

                    .active {
                        border-color: #000;
                    }
                }
            }

            .u17Medium {
                text-align: left;
            }
        }

        .SumoSelect {
            width: 100%;
            text-align: left;

            &>select {
                transform: translatex(-3300%);
            }

            &:focus-visible,
            &:focus {
                .CaptionCont {
                    border-color: #000;
                }
            }

            .CaptionCont {
                border: 2px solid #00000034;
                border-radius: 10px;
                height: 47px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                padding: 5px 13px;
                box-shadow: none;



                .placeholder {
                    font-style: unset;
                    font-size: 17px;
                    font-weight: 300;
                    background-color: #fff;
                }
            }
        }

        .SumoSelect.open>.optWrapper {
            top: 50px;
            border-radius: 10px;

            .options {
                .selected {
                    span {

                        i {
                            background-color: rgb(0, 115, 255);
                        }
                    }


                }

                .opt {
                    span {
                        margin-left: -27px;
                    }

                    label {
                        padding-left: 8px;
                    }
                }
            }
        }
    }

    .forms2 {
        margin: 80px 0;

        .centeral-content {
            &>div {
                display: flex;
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 10px;

                .texts {
                    flex: 1;
                    background-color: #F7F8FA;
                    padding: 3%;

                    img {
                        max-width: 158px;
                    }

                    .u36DemiBold_v2 {
                        padding: 15% 0 6%;
                        border-bottom: 1px solid #ddd;
                        margin-bottom: 6%;
                    }

                    .u17DemiBold_v2 {
                        margin: 12px 0;
                    }


                    .forms-link {
                        text-decoration: underline;
                        color: #3B65EB;
                        display: inline-block;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }

                .steps {
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    padding: 3% 5% 3% 3%;

                    .progress {
                        display: flex;
                        align-items: center;
                        user-select: none;
                        margin-bottom: 12%;

                        .item {
                            width: 15px;
                            height: 15px;
                            border: 2px solid #000;
                            border-radius: 50%;
                            opacity: 0.3;

                            img {
                                width: 20px;
                            }
                        }

                        .flex-1 {
                            border-bottom: 2px dashed #000;
                            opacity: 0.3;
                        }

                        .active {
                            opacity: 1;
                            border-bottom-style: solid;
                        }

                        .employer {
                            display: none;
                        }
                    }

                    .items {
                        // flex: 1;
                        display: flex;
                        flex-direction: column;

                        .item {
                            display: flex;
                            flex-direction: column;

                            &+.item {
                                margin-top: 24px;
                            }

                            .u24Medium {
                                text-align: left;
                                margin-bottom: 12px;
                            }

                            input[type="text"],
                            input[type="email"],
                            input[type="tel"],
                            select {
                                border-radius: 10px;
                                opacity: 1;
                                height: 47px;
                                line-height: 47px;
                                padding: 0 15px;
                                font-size: 17px;
                                line-height: 20px;
                                box-sizing: border-box;
                                border: 2px solid rgba(0, 0, 0, 0.3);
                                transition: all .3s;

                                &:focus-visible {
                                    outline-offset: unset;
                                    box-shadow: unset;
                                    outline: unset;
                                    border-color: #000;
                                }
                            }

                            input[type="image"] {
                                max-width: 50%;
                                transform: translateY(-20%);
                                pointer-events: none;
                                user-select: none;
                            }

                            .mini-item {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                grid-column-gap: 40px;

                                &>div {
                                    display: flex;
                                    flex-direction: column;
                                }
                            }

                            .checkbox {
                                display: flex;
                                align-items: center;

                                input {
                                    min-width: 20px;
                                    min-height: 20px;
                                    margin-right: 12px;
                                }
                            }

                            i {
                                color: #FF0000;
                            }

                            .my-button {
                                margin-right: 15px;
                            }


                            .multiple-checkbox {
                                display: flex;

                                &>label {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    text-align: center;
                                    width: 150px;
                                    border-radius: 10px;
                                    height: 47px;
                                    cursor: pointer;
                                    margin-right: 15px;
                                    transition: all .3s;
                                    background-color: #fff;
                                    position: relative;
                                    border: 2px solid rgba(0, 0, 0, 0.3);

                                    img {
                                        max-width: 20px;
                                        margin-right: 6px;
                                        display: none;
                                    }


                                    input {
                                        opacity: 0;
                                        margin: 0;
                                        padding: 0;
                                        position: absolute;
                                    }
                                }
                            }

                            .SumoSelect {
                                width: 100%;
                                text-align: left;

                                &>select {
                                    transform: translatex(-3300%);
                                }

                                &:focus-visible,
                                &:focus {
                                    .CaptionCont {
                                        border-color: #000;
                                    }
                                }

                                .CaptionCont {
                                    border: 2px solid #00000034;
                                    border-radius: 10px;
                                    height: 47px;
                                    box-sizing: border-box;
                                    display: flex;
                                    align-items: center;
                                    padding: 5px 13px;
                                    box-shadow: none;



                                    .placeholder {
                                        font-style: unset;
                                        font-size: 17px;
                                        font-weight: 300;
                                        background-color: #fff;
                                    }
                                }
                            }

                            .SumoSelect.open>.optWrapper {
                                top: 50px;
                                border-radius: 10px;

                                .options {
                                    .selected {
                                        span {

                                            i {
                                                background-color: rgb(0, 115, 255);
                                            }
                                        }


                                    }

                                    .opt {
                                        span {
                                            margin-left: -27px;
                                        }

                                        label {
                                            padding-left: 8px;
                                        }
                                    }
                                }
                            }


                            .error {
                                transform: translateY(6px);
                                font-size: 12px;
                                transition: all .3s;
                                line-height: 1.25em;
                                color: red;
                                text-align: left;
                            }

                            &[name="bike_image"] {
                                margin-bottom: -30px;
                            }
                        }


                        .buttons {
                            margin-top: 5%;

                            button {
                                border: none;
                            }

                            .my-button {
                                margin-right: 12px;
                            }
                        }

                        .infos {
                            display: flex;
                            flex-direction: column;
                            margin-top: 20px;

                            .block {
                                padding: 15px 0;
                                border-top: 1px solid #ddd;
                            }

                            .info {
                                display: flex;
                                margin-top: 6px;

                                label {
                                    flex: 1;
                                }

                                span {
                                    flex: 3;
                                    color: #555;
                                    word-break: break-all;
                                }

                                &[name="bike_image"] {
                                    .u17Light_v2 {
                                        display: flex;
                                        flex-direction: column;
                                        margin-bottom: -30px;
                                        transform: translateY(-30px);

                                        img {
                                            transform: translateY(-5%);
                                        }
                                    }
                                }
                            }

                            .u14Light_v2 {
                                margin-bottom: 12px;
                            }
                        }


                        img {
                            max-width: 50%;

                        }
                    }

                    .step-5 {
                        .buttons {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .faqs {
        padding: 80px 0;

        .faq {
            .faq-list {
                .faq-title {
                    width: 100%;
                    display: flex;
                    border-style: solid;
                    border-width: 0 0 1px;
                    border-color: #ebebeb;
                    text-align: left;
                    font: normal normal 600 24px/28px Urbane;
                    letter-spacing: 0;
                    color: #000;
                    background: #fff;
                    position: relative;
                    cursor: pointer;
                    align-items: center;
                    padding: 2.5vh 9%;
                    box-sizing: border-box;

                    .faq-content-plus:before {
                        content: '\f067';
                    }
                }

                .faq-title i {
                    position: absolute;
                    /* right: 20px; */
                    left: 3%;
                    display: inline-block;
                    font-size: 17px;
                    line-height: 1;
                    font-family: FontAwesome !important;
                    font-style: normal;
                    text-rendering: auto;
                    transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
                }

                .faq-content {
                    display: none;
                    padding: 20px 18% 0 9%;
                    font: normal normal normal 17px/24px Urbane;
                    color: #000;
                    opacity: 0.9;

                    a {
                        text-decoration: underline;
                        color: #3B65EB;

                        &:hover {
                            opacity: 0.8;
                        }

                    }
                }

                .faq-content-plus {
                    transform: rotate(90deg);
                }
            }

            .titlee {
                font: normal normal 600 42px/50px Urbane;
                color: #000;
                border-bottom: 1px solid #ebebeb;
                padding-bottom: 40px;
            }
        }
    }


    .companies {
        margin: 140px 0 60px;

        .centeral-content {
            &>div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-bottom: 80px;
                grid-column-gap: 85px;
            }
        }
    }
}


@media (max-width: 767px) {
    .leasing-add {
        .banner_origin {
            font-size: 14px;

            .u24DemiBold_v2 {
                font-size: 16px;
            }
        }

        .banner {
            background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20918_2x_69aafcfc-00d5-43cd-a8c8-58a610abf615.jpg?v=1683700910');
            height: calc(100vh - 107px);
            max-height: 600px;
            align-items: flex-end;

            .centeral-content {
                flex-direction: column-reverse;

                .u36DemiBold_v2 {
                    font-size: 17px;
                }

                .u72DemiBold_v2 {
                    font-size: 30px;
                }

                .u20Light_v2 {
                    font-size: 17px;
                }

                &>div {
                    img {
                        max-width: 140px;
                    }

                    &:last-child {
                        align-items: flex-start;
                        justify-content: end;
                    }


                    .buttons {
                        display: flex;
                        flex-direction: column;
                        width: 80%;
                    }
                }
            }
        }



        .parameters {
            padding: 30px 0;

            .top-content {
                .select {
                    margin: 20px 0;
                    height: 45px;
                    padding: 0 15px;
                    
                    select {
                        font-size: 12px;
                    }
                }

                .u48DemiBold_v2 {
                    font-size: 24px;
                }
            }

            .bottom-content {
                display: grid;
                grid-template-columns: 1fr;
                grid-column-gap: 0;
                overflow-x: hidden;

                &>div {
                    &:first-child {
                        padding-bottom: 70%;
                        margin: 0 -10% 30px;
                    }

                    .boxs {
                        grid-template-columns: repeat(2, 1fr);

                        &>div {
                            flex-direction: column;

                            .u17DemiBold_v2 {
                                font-size: 15px;
                            }
                        }
                    }

                    .boxs2 {
                        grid-template-columns: 1fr;
                        margin-bottom: 24px;
                        grid-gap: 6px;

                        .u17DemiBold_v2 {
                            padding: 9px 6px;
                            font-size: 14px;
                        }
                    }


                    .buttons {
                        width: 100%;
                    }
                }
            }
        }

        .why {
            margin: 60px 0;

            .centeral-content {
                padding: 0;
                grid-template-columns: 1fr;

                &>div {
                    padding: 0 8%;

                    .u48DemiBold_v2 {
                        font-size: 30px;
                    }

                    .u17Light_v2 {
                        font-size: 15px;
                        margin: 20px 0 40px;
                    }

                    .my-button {
                        margin-bottom: 40px;
                    }
                }
            }
        }


        .what {
            padding-top: 20px;

            .top {
                .centeral-content {
                    grid-template-columns: 1fr;

                    .u48DemiBold_v2 {
                        font-size: 24px;
                    }
                }
            }

            .bottom {
                margin-top: 40%;

                .centeral-content {
                    grid-template-columns: 1fr;

                    &>div {
                        &:first-child {
                            padding-bottom: 40%;
                        }

                        .u17Light_v2 {
                            font-size: 15px;
                            margin-top: 40px;
                        }

                        .u20DemiBold_v2 {
                            font-size: 17px;
                        }
                    }
                }
            }
        }

        .glance {
            margin: 60px 0;

            .centeral-content {
                .u48DemiBold_v2 {
                    font-size: 24px;
                }


                .u20DemiBold_v2 {
                    width: 100%;
                    padding: 12px 12px 12px 24px;
                    font-size: 17px;
                    margin-top: 6px;

                    img {
                        margin-right: 12px;
                        max-width: 18px;
                    }
                }
            }
        }


        .calculate {
            padding: 40px 0;

            .centeral-content {

                .u48DemiBold_v2 {
                    text-align: left;
                    margin-bottom: 24px;
                    font-size: 24px;
                }

                .videos {
                    grid-template-columns: 1fr;

                    .u17Light_v2 {
                        font-size: 15px;
                    }

                    .u20DemiBold_v2 {
                        font-size: 17px;
                    }

                    &>div {
                        &:last-child {
                            &>div {
                                &:last-child {
                                    margin: 12px 0 40px;
                                    height: 45vw;
                                    flex: unset;

                                    img {
                                        max-width: 55px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .calculator {
            padding: 40px 0 60px;

            .u48DemiBold_v2 {
                text-align: left;
                font-size: 24px;
                margin-bottom: 12px;
            }

            iframe {
                border: none;
            }
        }


        .forms {
            padding: 40px 0;
            background-color: #F7F8FA;

            .centeral-content {

                &>div {
                    &>.u48DemiBold_v2 {
                        font-size: 24px;
                    }

                    &>.u24Medium_v2 {
                        font-size: 17px;
                        margin: 24px 0 40px;
                    }
                }

                .nothankyou {
                    &>.u17Light_v2 {
                        font-size: 15px;
                    }
                }

                .thankyou {
                    .sooner {
                        padding: 24px;

                        .u48DemiBold_v2 {
                            font-size: 24px;
                        }

                        .u24Medium_v2 {
                            font-size: 17px;
                        }

                        .choice {
                            grid-template-columns: 1fr;
                            justify-items: center;

                            &>img {
                                width: 100%;
                            }

                            &>div {
                                .u30DemiBold_v2 {
                                    font-size: 24px;
                                }

                                .u24DemiBold_v2 {
                                    font-size: 17px;
                                }

                                .u14DemiBold_v2 {
                                    margin: 12px 0;
                                }
                            }
                        }
                    }
                }

                .item {
                    max-width: 84vw;

                    &+.item {
                        margin-top: 12px;
                    }

                    .mini-item {
                        grid-template-columns: 1fr;
                        grid-row-gap: 12px;
                    }

                    .u24Medium {
                        font-size: 15px;
                        line-height: 18px;
                        margin-bottom: 6px;
                    }

                    input[type="text"],
                    input[type="email"],
                    input[type="tel"],
                    select {
                        height: 40px;
                    }


                    input[type="image"] {
                        max-width: 100%;
                    }

                    .checkbox {
                        .u17Light {
                            font-size: 15px;
                            line-height: 22px;
                        }
                    }


                    .multiple-checkbox {

                        &>label {
                            height: 40px;
                            margin-right: 8px;

                            img {
                                margin-right: 3px;
                            }

                            .u17Medium_v2 {
                                font-size: 12px;
                            }
                        }

                        .u17Medium_v2 {
                            font-size: 14px;
                        }
                    }

                    .SumoSelect {

                        // width: 84%;
                        .CaptionCont {
                            height: 40px;

                            .placeholder {
                                font-size: 14px;
                            }
                        }
                    }

                }

                .u17Medium {
                    font-size: 15px;
                }
            }

            .SumoSelect.open>.optWrapper {
                top: 0;
                padding: 8vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: unset;
                max-width: unset;
                height: unset !important;
                max-height: unset;
                background-color: #00000090;
                border-radius: 0;

                .MultiControls {
                    position: static;
                    margin: 0;
                    border-radius: 0;
                }
            }


            .SumoSelect>.optWrapper.isFloating {
                .options {
                    box-shadow: unset;
                    width: 100%;
                    background-color: #fff;
                    border-radius: 0;
                }

                // bottom: unset;
                // top: 50%;
                // transform: translateY(-50%);
            }
        }


        .faqs {
            padding: 60px 0;

            .centeral-content {
                padding: 0 4%;

                .faq {
                    .faq-list {
                        .faq-title {
                            font-size: 18px;
                            line-height: 24px;
                            padding: 20px 9%;

                            i {
                                top: 22px;
                            }
                        }

                        .faq-content {
                            padding: 10px 9%;
                            padding-right: 0;
                            font-size: 15px;
                            line-height: 21px;
                        }
                    }

                    .swiper {
                        padding-right: 10px;
                    }

                    .titlee {
                        font-size: 24px;
                        line-height: 27px;
                        padding-bottom: 24px;
                    }
                }
            }
        }


        .forms2 {
            margin: 0;

            .centeral-content {
                background-color: #F7F8FA;
                padding: 0;

                &>div {
                    flex-direction: column;
                    box-shadow: unset;
                    border-radius: unset;

                    .texts {
                        padding: 15vw 8vw 10vw;

                        .u36DemiBold_v2 {
                            font-size: 24px;
                            padding-top: 24px;
                        }

                        .u17DemiBold_v2 {
                            font-size: 16px;
                        }

                        .u17Light_v2 {
                            font-size: 15px;
                        }
                    }

                    .steps {
                        padding: 6vw 8vw 15vw;
                        background-color: #fff;

                        .progress {
                            margin-bottom: 15vw;

                            .u17DemiBold_v2 {
                                font-size: 11px;
                                font-weight: 300;
                                width: 8px;
                                height: 8px;
                                border-width: 1px;

                                img {
                                    transform: translateX(-20%);
                                }
                            }

                            .flex-1 {
                                border-width: 1px;
                            }
                        }


                        .step-5 {
                            .buttons {
                                margin: 0;

                                .my-button {
                                    margin-bottom: 12px;
                                }
                            }
                        }

                        .items {
                            .item {
                                max-width: 84vw;

                                &+.item {
                                    margin-top: 12px;
                                }

                                .mini-item {
                                    grid-template-columns: 1fr;
                                    grid-row-gap: 12px;
                                }

                                .u24Medium {
                                    font-size: 15px;
                                    line-height: 18px;
                                    margin-bottom: 6px;
                                }

                                .multiple-checkbox {
                                    .u17Medium_v2 {
                                        font-size: 15px;
                                    }
                                }

                                input[type="text"],
                                input[type="email"],
                                input[type="tel"],
                                select {
                                    height: 40px;
                                }

                                .checkbox {
                                    .u17Light {
                                        font-size: 15px;
                                        line-height: 22px;
                                    }
                                }


                                .multiple-checkbox {

                                    &>label {
                                        height: 40px;
                                    }
                                }

                                .SumoSelect {

                                    // width: 84%;
                                    .CaptionCont {
                                        height: 40px;

                                        .placeholder {
                                            font-size: 14px;
                                        }
                                    }
                                }


                                .SumoSelect.open>.optWrapper {
                                    top: 0;
                                    padding: 8vw;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    width: unset;
                                    max-width: unset;
                                    height: unset;
                                    max-height: unset;
                                    background-color: #00000090;
                                    border-radius: 0;

                                    .MultiControls {
                                        position: static;
                                        margin: 0;
                                        border-radius: 0;
                                    }
                                }


                                .SumoSelect>.optWrapper.isFloating {
                                    .options {
                                        box-shadow: unset;
                                        width: 100%;
                                        background-color: #fff;
                                        border-radius: 0;
                                    }

                                    // bottom: unset;
                                    // top: 50%;
                                    // transform: translateY(-50%);
                                }

                                &[name="bike_image"] {
                                    margin-bottom: -8vw;

                                    input {
                                        max-width: unset;
                                        transform: translateY(-14vw);
                                    }
                                }
                            }

                            .infos {
                                margin-top: 10px;

                                .u20DemiBold_v2 {
                                    font-size: 16px;
                                }

                                .info {

                                    .u17Medium_v2,
                                    .u17Light_v2 {
                                        font-size: 15px;
                                    }

                                    span {
                                        flex: 1.15;
                                    }

                                    &[name="bike_image"] {
                                        flex-direction: column;

                                        .u17Light_v2 {
                                            align-items: center;
                                            text-align: center;

                                            img {
                                                max-width: unset;
                                            }
                                        }
                                    }

                                }
                            }

                            .u30DemiBold_v2 {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }

        .companies {
            margin: 60px 0 0;

            .centeral-content {
                padding: 0;

                &>div {
                    grid-template-columns: 1fr;
                    margin: 0;
                    padding: 0 8%;

                    .u48DemiBold_v2 {
                        font-size: 24px;
                    }

                    .u17Light_v2 {
                        font-size: 15px;
                        margin: 24px 0 36px;
                    }
                }
            }
        }

        .partners {
            padding: 60px 8vw;

            .u48DemiBold_v2 {
                font-size: 24px;
                margin-bottom: 24px;
            }

            .swiper-wrapper {
                flex-direction: column;

                .swiper-slide {
                    box-sizing: border-box;
                    padding: 24px;
                    height: unset;

                    .u17Light_v2 {
                        font-size: 15px;
                    }

                    .my-button {
                        margin-top: 10vw;
                    }
                }

                .swiper-slide+.swiper-slide {
                    margin-top: 20px;
                }
            }
        }
    }


    .partners-dialog {
        .head {
            padding: 4vw;

            img {
                max-height: 30px;
            }
        }

        .content {
            grid-template-columns: 1fr;
            padding: 4vw;
            flex: 1;
            overflow: auto;

            .u20DemiBold_v2 {
                margin: 0;
            }

            .u17DemiBold_v2 {
                font-size: 14px;
            }

            .u14Light_v2 {
                font-size: 12px;
            }

            img {
                margin-top: 10vw;
            }
        }

        .foot {
            padding: 4vw;
        }
    }
}