.leasing {
    .banner_origin {
        background-image: linear-gradient(90deg, #EE6426, #F4492A);
        border-radius: 10px;
        display: inline-block;
        padding: 8px 16px;
    }

    .banner {
        background: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20710_2x_b6b9d2a2-054e-4b45-a8de-bfb5d10161d7.jpg?v=1682426736') center center/cover no-repeat;
        height: 550px;
        color: #fff;

        .centeral-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;

            .u30DemiBold_v2 {
                margin: 12px 0 36px;
            }
        }
    }


    .benefits {
        padding-top: 60px;
        .centeral-content {
            display: grid;
            grid-template-columns: 42% 58%;
            align-items: center;

            & > div {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .u48DemiBold_v2 {
                    margin-bottom: 40px;
                }

                .u17Light_v2 {
                    margin: 20px 0 36px;
                }
            }
        }
    }


    .partners {
        padding: 140px 0;

        .centeral-content {
            .u48DemiBold_v2 {
                margin-bottom: 40px;
            }

            .boxs {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 56px;


                & > div {
                    box-shadow: 3px 3px 30px #00000010;
                    border-radius: 15px;
                    padding: 7% 9%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    img {
                        height: 60px;
                        width: auto;
                        max-width: 80%;
                    }

                    .u30Medium_v2 {
                        color: #CBCBCB;
                        margin: 12px 0 40px;
                    }

                    .u17Light_v2 {
                        margin-bottom: 60px;
                    }

                    .my-button-black {
                        margin: 0 12px 12px 0;
                    }
                }
            }
        }
    }


    .request {
        padding: 100px 0;
        .centeral-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 85px;
            align-items: center;


            & > div {
                padding-right: 15%;

                .u17Light_v2 {
                    margin: 24px 0 36px;
                }
    
                .my-button {
                    margin: 0 12px 12px 0;
                }
            }
        }
    }


    .faqs {
        padding: 80px 0;

        .faq {
            .faq-list {
                .faq-title {
                    width: 100%;
                    display: flex;
                    border-style: solid;
                    border-width: 0 0 1px;
                    border-color: #ebebeb;
                    text-align: left;
                    font: normal normal 600 24px/28px Urbane;
                    letter-spacing: 0;
                    color: #000;
                    background: #fff;
                    position: relative;
                    cursor: pointer;
                    align-items: center;
                    padding: 2.5vh 9%;
                    box-sizing: border-box;

                    .faq-content-plus:before {
                        content: '\f067';
                    }
                }

                .faq-title i {
                    position: absolute;
                    /* right: 20px; */
                    left: 3%;
                    display: inline-block;
                    font-size: 17px;
                    line-height: 1;
                    font-family: FontAwesome !important;
                    font-style: normal;
                    text-rendering: auto;
                    transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
                }

                .faq-content {
                    display: none;
                    padding: 20px 18% 0 9%;
                    font: normal normal normal 17px/24px Urbane;
                    color: #000;
                    opacity: 0.9;

                    a {
                        text-decoration: underline;
                    }
                }

                .faq-content-plus {
                    transform: rotate(90deg);
                }
            }

            .titlee {
                font: normal normal 600 42px/50px Urbane;
                color: #000;
                border-bottom: 1px solid #ebebeb;
                padding-bottom: 40px;
            }
        }
    }


    .companies {
        margin: 140px 0 60px;

        .centeral-content {
            & > div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-bottom: 80px;
                grid-column-gap: 85px;
            }
        }
    }
}



@media (max-width: 767px) {
    .leasing {
        .banner {
            background-image: url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20918_2x_cf4a7773-9ce5-4917-9d7f-a0d43fcd45c4.jpg?v=1682427703');
            height: 460px;

            .centeral-content {
                justify-content: flex-end;
                padding-bottom: 40px;

                .u36DemiBold_v2 {
                    font-size: 17px;
                }

                .u72DemiBold_v2 {
                    font-size: 30px;
                }

                .u30DemiBold_v2 {
                    margin: 24px 0;
                    font-size: 17px;
                }
            }
        }



        .benefits {
            padding: 40px 0 60px;
            .centeral-content {
                grid-template-columns: 1fr;


                & > div {
                    margin-top: 48px;
                    order: 1;


                    .u48DemiBold_v2 {
                        font-size: 24px;
                        margin-bottom: 12px;
                    }

                    .u20DemiBold_v2 {
                        font-size: 17px;

                        & > div {
                            margin-top: 12px;
                        }
                    }

                    .u17Light_v2 {
                        font-size: 15px;
                        margin: 40px 0;
                    }
                }
            }
        }


        .partners {
            padding: 60px 0;
    
            .centeral-content {

                .u48DemiBold_v2 {
                    font-size: 24px;
                }


                .boxs {
                    grid-template-columns: 1fr;
                    grid-row-gap: 30px;


                    & > div {
                        padding: 6% 7%;

                        img {
                            height: auto;
                            width: 100%;
                            max-width: unset;
                        }

                        .u30Medium_v2 {
                            font-size: 24px;
                        }

                        .u17Light_v2 {
                            font-size: 15px;
                            margin: -20px 0 20px;
                        }

                        &:first-child {
                            img {
                                max-width: 134px;
                            }
                        }
                    }
                }
            }

        }


        .request {
            padding: 60px 0;
            .centeral-content {
                grid-template-columns: 1fr;
                padding: 0;


                & > div {
                    padding: 10% 8% 0 8%;
                    .u48DemiBold_v2 {
                        font-size: 24px;
                    }


                    .u17Light_v2 {
                        font-size: 15px;
                        margin-bottom: 24px;
                    }
                }
            }
        }


        .faqs {
            padding: 60px 0;

            .centeral-content {
                padding: 0 4%;

                .faq {
                    .faq-list {
                        .faq-title {
                            font-size: 18px;
                            line-height: 24px;
                            padding: 20px 9%;

                            i {
                                top: 22px;
                            }
                        }

                        .faq-content {
                            padding: 10px 9%;
                            padding-right: 0;
                            font-size: 15px;
                            line-height: 21px;
                        }
                    }

                    .swiper {
                        padding-right: 10px;
                    }

                    .titlee {
                        font-size: 24px;
                        line-height: 27px;
                        padding-bottom: 24px;
                    }
                }
            }
        }


        .companies {
            margin: 60px 0 0;
    
            .centeral-content {
                padding: 0;

                & > div {
                    grid-template-columns: 1fr;
                    margin: 0;
                    padding: 0 8%;

                    .u48DemiBold_v2 {
                        font-size: 24px;
                    }

                    .u17Light_v2 {
                        font-size: 15px;
                        margin: 24px 0 36px;
                    }
                }
            }
        }
    }
}